/******** Loyalty Menu Icons ********/

/* Background Sprite */
#adminmenu #toplevel_page_loyalty_activities_alerts div.wp-menu-image {
	background-image: url('../img/loyalty-alert-icons-24.png');
}
#adminmenu #toplevel_page_loyalty_activities_alerts.wp-has-current-submenu div.wp-menu-image,
#adminmenu #toplevel_page_loyalty_activities_alerts:hover div.wp-menu-image {
	background-position: 0px -24px;
}
#adminmenu #toplevel_page_loyalty_activities_alerts div.wp-menu-image img {
	display:none;
}

.icon-loyalty-alerts {
	background-image: url('../img/loyalty-alert-icons-45.png');
	background-position: -5px -6px;
}

/*********** Page Context ***************/

div.alert_page {
	margin: 20px 12px 20px 0;
}

/*********** Widget Context ***************/

.more_alerts {
	font-size: 11px;
	margin: auto 10px;
}

.alert_widget .widefat td, .alert_widget .widefat th {
	line-height: 22px;
}

.alert_widget input[type="checkbox"], .alert_widget input[type="radio"] {
	margin-top: 6px;
}

.alert_widget .widefat thead tr th, 
.alert_widget .widefat tfoot tr th {
	background: none;
	background-color: #F8F8F8;
}

.empty_alert_widget {
	margin: auto 10px;
}

.alert_widget .widefat {
	border: none;
}
#out-of-stock div.inside,
#pending-shipping div.inside,
#pending-prizes div.inside,
#suspicious div.inside {
	margin: 0px;
}

/*********** Dashboard ***************/

#loyalty-overview-widget td {
	padding: 6px 10px 6px 0;
}

#loyalty-overview-widget td.b {
	text-align: right;
	font-weight: bold;
}

/*********** Out Of Stock ***************/

/*********** Pending Lottery ***************/

div#pending-lotteries a.close-link {
	 color: red;
 }
div#pending-lotteries a.close-link:hover {
	color: #D54E21;
}

/*********** Pending Shipping ***************/

/*********** User Profile ***************/

.user-alerts td {
	padding: 10px;
}

.user-alerts tr.table_head {
	background: #F0F0F0;
}