@charset "UTF-8";
/* CSS Document */

/*center ad section*/

.ad{
	left:15px;
}

/*sponsor content*/
#avocado_container_div{
	width:300px;
	height:600px;
	overflow:hidden;
	border:solid 1px #CCCCCC;
	position:relative;
	background-color:#78bde6;
}

#avocado_filmstrip_container{
	position:relative;
	height:1200px;
	width:300px;
}
#avocado_panel1{
	height:600px;
	width:300px;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/background.jpg);	
}
#avocado_panel2{
	height:600px;
	width:300px;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/background.jpg);	
}

#avocado_logo{
		position:absolute;
		top:25px;
		left:100px;
		margin:auto;
		
	}
	
	#avocado_toast_char{
		position:absolute;
		
	}
	#avocado_toast_container2{
		position:absolute;
		top:140px;
		left:-150px;
		
	}
	
	#avocado_toast_container3{
		position:absolute;
		top:145px;
		left:750px;
	}
	
	#avocado_toast_container{
		position:absolute;
		top:250px;
		left:-150px;
	}
	
	#avocado_egg_container{
		position:absolute;
		top:150px;
		left:50px;
	}
	#avocado_avocado_container{
		position:absolute;
		top:150px;
		left:150px;
	}
	#avocado_avocado_sign_container{
		opacity:0;
		position:absolute;
		top:135px;
		left:38px;
	}
	
	#avocado_avocado_container2{
		position:absolute;
		top:895px;
		left:650px;
	}
	#avocado_ham_container{
		position:absolute;
		top:830px;
		left:-150px;
	}
	#avocado_fullEgg_container{
		position:absolute;
		top:920px;
		left:650px;
	}
	#avocado_cheese_container{
		position:absolute;
		top:895px;
		left:-150px;
	}
	#avocado_hotsauce_container{
		position:absolute;
		top:805px;
		left:650px;
	}
	#avocado_tomato_container{
		position:absolute;
		top:895px;
		left:650px;
	}
	#avocado_shell_container{
		position:absolute;
		top:830px;
		left:-650px;
	}
	
	#avocado_button_container{
	opacity:0;
	position:absolute;
	height:165px;
	width:210px;
	top:350px;
	margin:auto;
	left:45px;
	}
	
	#avocado_btn1:hover{
	background-color:#9bc7e8;
	}
	#avocado_btn2:hover{
	background-color:#9bc7e8;
	}
	#avocado_btn3:hover{
	background-color:#9bc7e8;
	}
	#avocado_btn4:hover{
	background-color:#9bc7e8;
	}
	#avocado_arrow_left:hover{
	background-color:#9bc7e8;
	}
	#avocado_arrow_right:hover{
	background-color:#9bc7e8;
	}
	
	
	#avocado_btn1{
	cursor:pointer;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/recipe4_cta.png) no-repeat center;
	height:38px;
	width:100%;
	background-color:#2b8ea8;
	margin-bottom:5px;
	}
	#avocado_btn2{
	cursor:pointer;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/recipe3_cta.png) no-repeat center;
	height:38px;
	width:100%;
	background-color:#2b8ea8;
	margin-bottom:5px;
	}
	#avocado_btn3{
	cursor:pointer;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/recipe2_cta.png) no-repeat center;
	height:38px;
	width:100%;
	background-color:#2b8ea8;
	margin-bottom:5px;
	}
	#avocado_btn4{
	cursor:pointer;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/recipe1_cta.png) no-repeat center;
	height:38px;
	width:100%;
	background-color:#2b8ea8;
	}
	#avocado_arrow_right{
	cursor:pointer;
	position:absolute;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/arrow.png) no-repeat 10px;
	height:59px;
	width:32px;
	background-color:#2b8ea8;
	top:1070px;
	right:0px;
	}
	#avocado_arrow_left{
	cursor:pointer;
	position:absolute;
	background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/arrow_lft.png) no-repeat 10px;
	height:59px;
	width:32px;
	background-color:#2b8ea8;
	top:1070px;
	left:0px;
	}
	
	
	#avocado_downNav{
		position:absolute;
		bottom:0px;
		width:100%;
		height:50px;
		background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/footer.jpg);
	}
	#avocado_upNav{
		cursor:pointer;
		background:url(http://adimages.scrippsnetworks.com/iax/avocados_from_mexico/2014/img/upArrow.png) no-repeat 230px;
		position:absolute;
		top:-50px;
		width:100%;
		height:26px;
		background-color:none;
	}
	
	.avocadoText{
		position:absolute;
		top:720px;
		left:25px;
	}
	#avocado_recipe4_image{
		opacity:0;
		position:absolute;
		top:820px;
		left:25px;
		cursor:pointer;
	}
	#avocado_recipe3_image{
		opacity:0;
		position:absolute;
		top:810px;
		left:25px;
		cursor:pointer;
	}
	#avocado_recipe2_image{
		opacity:0;
		position:absolute;
		top:825px;
		left:25px;
		cursor:pointer;
	}
	#avocado_recipe1_image{
		opacity:0;
		position:absolute;
		top:810px;
		left:25px;
		cursor:pointer;
	}
	

	
/*	.avocado_recipe_container{
		position:absolute;
		top:1070px;
		left:120px;
		height:57px;
		width:150px;
		overflow:hidden;
		
	}*/
	
	#avocado_recipe1_container{
		position:absolute;
		top:1370px;
		left:75px;
		height:57px;
		width:150px;
		overflow:hidden;
		
	}
	#avocado_recipe2_container{
		position:absolute;
		top:1370px;
		left:75px;
		height:57px;
		width:150px;
		overflow:hidden;
		
	}
	#avocado_recipe3_container{
		position:absolute;
		top:1370px;
		left:75px;
		height:57px;
		width:150px;
		overflow:hidden;
		
	}
	#avocado_recipe4_container{
		position:absolute;
		top:1370px;
		left:75px;
		height:57px;
		width:150px;
		overflow:hidden;
		
	}
	
	
	
	.avocado_get_recipe{
		background-color:#2b8ea8;
		height:57px;
		width:150px;
		
	}
	
	#avocado_recipe1{
		position:absolute;
		left:0px;
	}
	#avocado_recipe2{
		position:absolute;
		left:0px;
	}
	#avocado_recipe3{
		position:absolute;
		left:0px;
	}
	#avocado_recipe4{
		position:absolute;
		left:0px;
	}

	#avocado_get_txt{
		position:absolute;
		left:32px;
		top:10px;
	}
	#avocado_email1{
		cursor:pointer;
		position:absolute;
		top:35px;
		left:32px;
	}
	#avocado_email2{
		cursor:pointer;
		position:absolute;
		top:35px;
		left:32px;
	}
	#avocado_email3{
		cursor:pointer;
		position:absolute;
		top:35px;
		left:32px;
	}
	#avocado_email4{
		cursor:pointer;
		position:absolute;
		top:35px;
		left:32px;
	}
	#avocado_print1{
		cursor:pointer;
		position:absolute;
		top:31px;
		left:87px;
	}
	#avocado_print2{
		cursor:pointer;
		position:absolute;
		top:31px;
		left:87px;
	}
	#avocado_print3{
		cursor:pointer;
		position:absolute;
		top:31px;
		left:87px;
	}
	#avocado_print4{
		cursor:pointer;
		position:absolute;
		top:31px;
		left:87px;
	}
	
	#avocado_recipe1_email{
		padding:15px 0px 0px 0px;
		position:absolute;
		height:300px;
		width:300px;
		background-color:#2b8ea8;
		margin:auto;
		top:1200px;
		text-align:left;
		
	}
	#avocado_recipe2_email{
		padding:15px 0px 0px 0px;
		position:absolute;
		height:300px;
		width:300px;
		background-color:#2b8ea8;
		margin:auto;
		top:1200px;
		text-align:left;
		
	}
	#avocado_recipe3_email{
		padding:15px 0px 0px 0px;
		position:absolute;
		height:300px;
		width:300px;
		background-color:#2b8ea8;
		margin:auto;
		top:1200px;
		text-align:left;
		
	}
	#avocado_recipe4_email{
		padding:15px 0px 0px 0px;
		position:absolute;
		height:300px;
		width:300px;
		background-color:#2b8ea8;
		margin:auto;
		top:1200px;
		text-align:left;
		
	}
	
	
	#avocado_sender{
		height:30px;
		width:200px;
		border-radius:8px;
		margin-bottom:15px
	}
	#avocado_user_email{
		height:30px;
		width:200px;
		border-radius:8px;
		margin-bottom:15px
	}
	
	.avocado_email_sent{
		position:absolute;
		top:154px;
		left:135px;
		
	}
	#avocado_email_sent1{
		opacity:0;
	}
	#avocado_email_sent2{
		opacity:0;
	}
	#avocado_email_sent3{
		opacity:0;
	}
	#avocado_email_sent4{
		opacity:0;
	}
	/*#avocado_close{
		position:absolute;
		left:235px;
		top:10px;
	}*/
	
	.avocado_close{
		cursor:pointer;
		position:absolute;
		left:235px;
		top:10px;
	}
	
	
	#avocado_recipe4_header_txt{
		opacity:0;
		left:20px;
		cursor:pointer;
	}
	#avocado_recipe3_header_txt{
		opacity:0;
		left:15px;
		cursor:pointer;
	}
	
	#avocado_recipe2_header_txt{
		opacity:0;
		left:15px;
		cursor:pointer;
		
	}
	
	#avocado_recipe1_header_txt{
		opacity:0;
		left:20px;
		cursor:pointer;
	}
	
	
	#avocado_header_txt{
		left:50px;
		position:absolute;
		top:325px;
	}
	#avocado_click{
		cursor:pointer;
		position:absolute;
		top:30px;
		height:175px;
		width:300px;
	}
	
/*	#avocado1_character{
		position:absolute;
		opacity:1;
		top:125px;
		left:75px;
	}
	#avocado2_character{
		opacity:0;
		position:absolute;
		top:125px;
		left:105px;
	}
	#avocado3_character{
		opacity:0;
		position:absolute;
		top:145px;
		left:45px;
	}*/
	#avocado4_character{
		opacity:1;
		position:absolute;
		top:115px;
		left:500px;
		height:210px;
		width:200px;
	}
		

