<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="robots" content="index, follow">
<meta name="keywords" content="Love to Read?">
<meta name="author" content="Love to Read?">
<meta name="description" content="&quot;Which Children’s Book Character Are You?&quot; Join me, and share your love of literacy!">    
<meta property="og:site_name" content="Help Them Read!">
	<meta property="og:title" content="Love to Read?">
	<meta property="og:description" content="&quot;Which Children’s Book Character Are You?&quot; Join me, and share your love of literacy!"> 
	<meta property="og:url" content="http://www.helpthemread.org/?utm_source=FacebookShare">    
	<meta property="og:image" content="http://pursuant.s3.amazonaws.com/2014/BBFFL/quiz/images/icon/social-share.jpg">        
<title>Barbara Bush Foundation for Family Literacy</title>
<link rel="shortcut icon" href="http://pursuant.s3.amazonaws.com/2014/BBFFL/quiz/favicon.ico" type="image/x-icon">
<link href="./helpthemread_files/reset.css" rel="stylesheet" type="text/css">
<link href="./helpthemread_files/font.css" rel="stylesheet" type="text/css"><!-- Load this locally -->
<link href="./helpthemread_files/style.css" rel="stylesheet" type="text/css">
<link href="./helpthemread_files/mediaqueries.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./quiz_files/permalink.css" type="text/css">

<script src="./quiz_files/one.js" type="text/javascript"></script>
<!-- Pulled from http://code.google.com/p/html5shiv/ -->
<!--[if lte IE 8]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="main-container">
    
    
        <header class="alt"> 
        	<div class="clear anchor">
                <div id="logo"><a href="http://plyfe.com/demo/helpthemread"> <img src="./helpthemread_files/aabbcc.png" alt=""></a></div>
                <div class="twenty-five"><a href="http://plyfe.com/demo/helpthemread"> <img src="./helpthemread_files/25.png" alt="" href="http://plyfe.com/demo/helpthemread"></a></div>
            </div><!-- clear -->	
        </header>
        
    

	<div id="quiz" class="body-content" style="background:#00bcef">
		<div id="plyfe_sub_plyfe" class="quiz">
			<div><img src="./quiz_files/cover.png" alt="cover" class="quiz_cover"></div>
				<div id="superlist_3421352_3618830" rel:plyfe_num="2">
					<div class="quiz not_numbered personality_quiz" rel:quiz_type="personality" rel:swap="0" rel:question_count="5" rel:pixel="" rel:result_verb=" checked off" rel:result_subject=" on this list!">
						<ol>
							<!-- Question 1 -->
							<li class="quiz_question image quiz_v2" rel:question_type="image">
								<div class="quiz_question_header">
			           				<img class="quiz_img" src="./quiz_files/q1.png" width="625" height="298"></div>
									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c1a.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c1b.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c1c.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c1d.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c1e.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c1f.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c1g.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c1h.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c1i.png">
											<br clear="all">
										</li>
									</ol>
							</li>

							<!-- Question 2 -->
							<li class="quiz_question image quiz_v2" rel:question_type="image">
								<div class="quiz_question_header">
			           				<img class="quiz_img" src="./quiz_files/q2.png" width="625" height="298">
			         			 </div>
									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c2a.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c2b.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c2c.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c2d.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c2e.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c2f.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c2g.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c2h.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c2i.png">
											<br clear="all">
										</li>
									</ol>
							</li>


							<!-- Question 3 -->
							<li class="quiz_question image quiz_v2" rel:question_type="image">
								<div class="quiz_question_header">
			           				<img class="quiz_img" src="./quiz_files/q3.png" width="625" height="298">
			          			</div>
									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c3a.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c3b.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c3c.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c3d.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c3e.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c3f.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c3g.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c3h.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c3i.png">
											<br clear="all">
										</li>
									</ol>
							</li>


							<!-- Question 4 -->
							<li class="quiz_question image quiz_v2" rel:question_type="image">
								<div class="quiz_question_header">
			           				<img class="quiz_img" src="./quiz_files/q4.png" width="625" height="298">
			         			 </div>
									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c4a.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c4b.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c4c.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c4d.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c4e.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c4f.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c4g.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c4h.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c4i.png">
											<br clear="all">
										</li>
									</ol>
							</li>


							<!-- Question 5 -->
							<li class="quiz_question image quiz_v2" rel:question_type="image">
								<div class="quiz_question_header">
			           				<img class="quiz_img" src="./quiz_files/q5.png" width="625" height="298">
			         			 </div>
									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c5a.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c5b.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c5c.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c5d.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c5e.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c5f.png">
											<br clear="all">
										</li>
									</ol>

									<ol class="smallImgAnswers">
										<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c5g.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
											<img src="./quiz_files/c5h.png">
											<br clear="all">
										</li>
										<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
												<img src="./quiz_files/c5i.png">
											<br clear="all">
										</li>
									</ol>
							</li>
						</ol>
	
	
		<div class="quiz_result_area" style="display: none;">
			<div class="quiz_tally_results" style="display: none;">
				<h1 style="display:none">HOW MUCH OF A TECH LOVER ARE YOU?</h1>
         			<div class="headline-1 quiz_tally"></div>
						<ol>
									<!-- index 0 -->
							<li class="quiz_result" style="display:none" rel:range_start="0" rel:range_end="0">
								<div class="quiz_short has_result_image">
			              			<div class="headline-1" style="display:none">You got: <b>Challenger</b></div><img class="results" src="./quiz_files/r1.png" style="width:50%"/>
												<h2>Some people say you have your head in the clouds, but nothing makes you happier than dreaming of impossible adventures—unless it's sharing real adventures with family and friends. Outgoing and curious, you value history and other people's experiences for the way they shape your sense of the world and&nbsp;yourself.</h2>
												<div class="answer_shares">
												<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 63px;">
													<div class="fb_share">
														<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="tw_share">
														<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="email_share">
														<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
												</div>
											</div>
										</div>
										<a href="http://barbarabush.org/get-involved/" target="_blank"><img class="adlink" src="./quiz_files/adlink-1.png" alt="Ad Link"></a>
									</li>
									
									<!-- index 1 -->
									<li class="quiz_result" style="display:none" rel:range_start="0" rel:range_end="0">
										<div class="quiz_end has_result_image">
				              <div class="headline-1" style="display:none">You got: <b>Pacesseter</b></div><img class="results" src="./quiz_files/r2.png" style="width:50%"/>
												<h2>Your love knows no bounds! When it comes to the people you care about, you'll do what it takes to keep them safe and happy, even if that means letting them go for a while. Some may say you give a little too much of yourself, but you're happy with who you are and you know that what you love comes back to you in the&nbsp;end.</h2>
												<div class="answer_shares">
												<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 63px;">
													<div class="fb_share">
														<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="tw_share">
														<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="email_share">
														<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
												</div>
											</div>
										</div>
										<a href="http://barbarabush.org/get-involved/" target="_blank"><img class="adlink" src="./quiz_files/adlink-2.png" alt="Ad Link"></a>
									</li>
									
									<!-- index 2 Beats RED-->
									<li class="quiz_result" style="display:none" rel:range_start="0" rel:range_end="0">
										<div class="quiz_end has_result_image">
				              <div class="headline-1" style="display:none">You got: <b>Chaser</b></div><img class="results" src="./quiz_files/r3.png" style="width:50%"/>
											<h2>With you, it's always go, go, go. You have a hunger for new experiences and a sense of destiny—you may not know exactly what's ahead, but you know it's going to be great. In the meantime, you're focused on personal growth to be ready when it happens because you know what's right for&nbsp;you.</h2>
											<div class="answer_shares">
												<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 63px;">
													<div class="fb_share">
														<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="tw_share">
														<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:78px; display:inline; margin:0">
														</a>
													</div>
													<div class="email_share">
														<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
												</div>
											</div>
										</div>
										<a href="http://barbarabush.org/get-involved/" target="_blank"><img class="adlink" src="./quiz_files/adlink-3.png" alt="Ad Link"></a>
									</li>
						</ol>
			</div>			
		</div>
	</div>
</div>
</div>
</div>

</div><!-- body content -->

</body></html>