
/* GENERAL CSS */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset { 
	margin: 0; 
	padding: 0;
	color:#000000;
}
input {
	color: #000000;
	background: #FFFFFF;
	font: 11px Arial;
	padding: 2px;
}

td, th { 
	font-family:Helvetica; 
	font-size: 8pt;
	color:#000000;
}
 
a {text-decoration: none;}
a:link{color:#000099;}
.inline {
	float:left;
}
.hdd {
	display: none;
}

.btd {
  vertical-align: middle;
  width: 10em;
  margin: 0;
  padding: 0;
}


.startpos {
	font-family:Oswald; 
	font-size: 11pt;
	color: #fff;
}
.whiteborder {
	border-top: 1px solid #ffffff;  
	border-left: 1px solid #ffffff;  
	border-bottom: 1px solid #ffffff; 
	border-right: 1px solid #ffffff;
}
.ltgreyborder {
	border-top: 1px solid #999999;  
	border-left: 1px solid #999999;  
	border-bottom: 1px solid #999999; 
	border-right: 1px solid #999999;
}
.mdgreyborder {
	 box-shadow: 0 2px 7px -1px #aaa;
	 -ms-box-shadow: 0 2px 7px -1px #aaa;
	 -moz-box-shadow: 0 2px 7px -1px #aaa;
	 -o-box-shadow: 0 2px 7px -1px #aaa;
	 -webkit-box-shadow: 0 2px 7px -1px #aaa;
}
.dkgreyborder {
	border-top: 1px solid #333333;  
	border-left: 1px solid #333333;  
	border-bottom: 1px solid #333333; 
	border-right: 1px solid #333333;
}
.blackborder {
	border-top: 1px solid #000000;  
	border-left: 1px solid #000000;  
	border-bottom: 1px solid #000000; 
	border-right: 1px solid #000000;
}


/* HEADTOHEAD.PHP */
#mainnews{
	background: #E3E3E3;
	height:400px;
}


/* TEAMLIST.PHP */
#tmlist{background: #E3E3E3}

#teamsidebar {
	border-right: 2px solid #999;
	width: 300px;
	height:800px;
	top:0px;
	background: url('/images/proto1.png') repeat-y; 
}


/* FOOTER.PHP */
.shadowdiv {
	background: url('/images/shadow.gif') no-repeat bottom right;
	margin: 10px 5px;
	padding: 0;
	position: relative;
}


/* FNDPLAYER.PHP */
.shadowtable {
	background-color: #fff;
	margin: -5px 5px -11px -5px;
	padding: 4px;
	position: relative;
	vertical-align: bottom;
}


.whiteButton,.greyButton,.redButton,.greenButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin:0 10px;
}
.blueButton {
    display: block;
    border-width: 0 6px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin:0 5px;
}
.greenButton {
    -webkit-border-image: url('../Images/greenButton.png') 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
.whiteButton {
    -webkit-border-image: url('../Images/whiteButton.png') 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
.blueButton {
    -webkit-border-image: url('../Images/blueButton.png') 0 5 0 5;
    border-width: 0 5px;
}
.redButton {
    -webkit-border-image: url('../Images/redButton.png') 0 12 0 12;
    color: #FFFFFF;
}
.greyButton {
    -webkit-border-image: url('../Images/grayButton.png') 0 12 0 12;
    color: #FFFFFF;
}

.logoclass {
	background: #333;
	border: solid 1px #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
	-moz-box-shadow: 3px 3px 7px #333;
	-webkit-box-shadow: 3px 3px 7px #333;
	box-shadow: 3px 3px 7px #33;
}
.tlogo {
	height:50px;
	width:50px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.tlogowrapper{
	height:50px;
	width:50px;
	background:#fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 3px 3px 7px #666;
	-webkit-box-shadow: 3px 3px 7px #666;
	box-shadow: 3px 3px 7px #666;
}
.ptlogo {
	height:30px;
	width:30px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.ptlogowrapper{
	height:30px;
	width:30px;
	background:#fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 3px 3px 7px #666;
	-webkit-box-shadow: 3px 3px 7px #666;
	box-shadow: 3px 3px 7px #666;
}
div.twtr-doc {
  overflow: hidden;
  width: 100%;
  text-align: left;
  font-weight: normal;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
div.twtr-hd,
div.twtr-ft {
  display:none;
}
div.twtr-timeline {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}


/* Elastislide Style */

#scorecarousel {
	background:#333;
}

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 70px; /* minimum width of the image (min width + border) */
	background-color: #ffffff;
}

.elastislide-wrapper {
	position: relative;
	background-color: #ffffff;
	margin: 0 auto;
	min-height: 30px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.elastislide-wrapper.elastislide-loading {
	background-image: url('/images/f13/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 5px 10px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #000 url('/images/f13/images/nav.png') no-repeat 3px 3px;
	width: 23px;
	height: 23px;
	border-radius: 25%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 85%;
	left: 10px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}

.elastislide-horizontal {
	padding: 10px 10px;
	border-radius: 10px/10px;
	box-shadow: 
		0 1px 3px #333333;
}

.elastislide-wrapper:before,
.elastislide-wrapper:after{
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  20px;
	width: 50%;
	height: 20%;
	border-radius: 10px/90px;
	box-shadow: 0 15px 10px rgba(0,0,0,0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.elastislide-wrapper:after {
	right: 20px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}
body {
	font-family: Arial;
	font-size: 8pt;
	color: #000;
	margin: 0px;
}

#maintable63 {
	width: 2000px;
	position: relative;
	top: 0px;
}

#profile {
	height: 500px;
}

#covermenu {
	width: 856px;
}
#defteam{
	width: 300px;
	height: 1000px;
	margin: 0px;
	float: left;
}
#leftmenubar {
	width: 182px;
	height: 1000px;
	margin: 0px;
	background-color: <?=$colors[0]?>;
	background-position: top left;
	float: left;
}

#maindata {
	background-color: #fff;
	width: 706px;
	float: left;
	margin: 0px;
}

#leaguename {
	height: 50px;
	background-color: #120F49;
	background: url('/images/scoreboard2.jpg') no-repeat;
}
#logoinfo {
	width: 160px;
}
.shadow {
	background: url('/images/shadowbody.gif') repeat-y bottom right;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0;
	position: relative;
	vertical-align: bottom;
}

#contentLeft {
	float: left;
}

#contentLeft li {
	list-style: none;
	margin: 0 0 4px 0;
	padding: 10px;
	border: #999999 solid 1px;
	color:#000000;
	width:100%;
}

li.boxxyQB {
	cursor:move;
	padding: 2px 2px;
	width:100%
	border: 1px solid #F8AABB;
	background-color: #F8AABB;
}
li.boxxyRB {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #A3D39C;
	background-color: #A3D39C;
}
li.boxxyWR {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #6DCFF6;
	background-color: #6DCFF6;
}
li.boxxyTE {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #FFF200;
	background-color: #FFF200;
}
li.boxxyPK {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #BD8CBF;
	background-color: #BD8CBF;
}
li.boxxyDF {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #cccccc;
	background-color: #cccccc;
}

li.boxxy1B {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #F8AABB;
	background-color: #F8AABB;
}
li.boxxy2B {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #A3D39C;
	background-color: #A3D39C;
}
li.boxxy3B {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #6DCFF6;
	background-color: #6DCFF6;
}
li.boxxySS {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #FFF200;
	background-color: #FFF200;
}
li.boxxyC {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #BD8CBF;
	background-color: #BD8CBF;
}
li.boxxyOF {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #cccccc;
	background-color: #cccccc;
}
li.boxxySP {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #FDC689;
	background-color: #FDC689;
}
li.boxxyRP {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #999999;
	background-color: #999999;
}

li.boxxyLW {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #F8AABB;
	background-color: #F8AABB;
}
li.boxxyRW {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #A3D39C;
	background-color: #A3D39C;
}
li.boxxyG {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #6DCFF6;
	background-color: #6DCFF6;
}

li.boxxyF {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid #FFF200;
	background-color: #FFF200;
}

span.customSelect { 
    font:10px sans-serif;
    background:#000 right center no-repeat;
    border:1px solid #ddd;
    color:#ccc;
    padding:1px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:55px;
}