@import;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {background: #FFF; width:100%; height:100%; margin:0; padding:0;}

.left {float:left}
.right {float:right}
.clear {clear:both}

.first {margin-left:0px;}
.last {margin-right:0px;}

.margRight11 {margin-right:20px;}
.margLeft11 {margin-left:11px;}
.margRight15 {margin-right:15px;}
.margLeft15 {margin-left:15px;}
.nomarg {margin:0!important}

h1 {font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase; font-size:36px;  font-weight:400; margin:0; padding:0}
h2 {font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase; font-size:28px;  font-weight:400; margin:0; padding:0}
h3 {font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase; font-size:24px;  font-weight:400; margin:0; padding:0}
h4 {font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase; font-size:21px;  font-weight:400; margin:0; padding:0}	
h5 {font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase; font-size:18px;  font-weight:400; margin:0; padding:0}	

a {color: #000; text-decoration: none;}
a:hover {color: #000;}  
	
ul {list-style:none;}
li.active {background:#ccc; height:40px;}



.text-center {text-align:center}
sup { vertical-align: top; font-size: 0.8em; }
	
#overlayAd {display:none; position:absolute; top:50%; left:50%; width:994px; height:746px; z-index:99999; margin-top:-373px; margin-left:-497px; }
#overlay {
	 background:#000;
    	display:none;
    	width:100%; height:100%;
    	position:absolute; top:0; left:0; z-index:99998;
   	opacity:.7;
  	}
		
.container {width:994px; margin:0 auto; position:relative;  }

.row-wide {width:1224px!important; margin:0 auto; }
.row  {width:994px; margin:0 auto; padding:11px 0}

#masthaed { height:155px; position:relative; margin-bottom:7px}

.top {height:30px; padding-top:15px; text-align:right; }
.top a { font-family:'alternate-gothic-no-2-d', sans-serif; font-weight:400; text-decoration:none; font-size:16px; letter-spacing:0.025em; }
.top .row {height:30px; padding:0; margin:0 auto}
.top .searcharea { width:548px; text-align:right; float:left; margin-left:155px; margin-right:80px;}
.top .searchBtn { margin:2px; padding: 0}
.top .searchText { margin:0; padding:0}			
.top .searchInput { display:none; margin:0; padding:0  }
.top .searchInput input#txtKeyword {width:524px; font-size:16px; font-family:'alternate-gothic-no-2-d', sans-serif;  border:none; text-align:right; margin:0; padding:0; text-transform:uppercase; letter-spacing:0.025em;}
.top .searchInput input:focus {outline:none; }
.top .login {float:left; margin-right:80px; }
.top .tote {float:left;}
.toteIcon {margin-bottom:-2px}

#logo { position:absolute; top:30px;left:0px; width:126px; height:126px; z-index:3; }
#totesp {margin:5px;}
#nav { padding:0; border-top:1px solid #000; border-bottom:1px solid #000; position:relative; z-index:2; }

.mainNav {list-style:none;margin:0 0 0 124px; padding:0; height:50px; line-height:50px; }
.mainNav li {float:left; margin:0 ; padding:0px;width:124px; height:50px; line-height:58px; text-align:center  }
.mainNav a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:28px; font-weight:400; height:50px; line-height:50px; letter-spacing:0.025em;}
.mainNav li:hover {background:#000}
.mainNav li:hover > a {color:#fff}
.mainNav li.active {background:#ccc}
.mainNav li.active > a  {color:#000}

.shop_subNav {display:none; margin:0; padding:0; height:40px; line-height:40px; list-style:none; position:absolute; top:50px; left:124px;}
.shop_subNav li {display:inline; margin-top:1px; height:40px; line-height:43px }
.shop_subNav a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; font-weight:400;height:40px; line-height:43px; letter-spacing:0.025em; }
.shop_subNav li:hover {background:#000; height:40px; line-height:43px;}
.shop_subNav li:hover > a {color:#fff}
.shop_subNav li.active {background:#ccc; height:40px;}
.shop_subNav li.active > a { color:#000; }

.blog_subNav {display:none; margin:0; padding:0; height:40px; line-height:40px; list-style:none; position:absolute; top:50px; left:124px}
.blog_subNav li {display:inline;  margin-top:1px; height:40px; line-height:43px}
.blog_subNav a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; font-weight:400; height:40px; line-height:43px; letter-spacing:0.025em; }
.blog_subNav li:hover {background:#000;height:40px; line-height:43px; }
.blog_subNav li:hover > a {color:#fff;  }
.blog_subNav li.active {background:#ccc; height:40px; }
.blog_subNav li.active > a {color:#000 }

.about_subNav {display:none; margin:0; padding:0; height:40px; line-height:40px; list-style:none; position:absolute; top:50px; left:124px}
.about_subNav li {display:inline;  margin-top:1px; height:40px; line-height:43px}
.about_subNav a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; font-weight:400; height:40px; line-height:43px; letter-spacing:0.025em; }
.about_subNav li:hover {background:#000;height:40px; line-height:43px; }
.about_subNav li:hover > a {color:#fff;  }
.about_subNav li.active {background:#ccc; height:40px; }
.about_subNav li.active > a {color:#000 }


#hm_slideshow {margin:11px 0 0 0; padding:0;}
.hm_cycle-slideshow-wrap {position:relative; z-index:1}
.hm_cycle-slideshow {position:relative; z-index:1 }
.hm_cycle-slideshow img {width:994px;  }
.hm_prev { background:url('prev.png') 0 0 no-repeat; height:100%; width:25px; position:absolute; top:321px; left:-1px; z-index:1000; }
.hm_next {background:url('next.png') 0 0  no-repeat; height:100%; width:25px; position:absolute; top:321px; right:-1px; z-index:1000; }
.hm_prev:hover {background:url('prev_hover.png') 0 0 no-repeat; height:100%; width:25px; position:absolute; top:321px; left:0px; z-index:1000; }
.hm_next:hover {background:url('next_hover.png') 0 0 no-repeat; height:100%; width:25px; position:absolute; top:321px; right:0px; z-index:1000; }


#hm_new_now {float:left;}
#new_now_header {height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000; }
.hm_new_now_inner {float:left; width:1036px;margin:0; padding:0; }
.hm_new_now_inner img {}
.noBotPad {padding-bottom:0!important}

#hm_reel_time { position:relative;}
#reel_time_header {height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000}
.hm_reel_time_inner {float:left; width:994px;}
.hm_reel_time_left { float:left; width:760px;}
.full {float:left; width:740px; margin-bottom:22px}
.full a img {width:740px; height:inherit;}
.half {float:left; width:360px; margin-bottom:22px}
.half a img {width:360px; height:inherit;}
.hm_reel_time_right {float:right; width:232px; }
.home_blogLink {position:relative;}
.home_blogLink .blogTitleHover {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8;  width: 100%; height:100%; text-align: center; padding: 62% 0 0 0; overflow: hidden; cursor:pointer}
.home_blogLinrev .blogTitleHover {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8;   width: 100%; height:100%; text-align: center; padding: 62% 0 0 0; overflow: hidden;  cursor:pointer}
.home_blogLink .blogTitleHoverFull {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8;  width: 100%; height:100%; text-align: center; padding: 25% 0 0 0; overflow: hidden; cursor:pointer}
.blog_top_center {}
.blogTitleHoverFull ul {padding-left:40px; padding-right:40px;}

.blogTitleHover ul {margin:0; padding:0 }
li.blogHoveredTitle {font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase; font-size:35px; padding:0 40px; letter-spacing:0.025em; line-height:35px;}
li.blogHoverReadMoreLink {font-family:'merriweather', serif; font-size:14px; margin-top:5px}
li.blogHoverReadMoreLink a {border-bottom:1px solid #000}


#lbpage {text-align:center;margin-left:auto;margin-right:auto; position: relative; height:740px; width:994px;}
#lbpage .slide div {background: none;}
.prev {position: absolute; z-index:1000; top: 491px; left: 0px}
.next {position: absolute; z-index:1000; top: 491px; right: 0px}
.boxy-inner .prev {position: absolute; z-index:1000; top: 379px; left: 65px}
.boxy-inner .next {position: absolute; z-index:1000; top: 379px; right: 65px}
.fullscreen {position: absolute; z-index:1000; top: -20px; right: 0px}


.sidebox {margin-bottom:22px}
.sideImg img{width:100%; height:auto}

.sideTitleBar {border-top:1px solid #000; border-bottom:1px solid #000; height:40px; line-height:40px; padding:0;}
.sideTitleBar_sm {border-top:1px solid #000; border-bottom:1px solid #000; height:35px; line-height:35px; padding:0;}



h4.ffH2 {font-size:24px; height:35px; line-height:35px;}

.sideInstaLikes {height:40px; line-height:40px; font-family:'alternate-gothic-no-2-d', sans-serif; font-size:18px; letter-spacing:0.025em; }
span.sideInstaIcon {float:right; margin-top:8px}

/*.sideVideo {margin-bottom:15px}*/
.sideVidDesc {background:#000; border-top:1px solid #000;}
.sideLogo {float:left; margin-right:5px; margin-top:8px }
.sideVidDesc p {margin:0; padding:12px; font-family:'merriweather', serif; font-size:12px; line-height:19px; color:#fff;}
.sideVidDesc a {color:#fff}
h4.sideVid {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:18px; margin-right:5px; letter-spacing:0.025em;}
.sideTweet {float:right; margin-top:12px}
.timePosted {font-size:18px; color:#a2a2a2; }
.sideStaffPicksWrap {position:relative; z-index:1;}
.sideStaffPicks {}
.hm_side_prev {background:url('sidebarPrevArrow.png') 0 50% no-repeat; height:100%; width:10px; position:absolute; top:0px; left:0px; z-index:1000; cursor:pointer; z-index:2}
.hm_side_next {background:url('sidebarNextArrow.png') 0 50% no-repeat; height:100%; width:10px; position:absolute; top:0px; right:0px; z-index:1000; cursor:pointer; z-index:2}
.sideStaffPicks img { width:203px; margin-left:14px; position:relative; z-index:2}
.sph4 {line-height:35px; hieght:35px; font-size:18px; }


/*fashion forecast*/
.forecastSlideshow {position:relative; z-index:10; width:232px; height:286px;}
.forecastSlideshow img {position:relative; z-index:11; width:100%; height:auto;}
#forecastPager { list-style:none; margin:0; padding:0; border-bottom:1px solid #000; height:30px; line-height:30px;}
#forecastPager li {float:left; margin:0; padding:0; width:58px; height:29px; line-height:32px; text-align:center;  }
#forecastPager li a {font-family:'alternate-gothic-no-2-d', sans-serif; letter-spacing:.2px; width:58px; height:29px; line-height:32px; text-align:center; text-transform:uppercase; font-size:18px;  font-weight:400;}

#forecastPager li:hover {background:#000; color:#fff}
#forecastPager li:hover > a {color:#fff}
#forecastPager li.activeSlide {background:#ccc; color:#000}
#forecastPager li.active > a  {background:#ccc; color:#000}

.forecastOverlay {position:absolute; bottom:0px; left:0px; z-index:10000; color:#fff; background:url(../images/opaqueBG.7.png) repeat-y; width:232px; min-height:25px; font-size:18px;  text-align:center; font-family:'alternate-gothic-no-2-d', sans-serif; letter-spacing:.025em; padding-top:5px }

/*BLOG ROLL*/
.blogInnerWrap {}
.blogLeftCol {float:left; width:740px; margin:0 20px 0 0}
#blogLeftTitle {height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000; text-align:center}
#blogLatest {}

.blogPost {border-bottom:2px solid #a2a2a2; margin:30px 0; }
.blogImg {margin:0;overflow:hidden;text-align:center;cursor:pointer;}
.blogImg img{max-width:740px; /*height:493px;*/}
/*.relatedpost img {width:231px; height:150px;}*/

.image-crop {position: relative;width: 231px;height: 150px;overflow: hidden;}
.image-crop-img {margin:0px 0 0 -86px}
.image-square-crop {position: relative;width: 89px;height: 88px;overflow: hidden;}
.top-center {width:231px;}
.top-center-square {position: absolute;right: -20%;width:120px;}

.blogMeta {float:left; width:100%; height:25px; margin:15px 0 10px 0}
.blogCategory {border:1px solid #000; float:left; padding:2px 5px 0 5px; }
.blogCategory h4 {}
.blogCategory:hover {background-color:#000;color:#fff;cursor:pointer;}

.blogDateTime {float:right;}

span.date {margin:0; padding:0;text-decoration:none;}
span.time {margin:0; padding:0;text-decoration:none;}

.blogTitle {clear:both; }
.blogTitle:hover {text-decoration:underline;}
.blogAuthor {font-family:'alternate-gothic-no-2-d',sans-serif; font-size:18px; letter-spacing:0.025em;}
.blogContent {padding-bottom:12px;}
.blogContent p {font-family:'merriweather', serif;  font-size:14px; }

.blogContent p span.readmore a {color:black; border-bottom:1px solid #000;}
/*.blogContent p span.readmore a:hover {color:#a2a2a2; text-decoration:underline; }*/

.seeAllFeaturedPosts {position:relative; width:188px; height:30px;margin:25px 0 30px 0; border:1px solid #000; padding:0; text-align:center}
.seeAllFeaturedPosts a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; line-height:30px; letter-spacing:0.025em;}
.seeAllFeaturedPosts:hover {background:#000}
.seeAllFeaturedPosts a:hover {color: white;}

.seeAllFeaturedPostsNext {position:relative; width:188px; height:30px;margin:25px 0 30px 0; border:1px solid #000; padding:0; text-align:center; float:right;}
.seeAllFeaturedPostsNext a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; line-height:30px; letter-spacing:0.025em;}
.seeAllFeaturedPostsNext a:hover {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; line-height:30px; letter-spacing:0.025em; background-color:black;color:white;}
.seeAllFeaturedPostsNext:hover {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; line-height:30px; letter-spacing:0.025em; background-color:black;color:white;}

.seeAllFeaturedPostsPrev {position:relative; width:188px; height:30px;margin:25px 0 30px 0; border:1px solid #000; padding:0; text-align:center; float:left;}
.seeAllFeaturedPostsPrev a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; line-height:30px; letter-spacing:0.025em;}
.seeAllFeaturedPostsPrev a:hover {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; line-height:30px; letter-spacing:0.025em; background-color:black;color:white;}
.seeAllFeaturedPostsPrev:hover {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; line-height:30px; letter-spacing:0.025em; background-color:black;color:white;}


.blogRightCol {float:left; width:233px;}
#blogRightTitle {height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000; margin-bottom:10px;}
#blogSidebar {width:233px;}
.blogSidebox {clear:both; float:left;  padding:20px 0; border-bottom:1px solid #000; display:none}
.blogSideboxLeft {float:left; width:90px; margin-right:8px;}
.blogSideThumb {}
/*.blogSideThumb img {width:89px; height:88px;}*/

.blogSideboxRight {float:left; width:134px;}
.blogSideCategory { margin-top:-3px;}
.blogSideCategory h5 {color:#a2a2a2}
.blogSideTitle {line-height:18px;}
.blogSidebarMore {clear:both; position:relative; width:233px; height:30px; margin:25px 0 22px; border:1px solid #000; padding:0 ; text-align:center}
.blogSidebarMore a {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:18px; line-height:30px; letter-spacing:0.025em;}

.blogSidebarLess {display:none; clear:both; width:67px; padding-top:15px; margin:0 auto 20px auto}
.blog_reel_time_right {width:233px;}
.bottomMarg {margin-bottom:25px;}
.blogSideTitle a:hover{text-decoration:underline;}

/*BLOG SINGLE*/
#blogSinglePost {margin:0px;}
#viewasarea {width:994px; height:700px; position:relative;}

#viewasGrid {width:994px; height:740px; position:relative;}
.blog_single_grid-view { width:942px;  margin:0 0 0 26px; height:700px; position:relative; z-index:1}

.blog_single_grid-view img {width:219px; float:left; margin:0px 22px 22px 0px; position:relative; z-index:2}
.blog_single_grid-view img.last {width:219px; float:left; margin:0px 0px 22px 0px }

.blog_view_next {background:url(../images/ocx/images/blog_single/blog_view_next.png) 0 0  no-repeat; height:100%; width:25px; position:absolute; top:318px; right:0px; z-index:1000; }
.blog_view_next:hover {background:url(../images/ocx/images/blog_single/blog_view_next_hover.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:318px; right:0px; z-index:1000; }
.blog_view_prev {background:url(..//images/ocx/images/blog_single/blog_view_prev.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:318px; left:0px; z-index:1000; }
.blog_view_prev:hover {background:url(../images/ocx/images//blog_single/blog_view_prev_hover.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:318px; left:0px; z-index:1000; }

#viewasSlideshow {height:775px; width:994px; }
.blog_single_cycle-slideshow {position:relative; z-index:1; width:994px; max-height:775px}
.blog_single_cycle-slideshow .slide {position:relative; z-index:2; width:994px; height:775px; text-align:center; margin:0 auto;}
.blog_single_cycle-slideshow .slide img {max-height:740px}
.imageCaption {width:994px; height:40px; float:left; font-family:'merriweather', serif; font-size:10px; letter-spacing:.35px; color:#000; margin:0; padding:0; text-align:left;}
.imageCaption p {overflow:visible;}
.imageCaption a {color:#a2a2a2}
.imageCaption a:hover {color:#a2a2a2; text-decoration:underline}
.imageCaptionSmall {width:auto; height:40px; float:left; font-family:'merriweather', serif; font-size:10px; letter-spacing:.35px; color:#000; margin:0; padding:0;}

.blog_single_prev {background:url(../images/ocx/images/blog_single/blogPrev.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:318px; left:1px; z-index:2; }
.blog_single_next { background:url(../images/ocx/images/blog_single/blogNext.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:318px; right:-4px; z-index:2;}
.blog_single_prev:hover { background:url(../images/ocx/images/blog_single/blogPrev_hover.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:318px; left:2px; z-index:2; }
.blog_single_next:hover { background:url(../images/ocx/images/blog_single/blogNext_hover.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:318px; right:-3px; z-index:2;}

.blog_view_controls {position:absolute; right:0; bottom:-30px; z-index:4; width:145px; float:right; font-size:14px; letter-spacing:0.025em; font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase;}
.blog_view_controls ul {list-style:none; margin:10px 0 0 0}
.blog_view_controls li {display:inline; margin:0 0 0 5px; padding:0}
.blog_view_controls a {}

.blog_single_headingDetails {clear:both; letter-spacing:.98px; padding:25px 0 8px 0}
.blog_single_headingDetails h5 span:hover {text-decoration:none;}
.author {letter-spacing:.5px}
.author:hover {text-decoration:underline}
.date {color:#a2a2a2}
.date:hover {text-decoration:none;}
.category a {color:#a2a2a2}
.category a:hover {text-decoration:underline !important; cursor:pointer !important;}

.blog_single_entryContent { margin:0; float:left; padding:0; width:740px;font-family:'merriweather', serif; font-size:14px; line-height:1.7em;}
.blog_single_entryContent p {width:475px; float:left;  font-family:'merriweather', serif; font-size:14px;}
.blog_single_entryContent a {color:#a2a2a2}
.blog_single_entryContent a:hover {color:#a2a2a2; text-decoration:underline}

/*.blog_single_tags {float:left; letter-spacing:.5px; margin:5px 0 10px 0;}*/
.blog_single_tags {float:left; letter-spacing:.5px; margin:0; padding:25px 0 8px;}
.blog_single_tags a {color:#a2a2a2; letter-spacing:.5px;}
.blog_single_tags a:hover {color:#a2a2a2; letter-spacing:.5px;text-decoration:underline;}


.blog_single_socialShare {float:left; margin:0 0 15px 0}
.blog_single_socialShare ul {list-style:none; margin:0; padding:0}
.blog_single_socialShare li {display:inline; margin:0 20px 0 0; }
.blog_single_socialShare a {}

.blog_single_Pagination {float:left; font-family:'alternate-gothic-no-2-d', sans-serif;letter-spacing:0.025em; }
.blog_post_previous {height:30px; line-height:30px; float:left;font-size:18px; border:1px solid #000; margin-right:15px; padding:0 10px}
.blog_post_next {height:30px; line-height:30px; float:left;font-size:18px; border:1px solid #000; padding:0 12px}
.blog_post_previous:hover {height:30px; line-height:30px; float:left;font-size:18px; border:1px solid #000; margin-right:15px; padding:0 10px; background-color:black;}
.blog_post_next:hover {height:30px; line-height:30px; float:left;font-size:18px; border:1px solid #000; padding:0 12px; background-color:black;}

#blogPrev {color:#000}
#blogPrev:hover {color:#fff;background-color:black;}
#blogNext {color:#000}
#blogNext:hover {color:#fff;background-color:black;}

#hiddenImages {display:none}

#relatedPostTitle {height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000;}
#relatedPosts { }
.relatedpost {float:left; width:231px; margin:0 22px 0 0}
.relatedpost img {}
.relatedPostName {margin:10px 0; line-height:18px}
.relatedPostName:hover {text-decoration:underline}

#relatedProductTitle {height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000;}
#relatedProducts {margin-bottom:15px;}
.relatedproduct {float:left; width:231px; margin:0 22px 0 0; position:relative;text-align:center!important; padding:0} 
.relatedproduct img {}
.relatedproduct .relatedProductText {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8; width: 233px; height:348px;text-align:center!important; padding: 164px 0 0 0; overflow: hidden; margin:0}
.relatedproductrev .relatedProductText {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8;  width: 233px; height:348px; text-align:center!important; padding: 164px 0 0 0; overflow: hidden; margin:0}
.relatedProductText li {margin:0; padding:0 25px 0 25px; text-align: center; }
.relatedproductName {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; font-weight:600; margin:0; padding:0; letter-spacing:0.025em;}
.relatedproductType {font-family:'merriweather', serif; font-size:10px;  font-weight:400; margin:0; padding:0}
li.relatedproductShopNow {font-family:'merriweather', serif; font-size:10px; font-weight:400; padding:0; width:57px; text-align:center; margin:3px auto 0 auto;  }
li.relatedproductShopNow a { border-bottom:1px solid #000; }

/*SHOP*/
#shopLeft {width:232px; float:left; font-family:'alternate-gothic-no-2-d', sans-serif; margin-top:20px; letter-spacing:0.025em;}
ul.shopLeftNav {list-style:none; margin:0; padding:0 }
ul.shopLeftNav li { position:relative; border-top:1px solid #000;  margin:0; padding:3px 0 0 0; line-height:32px; cursor:pointer  }
ul.shopLeftNav li img {position:absolute; top:12px; right:20px}
ul.shopLeftNav li.last {border-bottom:1px solid #000}
ul.shopLeftNav li a {font-size:16px; letter-spacing:.4px}
ul.shopLeftNav li ul {border-top:1px solid #000; margin:0; padding:8px 0 8px 0}
ul.shopLeftNav li ul li {border:none; line-height:16px; margin:0 0 3px 16px; }

.subcat_newNow {list-style:none; display:none; padding:0px; background:none; max-height:540px; overflow:scroll; overflow-x:hidden; }
.subcat_newNow li a {color:#000; display:block; margin:0; padding:0; font-size:16px;}

.subcat_designers {list-style:none; display:none; padding:0px; background:none; max-height:540px; overflow:scroll; overflow-x:hidden; }
.subcat_designers li a {color:#000; display:block; margin:0; padding:0; font-size:16px;text-transform:uppercase;}

#shopRightCol {width:762px; float:left; margin-top:-14px;}
.shopBoxes {margin: 0 auto;}
.shopBoxes a {}

#editorialRightCol {width:762px; float:left; margin-top:-14px;margin-bottom:44px;}
#instagramRightCol {width:762px; float:left; margin-top:-3px;margin-bottom:44px;}
.instagramProd ul li div.productBoxFeatured{margin:0;}

#aboutRightCol {width:762px; float:left; padding:15px 0 22px 22px; font-family:'merriweather'; font-size:12px;}
.about_page_title { margin:15px 0 -15px 22px; float:left;}
#contactRightCol {width:762px; float:left;  padding:15px 0 22px 22px; font-family:'merriweather'; font-size:12px;}
.content_col3 {height:auto}
.content_col2 {height:auto}
.content_col1 {height:auto}
.ulpages_grid{ margin:0px; padding:0px;    width:474px; height:316px; clear:both}
.ulpages_grid li{ width:146px; height:146px; text-align:center; margin-right:12px; margin-bottom:12px; display:inline; float:left}
.ulpages_grid img{ display:block; }
.content_leftpart{ width:476px; float:left}
.content_rightpart{ width:200px; float:right; overflow:visible;}

#productAreaRightCol {width:762px; float:left; font-family:'merriweather', serif; font-size:9px; margin-top:6px;}
.productsTopNav {float:left; width:740px; height:20px; float:left; font-family:'alternate-gothic-no-2-d', sans-serif; font-size:14px; margin:17px 0 5px 20px; letter-spacing:0.025em;}
.view {float:right; margin-left:2px;}
.pages {float:right; margin-left:0px; text-align:right}
.pages span {margin-left:5px;}
.sortby {float:left; height:20px; line-height:20px; margin:0 0 0 2px;}
.sortby select {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:14px; padding:1px 0 0 0; margin:0; width:168px; height:20px;  border:1px solid #a2a2a2; text-transform:uppercase;letter-spacing:0.025em; }
.sortby_showall {float:right; height:20px; line-height:20px; margin:-3px 0 0 0;}
.sortby_showall select {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:14px; padding:1px 0 0 0; margin:0; width:168px; height:20px;  border:1px solid #a2a2a2; text-transform:uppercase;letter-spacing:0.025em; }

.productsBottomNav {float:left; width:740px; height:20px; float:left; font-family:'alternate-gothic-no-2-d', sans-serif; font-size:14px; margin:17px 0 5px 20px; letter-spacing:0.025em;}
.viewBottom {float:left; margin-left:2px;}
.pagesBottom {float:right; margin-left:2px; text-align:right}
.pagesBottom span {margin-left:5px;}
.sortbyBottom {float:left; height:20px; line-height:20px; margin:-3px 0 0 0;}
.sortbyBottom select {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:14px; padding:1px 0 0 0; margin:0; width:168px; height:20px;  border:1px solid #a2a2a2; text-transform:uppercase;letter-spacing:0.025em; }
.sortby_showallBottom {float:left; height:20px; line-height:20px; margin:-3px 0 0 0;}
.sortby_showallBottom select {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:14px; padding:1px 0 0 0; margin:0; width:168px; height:20px;  border:1px solid #a2a2a2; text-transform:uppercase;letter-spacing:0.025em; }


.productsList {width:762px; }
.productsList ul { float:left; margin:0; padding:0}
.productsList li {float:left; margin:0 0 0 22px ;  padding:0; }
.productBox {}
.productThumb {}
.productThumb a img {width:168px; height:252px;}
.productBox {width:168px; float:left; }
.productInfo {margin-bottom:15px; margin-top:5px;}
.productInfo a:hover {text-decoration:underline;}
.productInfo div {}

.productName {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:16px; font-weight:400; margin:0; padding:0; letter-spacing:0.025em; line-height:16px;}
.productInfoPrice {font-family:'alternate-gothic-no-2-d'; font-size:14px; letter-spacing:0.025em;}

.productsListFeatured {width:762px; }
.productsListFeatured ul { float:left; margin:0; padding:0}
.productsListFeatured li {float:left; margin:0 0 0 22px ;  padding:0; }
.productBoxFeatured {}
.productThumbFeatured {}
.productThumbFeatured a img {width:168px; height:252px;}
.productBoxFeatured {width:184px; float:left; }
.productInfoFeatured {margin-bottom:25px; margin-top:5px;}
.productInfoFeatured a {}
.productInfoFeatured div {}

.productNameFeatured {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:16px; font-weight:400; margin:0; padding:0; letter-spacing:0.025em; line-height:16px;}
.productInfoPriceFeatured {font-family:'alternate-gothic-no-2-d'; font-size:14px; letter-spacing:0.025em;}


/*FOOTER*/
#footer {}
#foot_header {height:55px; line-height:60px; border-top:1px solid #000; border-bottom:1px solid #000}
.foot_inner {float:left; width:1024px; margin:0 auto;  }

.foot_about {width:248px; float:left; margin-right:10px; }
.foot_about h4 {margin:7px 0 11px 0 }
.foot_about ul {margin:0; padding:0; font-family:'merriweather', serif; font-size:13px;}
.foot_about li {}

.foot_custServ {width:248px; float:left; margin-right:10px;  }
.foot_custServ h4 {margin:7px 0 11px 0}
.foot_custServ ul {margin:0; padding:0; font-family:'merriweather', serif; font-size:13px;}
.foot_custServ li {}

.foot_join {width:248px; float:left; margin-right:10px;  }
.foot_join h4 {margin:7px 0 11px 0}
.foot_join form {width:225px; position:relative}
.foot_join input#join_list {width:210px; font-family:'merriweather', serif; font-size:13px; border:1px solid #000; height:24px; padding:0 0 0 5px; }
.foot_join input#emailListBtn {background:url('emailListBtn1.png') no-repeat ; text-indent:-9999px; border:none; position:absolute; top:3px; right:12px; width:19px; height:24px;  }
.foot_join input#emailListBtn:hover {background:url('emailListBtn_hover1.png') no-repeat ; text-indent:-9999px; border:none; position:absolute; top:3px; right:12px; width:19px; height:24px  }

.foot_social {margin:0; padding:0; width:248px; float:left; }
.foot_social ul {margin:11px 0 0 50px; padding:0}
.foot_social li {display:inline; margin: 0  0 0 10px;}

.copyright {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; margin-left:0px; letter-spacing:0.025em;}

/* MASONRY */

/*home masonry*/

html {
    overflow-y: scroll;
}

.home-masonry-container {
	width:1036px;
	margin:0 0 0 -11px;
 }
 
 
.home-image-link {
	

}



.home-masonry-thumb {
    margin:0 11px 22px 11px;
    float: left;
     position:relative;
   -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	text-decoration: none;
}

/*masonry hover text*/
.gridhomeimage, .gridhomeimagerev {position: relative;  margin: 0; float: left; cursor:pointer}

.gridhomeimage .gridhometext {display: none; position: absolute; top: 0; left: 0;  background:#fff; opacity:.8; width: 100%; height: 100%; text-align: center; padding: 99px 0 0 0;   overflow: hidden}
.gridhomeimagerev .gridhometext {text-align: center; position: absolute; top: 0; left: 0; background:#fff; width: 100%; height: 100%; padding:0; overflow: hidden;}
.gridhometext ul {margin:0; padding:0 26px;}
.gridhometext li.prodDesigner {font-family: 'alternate-gothic-no-2-d', sans-serif; font-size:21px; margin:0; padding:0; text-transform:uppercase; line-height:21px;letter-spacing:0.025em;}
.gridhometext li.prodType {font-family: 'merriweather', serif; font-size:10px; margin:0; padding:0}
.gridhometext li.shopNowLink {font-family: 'merriweather', serif;font-size:10px;  margin:7px 0 0 0;  }
.gridhometext li.shopNowLink a {width:57px; border-bottom:1px solid #000; font-size:10px;}

.gridhomeimage .gridhometextbig {display: none; position: absolute; top: 0; left: 0;  background:#fff; opacity:.8; width: 100%; height: 100%; text-align: center; padding: 217px 0 0 0;   overflow: hidden}
.gridhomeimagerev .gridhometextbig {text-align: center; position: absolute; top: 0; left: 0; background:#fff; width: 100%; height: 100%; padding:0; overflow: hidden;}
.gridhometextbig ul {margin:0; padding:0 35px;}
.gridhometextbig li.prodDesigner {font-family: 'alternate-gothic-no-2-d', sans-serif; font-size:28px; text-transform:uppercase; line-height:28px;letter-spacing:0.025em;}
.gridhometextbig li.prodType {font-family: 'merriweather', serif; font-size:14px; margin-top:3px; }
.gridhometextbig li.shopNowLink {font-family: 'merriweather', serif;font-size:14px;  margin-top:17px;}
.gridhometextbig li.shopNowLink a {width:57px; border-bottom:1px solid #000}
.gridhometextwrapper {position: relative;top: 10%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.notopPad {padding-top:0!important}

/*shop masonry*/
.shop-masonry-container {width:762px;margin:0 auto }
 #shopBoxes{margin-top:24px;}

 a.shop-image-link img {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.shop-image-link img {
    
    margin-left: 22px;
    margin-bottom: 22px;
    float: left;
}

.shop-masonry-thumb {
    float: left;
}

.gridshopimage, .gridshopimagerev {position:relative; margin:0; float:left; }

.gridshoptextsmall ul { padding:0 40px 0 61px; text-align:center;margin:0;}
.gridshopimage .gridshoptextsmall {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8; width: 100%; height: 100%; text-align: center; padding: 115px 0 0 0; overflow: hidden; cursor:pointer}
.gridshopimagerev .gridshoptextsmall {text-align:center; position:absolute; top:0; left:0; background:#fff; width:100%; height:100%; padding:0;  overflow: hidden;}
.gridshoptextsmall li.prodDesigner {font-family: 'alternate-gothic-no-2-d', sans-serif; font-size:28px; /*padding:0 0 0 20px;*/ text-align:center; letter-spacing:0.025em;}
.gridshoptextsmall li.shopNowLink {font-family: 'merriweather', serif;font-size:15px; margin-top:10px }
.gridshoptextsmall li.shopNowLink a {border-bottom:1px solid #000; width:87px;}

.gridshoptextmedium ul {margin:0; padding:0 40px 0 62px; text-align:center;}
.gridshopimage .gridshoptextmedium {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8; width: 100%; height: 100%; text-align: center; padding: 255px 0 0 0; overflow: hidden;cursor:pointer}
.gridshopimagerev .gridshoptextmedium {text-align:center; position:absolute; top:0; left:0; background:#fff; width:100%; height:100%; padding:0;  overflow: hidden;}
.gridshoptextmedium li.prodDesigner {font-family: 'alternate-gothic-no-2-d', sans-serif; font-size:28px; /*padding:0 0 0 20px;*/ text-align:center; letter-spacing:0.025em;}
.gridshoptextmedium li.shopNowLink {font-family: 'merriweather', serif;font-size:15px;  margin-top:10px;}
.gridshoptextmedium li.shopNowLink a {border-bottom:1px solid #000; width:87px}

.gridshoptextlarge ul {margin:0; padding:0; text-align:center;}
.gridshopimage .gridshoptextlarge {display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8; width: 100%; height: 100%; text-align: center; padding: 350px 0 0 0; overflow: hidden;cursor:pointer}
.gridshopimagerev .gridshoptextlarge {text-align:center; position:absolute; top:0; left:0; background:#fff; width:100%; height:100%; padding:0;  overflow: hidden;}
.gridshoptextlarge li.prodDesigner {font-family: 'alternate-gothic-no-2-d', sans-serif; font-size:28px; /*padding:0 0 0 20px;*/ letter-spacing:0.025em;}
.gridshoptextlarge li.shopNowLink {font-family: 'merriweather', serif;font-size:15px;  margin-top:10px;}
.gridshoptextlarge li.shopNowLink a {border-bottom:1px solid #000; width:87px}


/*added area for shop left nav*/

/*not sure if i will use these yet*/
.sub_accesories {display:none; width:90px; list-style:none;margin:10px ; padding:0; font-size:11px;}
.colorbox {width:22px; height:22px; float:left; margin:2px; padding:0px; cursor:pointer;border:1px solid #000}
li.shop_side_title {position:relative; list-style:none; margin:0; border-bottom:1px solid #6666ff; padding:10px;}
li.shop_side_title img {position:absolute; top:12px; right:5px} /*not using yet, but might change use if I change the arrow to being an image not a background*/



/*Product Detail Pages*/
.ibtnaddtote{ padding-top:9px; }
.product_addcart1{ height:31px;  padding-left:0px; line-height:80%; text-align:center; background-color:white; border:solid #ccc 1px; color:black; margin:-1px -1px 12px -1px; font-size:21px;}
.product_addcart1:hover{ height:31px; padding-left:0px; line-height:80%; text-align:center; background-color:black; border:black; color:white; margin:-1px -1px 12px -1px; font-size:21px;}
/*.product_addcart1 .product_addcart1{ margin:0px; }*/
.product_addcart2{height:31px;  padding-left:0px; line-height:80%; text-align:center; background-color:white; border:solid #ccc 1px; color:black; margin:-1px -1px 12px -1px; font-size:21px;}
.product_addcart2:hover{  height:31px; padding-left:0px; line-height:80%; text-align:center; background-color:black; border:black; color:white; margin:-1px -1px 12px -1px; font-size:21px;}
/*.product_addcart2 .product_addcart2{ margin:-1px -1px 0; font-size:22px; text-align:center;}*/
.btngo,.ibtn{cursor:pointer}
.center_fm_content{font-family:'alternate-gothic-no-2-d',sans-serif; text-transform:uppercase; overflow:visible; width:710px; margin: 23px 0 0 40px; padding:0px; position:relative;letter-spacing:0.025em; }/*height:621px; overflow-x:hidden; overflow-y:auto*/
.product_detail {width: 213px; height:auto;font-family:'merriweather';/*min-height:659px;*/font-size:10px; line-height:14px; text-transform:none; }
.prodct_detail_header {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:18px; text-transform:uppercase;letter-spacing:0.025em; width:240px;}
.prodct_detail_header div{ float:left; display:inline; cursor:pointer; text-transform: uppercase; font-size: 18px; padding: 0 26px 12px 0; color:Gray;}
.prodct_detail_header div.selected_product_header{ text-decoration:underline; color:Black; }
/*text-align:center; color:black; font-size:10px;font-family: 'merriweather', serif; border-bottom:1px solid #000;*/
.popsizechart{ text-align:center; color:black; font-size:10px;font-family: 'merriweather', serif; /*border-bottom:1px solid #000;*/text-decoration:underline;}
/*.popsizechart:hover{ height:31px; padding-left:0px; line-height:80%; text-align:center; background-color:black; border:solid #ccc 1px;color:white; margin-top:-1px; margin-bottom:12px;font-size:21px;font-family: 'alternate-gothic-no-2-d', sans-serif;width:213px;}*/
.btndesigner{ text-align:center; color:black; font-size:10px;font-family: 'merriweather', serif; text-decoration:underline;}
/*.btndesigner:hover{ height:31px; padding-left:0px; line-height:80%; text-align:center; background-color:black; border:solid #ccc 1px;color:white; margin-top:-1px; margin-bottom:12px;font-size:21px;font-family: 'alternate-gothic-no-2-d', sans-serif;width:213px;text-transform:uppercase;}*/

.product_addcart21{ height:31px;  padding-left:0px; line-height:100%; text-align:center; background-color:white; border:solid #ccc 1px; color:black; margin-top:7px; margin-bottom:12px; font-size:21px;padding-top:5px;}
.product_addcart11{ height:31px; padding-left:0px; line-height:100%; text-align:center; background-color:white; border:solid #ccc 1px; color:black; margin-top:7px; margin-bottom:12px; font-size:21px;padding-top:5px; }

/*.product_addcart2 .product_addcart2{ margin:-1px -1px 0; font-size:22px; text-align:center;}*/
.lessthanthreemsg {font-size: 21px; margin: 0 0 10px 0; background-color:#ccc ; border:solid #ccc 1px; color:#fff; padding: 4px; text-align: center; height:31px;}
.product_image{  }
.product_image_main{ float:left;  background:#fff; width:372px;}
.product_image_ths{ width:88px; padding-left:10px; float:left;  height:558px}
.product_image_th{ width:53px; height:79px; margin-bottom:6px; margin-left:7px;}
.product_image_th_col{ width:60px; float:left;}
.pili{ width:88px; height:132px; margin-bottom:10px; }
.product_image_ths .rel{ position:relative; width:88px; height:558px;}
.pili_fm{ position:absolute; z-index:1; width:88px; height:558px; left:0px; top:0px; overflow:hidden;}
.pili_up{ position:absolute; z-index:2; width:88px; height:62px;  left:0px; top:496px;}
.pili_down{ position:absolute; z-index:3;width:88px; height:62px; left:0px; top:0px;} 
.pili_btn{ cursor:pointer;}
.pili_fm_holder{ position:absolute; z-index:1;   top:0px;}
.content_header{ padding-bottom:30px; }
.content_header span, .grey{ color:#666666;}
.content_header_pages{ font-size:10px;}
.content_product_pages{ font-size:14px;}
.plproducts li{float:left; width:150px; padding:0px; margin:0px; display:inline; height:263px; margin-right:37px; }
.plproducts .li2{ margin-right:36px; }
.plproducts .li3{ margin-right:0px;}
.productthumb{ width:204px; height:228px; width:150px; height:225px; }
.productinfo{ padding-top:0px;   font-size:10px; line-height:120%; height:38px;}
.lbldesigner{ font-size:20px; display:block; margin-bottom:12px; line-height: 1.1em;}
.lbldesigner a {color: black; font-size: 28px; text-decoration: none; font-weight:normal;}
/*.lbldesigner a:hover {color: blue; text-transform: none; font-size: 20px; text-decoration: none;}*/
.product_left{float:left; width:497px; height:613px; }
.product_right{width:213px; float:left;}
.rel{ position:relative;}
.product_th_info{ position:relative; height:263px; z-index:1}
.product_grid_logos{ position:relative;  top:-110px; z-index:2; height:71px; overflow:visible; }
.quickicon{ position:relative; top:-68px; z-index:3; left:120px; left:116px; top:-72px;}
.quickicon2{ top:-139px;}
/*.product_right_info{ margin-top:20px; }*/
.product_right_info p{ margin-top:0px; margin-bottom:10px; padding:0px;}
.product_right_flag{ height:61px;} 
span.pname {color: #000; font-size: 18px; display:block; margin-bottom:18px;}
.productprice{ padding:0px 0px 12px 0px; font-size:18px; }

.product_enlarge_link{ padding-top:3px; color:#6699ff; text-decoration:underline; font-size:10px; text-transform:uppercase}
.productpop{ cursor:pointer}
.wide{  border:0px; background:url(/images/ocx/images/box.gif) no-repeat; width:204px; height:18px;  }
.wide .wideinput{ width:198px; }
.wide_s{ background:url(/images/ocx/images/box_s.gif) no-repeat; width:45px; text-align:center; height:18px; }
.wide_s .wideinput{ width:34px; text-transform:uppercase; font-size:10px; }
.plqty{ height:22px;}
.plqty div{ float:left}
.plqty_label{ padding:3px 9px 0px 0px; font-size:10px;  }
.col1{ float:left; width:226px;  display:inline; height:600px; padding-right:10px; }
.col2{float:left; width:226px;  display:inline; height:600px; padding-right:10px;}
.col1 b, .col2 b, .col3 b,
.col1 strong, .col2 strong, .col3 strong{ text-transform:uppercase}
.col3{  float:left; width:238px; display:inline; }
.col3 .wtext{ width:234px;}
.ul_SizesColors li{ border:1px solid;}
.ul_SizesColors{ height:50px; overflow:scroll; display:none}
.input109{ width:105px; /*background-image:url(/images/hm4/input109.png);*/ }
.input109 input,.input109 select{ width:105px;}
.input109 .ht14{ width:105px;}
.input109div{width:105px;}
.input5 input,.input4 select{font-family:'alternate-gothic-no-2-d', sans-serif; font-size:14px; padding:1px 0 0 0; margin:0; width:168px; height:20px; letter-spacing:0.025em; border:1px solid #a2a2a2; text-transform:uppercase; }
.input4{ width:185px; height:14px; /*background-image:url(/images/search.png);*/ background-position:top -2px; background-repeat:no-repeat;  padding:2px; overflow:hidden;}
.product_size_grid{ height:22px; margin:0px 5px 5px 0px; display:inline;   line-height:100%; width:101px; float:left;  }
.input4 div{width:165px; height:16px;  overflow:hidden}
.ht14{ height:14px; }
.input4 input,.input4 select{ width:97px; height:18px; /*border:0px;*/ text-indent:0px; padding:0px; margin:0px; text-indent:1px; font-size:14px; }
select .red{ color:red}
.red{ color:red}
.product_size{ height:35px; }

/*Keep an eye on product btn link*/
.keepAnEyeBtn { float:left; width:211px; height:31px; padding-left:5px;  text-align:center; background-color:#dcdcdc; border:solid #ccc 1px; color:black; margin:22px 0; font-size:18px;padding-top:6px;}
.keepAnEyeBtn a img {margin:0 0 1px 2px}


/*SHOP DESIGNER LISTS*/
#designerListWomen {float:left; width:485px; padding-right:10px; border-right:1px solid #000; font-family:'alternate-gothic-no-2-d',sans-serif; letter-spacing:0.025em;}
.designerListWomenTitle {text-align:center; height:50px; line-height:50px;  border-bottom:1px solid #000; margin:0}
.designerListWomenTitle h2 {margin:0; padding:0}
#designerListWomen h1 {margin:24px 0 9px 10px}
#designerListWomen ul {float:left; margin:0 5px; padding:0; -moz-column-count: 2; -moz-column-gap: 20px; -webkit-column-count: 2; -webkit-column-gap: 20px; column-count: 2; column-gap: 20px;}
#designerListWomen li {font-size:16px; width:220px;}
#designerListWomen a {}

#designerListMen {float:left; width:485px;  padding-left:10px; font-family:'alternate-gothic-no-2-d',sans-serif;}
.designerListMenTitle {text-align:center; height:50px; line-height:50px; border-bottom:1px solid #000; margin:0}
.designerListMenTitle h2 {margin:0; padding:0}
#designerListMen h1 {margin:24px 0 9px 10px}
#designerListMen ul {float:left; margin:0 5px; padding:0; -moz-column-count: 2; -moz-column-gap: 20px; -webkit-column-count: 2; -webkit-column-gap: 20px; column-count: 2; column-gap: 20px;}
#designerListMen li {font-size:16px; width:220px;}
#designerListMen a {}

.designerSublist {width:220px;}

div.designerlist {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

/*ABOUT PAGE*/
#aboutBannerImg {}
#aboutBannerImg img {}
#aboutContent {margin:25px 0 0 0}
.aboutLeft {float:left; width:690px; border-right:1px solid #000;}
.aboutLeft h1 {margin:0 0 3px 0; padding:0;}
.aboutLeft p {margin:0 0 25px 0; padding:0; width:620px;font-family:'merriweather', serif; font-size:14px; line-height:24px}
.aboutRight {float:left; width:300px;  }
.aboutRight ul {margin:0 0 0 70px; padding:0; font-family:'alternate-gothic-no-2-d',sans-serif; letter-spacing:0.025em; }
.aboutRight li {font-size:23px; line-height:43px;}


#tweetme ul {margin:0; padding:0}

.caparial{ text-transform:uppercase; font-family:Arial; font-size:18px; font-family:'alternate-gothic-no-2-d',sans-serif; letter-spacing:0.025em;}
.newSelect {font-family:'alternate-gothic-no-2-d',sans-serif; text-transform: uppercase; letter-spacing:0.025em; font-size:18px; height:24px; }
.newselectWrap {height:24px; border:1px solid #ccc}
.noBorder  {border:none!important}
.newInputHeight {height:24px; margin:0; padding:0; }
.newPreviewBtn {width:125px; text-transform: uppercase; height: auto; padding:3px 10px; font-size: 18px; font-family:'alternate-gothic-no-2-d', sans-serif;text-align:center; background-color:white; border:solid #000 1px;  color:black; margin:0}
.newPreviewBtn:hover{ text-transform: uppercase; text-align:center; background-color:black; border:solid #ccc 1px; color:White;}
.newLoginBtns {margin:10px 0 5px 0!important;width: 125px; text-transform: uppercase; height: auto; padding:3px 10px; font-size: 18px; font-family:'alternate-gothic-no-2-d', sans-serif;text-align:center; background-color:white; border:solid #000 1px;  color:black; margin:0}
.newLoginBtns:hover{ text-transform: uppercase; text-align:center; background-color:black; border:solid #ccc 1px; color:White;}

.rinputrq210 {height:24px!important}
#giftform .content_col1 p {font-family:'merriweather', serif!important; font-size:12px!important}

.emailText {font-family:'merriweather', serif; font-size:12px;}
.emailText a {text-decoration:underline}

.newEditBtn {float:left; width:50px; margin:0px 10px 5px 0!important; text-transform: uppercase; height: auto; padding:3px 10px; font-size: 18px; font-family:'alternate-gothic-no-2-d', sans-serif;text-align:center; background-color:white; border:solid #000 1px;  color:black; margin:0}
.newEditBtn:hover {  text-transform: uppercase; text-align:center; background-color:black; border:solid #ccc 1px; color:White;}

.newPurchaseBtn {float:left; width:90px; margin:0px 0 5px 0!important; text-transform: uppercase; height: auto; padding:3px 10px; font-size: 18px; font-family:'alternate-gothic-no-2-d', sans-serif;text-align:center; background-color:white; border:solid #000 1px;  color:black; margin:0}
.newPurchaseBtn:hover { text-transform: uppercase; text-align:center; background-color:black; border:solid #ccc 1px; color:White;}

.newSubmitBtn {cursor:pointer;width:125px; text-transform: uppercase; height: auto; padding:3px 10px; font-size: 18px; font-family:'alternate-gothic-no-2-d', sans-serif;text-align:center; background-color:white; border:solid #000 1px;  color:black; margin:0 0 22px 0!important}
.newSubmitBtn:hover {text-transform: uppercase; text-align:center; background-color:black; border:solid #ccc 1px; color:White;}

.altGoth {font-family:'alternate-gothic-no-2-d', sans-serif; text-transform:uppercase; letter-spacing:0.025em; font-size:18px;}
.merrText {font-family:'merriweather', serif; font-size:14px }

.dontshow {display:none}

/*EDITORIAL PAGE*/
#editorialSlideshow {height:780px; width:994px;position:relative; z-index:1; }
.editorialSlideshowWrap {position:relative; z-index:2; width:994px; max-height:780px}
.editorialSlideshowWrap .editSlide {position:relative; z-index:2; width:994px; height:740px; text-align:center; margin:0 auto;}
.imageCaption {width:994px; height:40px; float:left; font-family:'merriweather', serif; font-size:10px; letter-spacing:.35px; color:#000; margin:0; padding:0; text-align:left;}
.imageCaption a {color:#a2a2a2}
.imageCaption a:hover {color:#a2a2a2; text-decoration:underline}

.edit_single_prev {background:url(../images/ocx/images/blog_single/blogPrev.png) 0 0 no-repeat;  width:25px;height:100%; position:absolute; top:339px; left:-1px; z-index:100; }
.edit_single_next { background:url(../images/ocx/images/blog_single/blogNext.png) 0 0 no-repeat;  width:25px; height:100%;position:absolute; top:339px; right:-1px; z-index:100;}
.edit_single_prev:hover { background:url(../images/ocx/images/blog_single/blogPrev_hover.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:339px; left:-1px; z-index:100; }
.edit_single_next:hover { background:url(../images/ocx/images/blog_single/blogNext_hover.png) 0 0 no-repeat; height:100%; width:25px; position:absolute; top:339px; right:-1px; z-index:100;}

.editImageCaption {width:994px;  float:left; font-family:'merriweather', serif; font-size:10px; letter-spacing:.35px; color:#000; margin:0; padding:0; text-align:left;}
.editImageCaption a {color:#a2a2a2}
.editImageCaption a:hover {color:#a2a2a2; text-decoration:underline}

#editorialFeatProds {}
#featuredProdTitle {height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000;}
.featRelProduct{float:left; width:181px; margin:0 22px 0 0}
.featRelProduct img {width:181px;}
.featRelProductText{display:none; position:absolute; top: 0; left:0; background:#fff; opacity:.8; width: 233px; height:348px;text-align:center!important; padding: 164px 0 0 0; overflow: hidden; margin:0}
.featRelProductName{font-family:'alternate-gothic-no-2-d', sans-serif; font-size:21px; font-weight:600; margin:0; padding:0}
.featRelProductType{font-family:'merriweather', serif; font-size:10px;  font-weight:400; margin:0; padding:0}
.featRelProductShopNow{font-family:'merriweather', serif; font-size:10px; font-weight:400; padding:0; width:57px; border-bottom:1px solid #000; text-align:center; margin:3px auto 0 auto;}

#prevEditorials{}
#prevEditorialTitle{height:45px; line-height:48px; border-top:1px solid #000; border-bottom:1px solid #000;}
.prevEditPost{float:left; width:231px; margin:0 22px 0 0}
.prevEditPost a img {width:231px;/*height:150px;*/}
#editorialFeatProdList ul {margin:0 0 0 -106px;}
/*#editorialFeatProdList ul li {margin:0 0 0 -36px;}*/

.productsListEditorial {width:762px; }
.productsListEditorial ul { float:left; margin:0; padding:0}
.productsListEditorial li {float:left; margin:0 0 0 22px ;  padding:0; }
.productBoxEditorial {}
.productThumbEditorial {}
.productThumbEditorial a img {width:231px; height:348px;}
.productBoxEditorial {width:184px; float:left; margin:22px 0 0 70px;}
/*.productInfoEditorial {margin-bottom:25px;}*/
.productInfoEditorial a {}
.productInfoEditorial div {}

.productNameEditorial {font-family:'alternate-gothic-no-2-d', sans-serif; font-size:16px; font-weight:400; margin:10px 0 0 0; padding:0; letter-spacing:0.025em;}
.productInfoPriceEditorial {font-family:'alternate-gothic-no-2-d'; font-size:14px; letter-spacing:0.025em;}


/*iPad in portrait & landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	.gridhometextwrapper {position: relative;top: 2%; translate3d(0, -50%, 0) -webkit-transform: translateY(-50%);}

}

