@media screen {



  h1, h2, h3, h4, p {
    font-family: "helvetica";
    color: #333333;
  }
  p {
    font-size: 0.8em;
  }
  span {
    font-weight: lighter;
    font-size: 1.5em;
  }

  a {
    background: rgba(233,109,109,0.6);
    padding: 5px;
    color: white;
    font-style: normal;
    text-decoration: inherit;
  }

  .widgets {
    width: auto;
    margin: auto;
    padding: 10px;
    height: auto;
    display: block;
    margin-left: 10px;
  }

  .card-type ul {
    display: inline;
    list-style-type: none;
    float: none;
  }

   .card-type li {
    float: none;
    vertical-align: top;
    margin-right: 50px;
  }

  .sizes {
    width: 300px;
    margin-bottom: -30px;
    padding-right: 20px;
    display: table;
  }

  .scale {
    width: 30px;
    height: 30px;
    border-left-style: solid;
    border-top-style: solid;
    border-top-width: 10px;
    border-left-width: 10px;
    border-color: #e96d6d;
    float: left;
  }

  p.sizetext  {
    margin: 10px;
    display: block;
    margin-top: -3px;
    margin-left: 50px;
  }

  .section {
    width: auto;
    height: auto;
    margin-left: 80px;
    margin-top: 50px;
  }

  .container {
    max-width: 800px;
  }

  .section-swipe {
    width: auto;
    height: auto;
    margin-left: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .example {
    float: left;
    padding: 10px;
    margin-right: 35px;
  }

 .example-single {
    float: left;
    padding: 10px;
    margin-right: 35px;
  }

  .description p {
    font-size: 0.79em;
    font-style: italic;
    color: #555555
  }

  .description span {
    font-size: 0.9em;
    font-weight: bold;
    font-style: normal;
  }

  .title {
    margin: 10px;
    width: 300px;
  }

  .title h4 {
    text-align: left;
    font-family: 'helvetica';
    font-weight: bold;
    font-size: 1.5em;
    padding: 8px;
    background: rgb(112, 252, 205);
    color: #333333;
    margin-bottom: 0px;
    margin-left: 10px
  }

  /* Menu Starts Here */

 .home {
  overflow: hidden;
 }

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: none;
  text-indent: -9999px;
  background: url('scroll.png') no-repeat;
  background-size: 50px;
  }

  /*Strip the ul of padding and list styling*/
 ul#menu {
  list-style-type:none;
  margin:0;
  padding:0;
  position: inherit;
  padding-bottom: 30px;

}

/*Create a horizontal list with spacing*/
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}

/*Style for menu links*/
li a {
  display: block;
  min-width: 140px;
  height: 40px;
  text-align: center;
  line-height: 44px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: rgba(62, 58, 91, 0.7);
  text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
  background: rgb(183, 127, 216);
}

/*Style for dropdown links*/
li:hover ul a {
  background: rgb(183, 127, 216);
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
  background: rgb(183, 127, 216);
  color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
  display: none;
}

/*Make dropdown links vertical*/
li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #FA4B80;
  text-align: center;
  padding: 10px 0;
  display: none;
  font-weight: bold;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


  /* Menu Ends Here */

}

@media (max-width: 960px) {
  h1 {
    text-align: center;
  }

  ul.card-type {
    display: block;
    position: relative;
    padding: 0;
  }

  .sizes {
    margin-left: -20px;
  }

  .card-type li{
    display: block;
    position: relative;
    width: 300px;
    margin: auto;
  }

  .section {
    width: auto;
    height: 100%;
    margin: auto;

  }

.section-swipe {
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 60px

  }

  .widgets {
    width: auto;
    padding: 10px 0;
    margin: auto;
    display: block;
  }

  .title {
    margin: auto;
    width: 300px;
  }

  .title h4 {
    font-size: 1.2em;
    margin-left: 0px;
    width: 285px;
    text-align: center;
    margin-top: 30px;
  }

  .example {
    float: none;
    margin: auto;
    display: block;
    width: 300px;
    padding: 10px 0;
  }


  /*Responsive Menu Styles*/

  .menu {
    display: block;
  }
  #menu ul {
    padding-bottom: 150px;
  }

  /*Make dropdown links appear inline*/
   ul#menu {
    position: static;
    display: none;
    padding-bottom: 150px;
  }
  /*Create vertical spacing*/
  li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul li, li a {
    width: 100%;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display:block;
  }
}

@media (min-width: 501) and (max-width: 700px) {
.scrollup {
  right: 30px;
  }
}

@media (min-width: 301) and (max-width: 500px) {
  .scrollup {
    width: 50px;
    height: 50px;
    bottom: 0px;
    left:0px;
    background-size: 50px;
  }
}
