@font-face {
    font-family: 'GothamMedium';
    src: url('http://www.ourismanfairfaxtoyota.com/assets/fonts/gotham/fonts.css');
    src: url('gotham-m_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-m_0-webfont.woff') format('woff'),
         url('gotham-m_0-webfont.ttf') format('truetype'),
         url('gotham-m_0-webfont.svg#GothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('http://www.ourismanfairfaxtoyota.com/assets/fonts/gotham/fonts.css');
    src: url('Gotham.eot?#iefix') format('embedded-opentype'),
         url('Gotham.woff') format('woff'),
         url('Gotham.ttf') format('truetype'),
         url('Gotham.svg#Gotham') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamLight';
    src: url('http://www.ourismanfairfaxtoyota.com/assets/fonts/gotham/fonts.css');
    src: url('Gotham_l.eot?#iefix') format('embedded-opentype'),
         url('Gotham_l.woff') format('woff'),
         url('Gotham_l.ttf') format('truetype'),
         url('Gotham_l.svg#Gotham_l') format('svg');
    font-weight: normal;
    font-style: normal;
}
