@import url("//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400italic");
#hHeader {
	height: 224px;
	background: url('../ourisman_files/headerbg.png') no-repeat left top;
}
.vcard { clear: both; width:100% height:89px;
}
.dealerLogoImg img { height: 89px; }
.headerModel, .headerModel a {
	width: 135px;
	height: 185px;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../ourisman_files/model.png') no-repeat left top;
	display: block;
}
.col1 {
	margin: 7px 5px 0 25px;
	text-align: center;
}
.col2 { margin: 5px 20px 5px 0px; }
.org { margin: 3px 0 0; }
.org a {
	text-transform: uppercase;
	color: #000;
	font: 800 italic 26px 'Open Sans', sans-serif;
}
.adr {
	color: #000000;
	font: italic 400 15px/18px 'Open Sans', sans-serif;
	margin: 0 0 5px;
	text-transform: uppercase;
}
.award { margin: 6px 0 0 20px; }
.award img { height: 70px; }
.tel {
	font: 300 italic 18px 'Open Sans', sans-serif;
	color: #000;
	line-height: 24px;
	text-align: right;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
}
.tel label {
	font-weight: normal !important;
	text-align: right;
	font: 700 italic 18px 'Open Sans', sans-serif;
	padding-right: 10px;
}
.top-text {
	width: 625px;
	margin: 10px 0px 0px 120px;
	line-height: 38px;
	text-align: right;
}
.top-buts { width: 235px; }
.inventorybanner {
	clear: both;
	text-transform: uppercase;
	letter-spacing: -.3px;
	text-shadow: 1px 1px 1px #000;
}
.inventorybanner h1 {
	font-weight: normal;
	font-size: 46px;
	color: #fff;
}
.inventorybanner h2 {
	font-weight: normal;
	font-size: 38px;
	margin-bottom: 0 !important;
	color: #fff;
}
.inventorybanner h2 span { color: #dc241f; }
.right .btnClass {
	font-family: 'metaplusbold_italic';
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #dc241f;
	text-shadow: 0px 1px 1px #fff;
	border: 1px solid #666;
	background: #f0f0f0; /* for non-css3 browsers */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a1a1', endColorstr='#f0f0f0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a1a1a1), to(#f0f0f0)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #a1a1a1, #f0f0f0); /* for firefox 3.6+ */
	-webkit-border-radius: 4px; /* Safari prototype */
	-moz-border-radius: 4px; /* Gecko browsers */
	border-radius: 4px; /* Everything else - limited support at the moment */
	box-shadow: 0px 1px 10px #333;
	padding: 10px 0px 8px 0px;
	margin: 0px 0px 5px 0px;
	cursor: pointer;
}
.right .btnClass a {
	padding-left: 35px;
	text-decoration: none;
	background: url(../images/red_arrow.png) no-repeat 18px 0px;
}
.right .btnClass a:hover {
	padding-left: 35px;
	color: #333;
	text-decoration: none;
	background: url(../images/red_arrow.png) no-repeat 18px 0px;
}
.right { float: right; }
.left { float: left; }
.clear { clear: both; }
.social { margin-top: 0px; }
#hHeader .purecarslogo img {
	left: 0;
	position: absolute;
	top: 92px;
	width: 90px;
}
