
@import url("common.css");
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
/***********************************
*  Home Page
************************************/


#content_top {
	background:url('../ourisman_files/linebar.png') no-repeat left top;
	margin:0px 0px 50px 0px;
}

#block3 { width:223px;margin-left:10px;}
#block5 { margin:0;padding-right:10px; width: 320px;}

.seo_scrolling {
	float:left;
 	color: #999;
	text-align:left;
}

.seo_scrolling h1,.seo_scrolling h2{
	font-family:arial;
	color: #999;
	padding:0px 0px 5px 0px;
}

.seo_scrolling p {
	font:normal 13px Arial, sans-serif ;
	color: #999;
	padding:0px 0px 8px 0px;
}

.seo_scrolling p a, a:hover{
	color:#c00;
}


@media only screen and (min-width: 768px) and (max-width: 1000px) {
	#headerBlock #hImage {
	  width: 750px !important;
	}
	#vehiclemBulletThum ul {
	  width: 750px !important;
	}

}
