#vehiclemBulletThum { width:100%; position:relative;background-color:#ccc;}
#vehiclemBulletThum li {list-style-type: none;position: absolute;padding:0;margin: 0;left:0;}
#vehiclemBulletThum ul {position: relative;height:340px;width:100%;padding:0;margin:0;overflow:hidden;}
#vehiclemBulletThum a{ display:block;}
#vehiclemBulletThum img{ display:none;border:0;}
#vehiclemBulletThum #cPanel{ position:absolute;top:220px; right:0;}
#vehiclemBulletThum #cButtons{float:right;}
#vehiclemBulletThum #thumbnails {float:right;}
#vehiclemBulletThum #thumbnails span{ color:#000000;font-family:Arial,Helvetica,sans-serif; font-size:36px;font-weight:bold;text-align:center;float:left; margin-right:10px;}
#vehiclemBulletThum #thumbnails span.current {color:#990000;}
