html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,*:before,*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.visible-small,.visible-medium,.visible-base,.visible-large,.visible-giant {
    display: none !important;
}

@media screen and (max-width: 1500px) {
    .visible-large {
        display: block !important;
    }

    table.visible-large {
        display: table;
    }

    tr.visible-large {
        display: table-row !important;
    }

    th.visible-large,td.visible-large {
        display: table-cell !important;
    }

    .hidden-large {
        display: none !important;
    }
}

@media screen and (max-width: 1088px) {
    .visible-medium {
        display: block !important;
    }

    table.visible-medium {
        display: table;
    }

    tr.visible-medium {
        display: table-row !important;
    }

    th.visible-medium,td.visible-medium {
        display: table-cell !important;
    }

    .hidden-medium {
        display: none !important;
    }

    .ghost-medium {
        visibility: hidden;
    }
}

@media screen and (max-width: 672px) {
    .visible-small {
        display: block !important;
    }

    table.visible-small {
        display: table;
    }

    tr.visible-small {
        display: table-row !important;
    }

    th.visible-small,td.visible-small {
        display: table-cell !important;
    }

    .hidden-small {
        display: none !important;
    }
}

@media screen and (min-width: 1600px) {
    .visible-giant {
        display: block !important;
    }

    table.visible-giant {
        display: table;
    }

    tr.visible-giant {
        display: table-row !important;
    }

    th.visible-giant,td.visible-giant {
        display: table-cell !important;
    }

    .hidden-giant {
        display: none !important;
    }
}

.visible-base {
    display: block !important;
}

table.visible-base {
    display: table;
}

tr.visible-base {
    display: table-row !important;
}

th.visible-base,td.visible-base {
    display: table-cell !important;
}

.hidden-base {
    display: none !important;
}/*! normalize.css v3.0.0 | MIT License | git.io/normalize */html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

a {
    background: transparent;
}

a:active,a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: transparent;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    height: 0;
}

pre {
    overflow: auto;
}

code,kbd,pre,samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],input[type="radio"] {
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

td,th {
    padding: 0;
}/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #838078;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #e0dfdd;
    color: #838078;
    text-shadow: none;
}

::selection {
    background: #e0dfdd;
    color: #838078;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,canvas,img,svg,video {
    vertical-align: middle;
}

ins {
    text-decoration: none;
}

p {
    margin: 0;
    text-align: left;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.fullbox h2 {
    text-align: center;
}

.fullbox p {
  text-align: center;
    font-size: 33px;
    font-size: 3.3rem;
    line-height: 1.25em;
}

.browsehappy {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 0.25em 0.5em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.browsehappy strong {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.browsehappy em {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.content ul {
    font-size: .7em;
    line-height: 30px;
}

.publishers {
	width: 280px;
	height: 300px;
	display: block;
	background-color: #eeeeee;
	border: #c0c0c0;
	border-style: solid;
	border-radius: 10px;
	padding: 10px 20px;
}

.publishers p {
	text-align: center;
	color: #444444;
  margin-top: 30px;
}

.widgetlist {
  width: 300px;
  height: 300px;
  display: block;
  padding: 10px 20px;
}


.steps {
  width: 310px;
  height: 300px;
  display: block;
  background-color: rgba(162, 147, 186, 0.5);
  border: #a293ba;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 20px;
}

.steps h2, p {
  text-align: center;
  color: #666666;
  margin-top: 30px;
}

.steps ul {  
  margin-left: 10px;
  color: #555555;
}

.invisible {
    visibility: hidden;
}

.grid,.group {
    zoom: 1;
}

.grid:before,.grid:after,.group:before,.group:after {
    content: "";
    display: table;
}

.grid:after,.group:after {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

dl {
    margin: 0;
}

dl dd {
    margin-left: 0;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,a[href^="#"]:after {
        content: "";
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3;
    }

    h2,h3 {
        page-break-after: avoid;
    }
}

@font-face {
    font-family:'icomoon';src:url("../../fonts/icomoon.eot?-3kj7we");src:url("../../fonts/icomoon.eot?#iefix-3kj7we") format("embedded-opentype"),url("../../fonts/icomoon.woff?-3kj7we") format("woff"),url("../../fonts/icomoon.ttf?-3kj7we") format("truetype"),url("../../fonts/icomoon.svg?-3kj7we#icomoon") format("svg");font-weight:normal;font-style:normal;
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search-close:before {
    content: "\e609";
}

.icon-search:before {
    content: "\e600";
}

.icon-plus:before {
    content: "\e601";
}

.icon-disc:before {
    content: "\e602";
}

.icon-cross:before {
    content: "\e603";
}

.icon-clock:before {
    content: "\e604";
}

.icon-arrow-up:before {
    content: "\e605";
}

.icon-arrow-right:before {
    content: "\e606";
}

.icon-arrow-left:before {
    content: "\e607";
}

.icon-arrow-down:before {
    content: "\e608";
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5em;
    font-family: 'Univers LT W01 45 Light', 'UniversLTStd-Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #838078;
}

body ::-webkit-input-placeholder {
    color: #a8a6a0;
}

body :-moz-placeholder {
    color: #a8a6a0;
}

body ::-moz-placeholder {
    color: #a8a6a0;
}

body :-ms-input-placeholder {
    color: #a8a6a0;
}

@media screen and (max-width: 672px) {
    body {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5em;
    }
}

@media screen and (min-width: 1600px) {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.44em;
    }
}

a {
    color: #a8a6a0;
    text-decoration: none;
}

a h1,a h2,a h3,a h4,a h5,a h6 {
    color: #838078;
}

a:hover {
    color: #838078;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    margin: 0;
}

h1,h2,.h1,.h2 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 53.5px;
    font-size: 5.35rem;
    line-height: 1.2em;
}

@media screen and (max-width: 1088px) {
    h1,h2,.h1,.h2 {
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 1.44em;
    }
}

h3,.h3,.text-medium {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 27px;
    font-size: 2.7rem;
    line-height: 1.444em;
}

@media screen and (max-width: 1088px) {
    h3,.h3,.text-medium {
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.444em;
    }
}

@media screen and (min-width: 1600px) {
    h3,.h3,.text-medium {
        font-size: 33px;
        font-size: 3.3rem;
        line-height: 1.25em;
    }
}

h3,.h3 {
    margin-bottom: 0.5em;
}

h4 {
    margin-bottom: 1em;
}

.text-giant {
    font-size: 114px;
    font-size: 5rem;
    line-height: 1em;
}

@media screen and (max-width: 1088px) {
    .text-giant {
        font-size: 57px;
        font-size: 5.7rem;
        line-height: 1.1em;
    }
}

@media screen and (max-width: 672px) {
    .text-giant {
        font-size: 33px;
        font-size: 3.3rem;
        line-height: 1.1em;
    }
}

.block-lead {
    margin-bottom: 7.01079%;
}

.text-right {
    text-align: right;
}

.no-lead {
    margin-bottom: 0;
}

@media screen and (max-width: 1500px) {
    #footer h3 {
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 1.44em;
    }
}

html,body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.centerwrap {
    max-width: 1600px;
    margin: 0 auto;
}

.lead-top {
    margin-top: 3.5054%;
}

.video-panel {
    width: 100%;
    position: relative;
}

.video-panel .video-wrap {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.video-panel .video-cover {
    position: relative;
    z-index: 0;
}

.video-panel .video-cover img {
    width: 100%;
    height: auto;
}

.video-panel video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video-panel .video-title {
    color: #FFF !important;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    width: 50%;
}

.video-panel .video-title h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 3.5054%;
}

@media screen and (max-width: 1088px) {
    .video-panel .video-wrap {
        position: relative;
    }

    .video-panel .video-title {
        position: relative;
        pointer-events: default;
        color: #838078 !important;
        padding: 0;
        width: 100%
    }

    .video-panel .video-title h1 {
        padding: 0;
        margin-bottom: 0.5em;
    }
}

#videobanner {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

input[type=text],input[type=password],input[type=search],input[type=email] {
    margin: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

input[type=text]:focus,input[type=password]:focus,input[type=search]:focus,input[type=email]:focus {
    outline: none;
}

input[type=text].input-big,input[type=password].input-big,input[type=search].input-big,input[type=email].input-big {
    padding: 0;
    font-size: 3.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 672px) {
    .newsletter-form input[type=text]:focus,.newsletter-form input[type=email]:focus {
        font-size: 16px !important;
    }
}

ul.lined input[type=text],ul.lined input[type=email],ul.lined input[type=search] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5em;
    margin-top: 8px;
    padding-bottom: 8px;
    background-image: url("dotted-border.gif");
    background-position: left bottom;
    background-repeat: repeat-x;
}

ul.lined input[type=text]:focus,ul.lined input[type=email]:focus,ul.lined input[type=search]:focus {
    background-image: none;
    padding-bottom: 7px;
    border-bottom: 1px solid #838078;
}

ul.lined input[type=submit],ul.lined button[type=submit] {
    line-height: 1.5em;
    padding: 8px 0 8px 0;
    margin: 0;
}

ul.lined {
    border-top: 1px solid #838078;
}

ul.lined li .col2 {
    margin-left: 1em;
}

ul.lined li.unlist {
    padding: 0;
    border: 0;
}

ul.lined.ablock li {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

ul.lined.ablock a {
    display: block;
}

@media screen and (max-width: 1088px) {
    ul.lined li.empty {
        display: none;
    }
}

ul.lined li,ul.lined.ablock a {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #838078;
}

.col-right .col2 {
    float: right;
}

@media screen and (max-width: 1088px) {
    .project-details ul li:last-child {
        border-bottom: 0;
    }
}

#header {
    display: block;
    padding-top: 54px;
    padding-bottom: 54px;
    padding-top: 5.4rem;
    padding-bottom: 5.4rem;
    position: relative;
}

#header:after {
    content: "";
    display: table;
    clear: both;
}

#header .main-menu ul li {
    float: left;
    display: block;
    margin-right: 3.5054%;
    width: 30.9964%;
    text-align: center;
}

#header .main-menu ul li:last-child {
    margin-right: 0;
}

#header .main-menu ul li.active a {
    border-bottom: 1px solid #a8a6a0;
    color: #838078;
}

@media screen and (max-width: 1088px) {
    .drawer-header {
        margin-top: 10.89821%;
        margin-bottom: 10.89821%;
    }

    #header {
        margin-top: 5.25809%;
        margin-bottom: 5.25809%;
    }
}

.drawer-header,#header {
    padding-top: 54px;
    padding-bottom: 54px;
    padding-top: 5.4rem;
    padding-bottom: 5.4rem;
}

@media screen and (max-width: 1088px) {
    .drawer-header,#header {
        height: 24px;
        padding: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 672px) {
    .drawer-header,#header {
        margin-top: 7.01079%;
        margin-bottom: 10.51619%;
    }
}

body.invert #header .main-menu ul li a {
    border-bottom-color: #d9d8d6;
}

#drawer-toggle {
    left: 0;
}

#search-toggle {
    right: 0;
    font-size: 24px;
}

#search-close {
    right: 0;
    font-size: 24px;
    padding: 0;
}

#drawer-toggle,#search-toggle,#site-title,#search-close {
    margin-top: 54px;
    margin-top: 5.4rem;
    display: block;
    position: fixed;
    top: 0;
    width: 7.01079%;
    text-align: center;
    line-height: 1em;
    z-index: 1000;
}

#drawer-toggle {
    cursor: pointer;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#drawer-toggle span.icon {
    width: 24px;
    height: 15px;
    position: relative;
    float: left;
    display: block;
    left: 50%;
    margin-left: -12px;
    margin-top: 0.25em;
}

#drawer-toggle span.icon i {
    width: 100%;
    height: 0;
    border-top: 1px solid #838078;
    position: absolute;
    left: 0;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#drawer-toggle span.icon i.line-top {
    top: 0;
    -webkit-transition: 0.25s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.25s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#drawer-toggle span.icon i.line-center {
    opacity: 1;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    top: 7px;
}

#drawer-toggle span.icon i.line-bottom {
    -webkit-transition: 0.25s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.25s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    bottom: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#drawer-toggle span.title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.1em;
    float: left;
}

body.drawer-open #drawer-toggle {
    color: #FFF;
}

body.drawer-open #drawer-toggle i {
    border-color: #FFF;
}

body.drawer-open #drawer-toggle i.line-top {
    -webkit-transform: rotateZ(45deg) translateY(5px) translateX(5px);
    transform: rotateZ(45deg) translateY(5px) translateX(5px);
}

body.drawer-open #drawer-toggle i.line-center {
    opacity: 0;
}

body.drawer-open #drawer-toggle i.line-bottom {
    -webkit-transform: rotateZ(-45deg) translateY(-5px) translateX(5px);
    transform: rotateZ(-45deg) translateY(-5px) translateX(5px);
}

.toolbar {
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 7.01079%;
    text-align: center;
    z-index: 1000;
}

.toolbar a {
    font-size: 32px;
    display: block;
    margin-top: 30px;
}

@media screen and (max-width: 1088px) {
    .toolbar {
        width: 100%;
        bottom: 0;
        background-color: #FFF;
        color: #838078;
        height: 60px;
        border-top: 1px solid #838078;
    }

    .toolbar a {
        width: 60px;
        height: 60px;
        margin: 0;
        display: inline-block;
        line-height: 60px;
        color: #838078 !important;
    }
}

#site-title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.1em;
    right: 3.5054%;
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1088px) {
    #drawer-toggle {
        left: 3.5054%;
        width: 100px;
        padding: 0;
    }

    #drawer-toggle span.icon {
        left: auto !important;
        margin-left: 0 !important;
        margin-right: 1em;
    }

    body.logged-in {
        padding-bottom: 60px;
        height: auto;
    }
}

@media screen and (max-width: 1088px) {
    #drawer-toggle,#site-title {
        margin-top: 3.5054%;
    }
}

@media screen and (max-width: 672px) {
    #drawer-toggle,#site-title {
        margin-top: 7.01079%;
    }

    #drawer-toggle {
        left: 7.01079%;
    }

    #site-title {
        right: 7.01079%;
    }
}

.block {
    display: block;
    margin-top: 3.5054%;
    margin-bottom: 7.01079%;
}

.block:after {
    content: "";
    display: table;
    clear: both;
}

.block .block-title {
    margin-bottom: 1em;
}

.block .block-intro {
    margin-bottom: 1.45em;
}

.block .date {
    margin-bottom: 1.45em;
}

.block .date i {
    font-size: 24px;
    position: relative;
    top: 0.2em;
}

.block .block-image img {
    width: 100%;
    height: auto;
}

.block .block-body h3 {
    margin-top: 1.45em;
}

.block .block-body p,.block .block-body ul {
    margin-bottom: 1em;
}

.block .block-body ul {
    list-style: none;
}

.block .block-body ul li:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e602";
    position: relative;
    top: 0.05em;
    margin-right: 0.15em;
}

table.aligncenter {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table.aligncenter td {
    width: 50%;
    padding: 0;
    vertical-align: middle;
    border: 0 !important;
}

table.aligncenter td.col1 {
    padding-right: 1.7527%;
}

table.aligncenter td.col2 {
    padding-left: 1.7527%;
}

@media screen and (max-width: 1088px) {
    table.aligncenter td {
        vertical-align: top;
    }

    table.aligncenter td .block-title {
        margin-top: 0;
    }
}

.block-left table.aligncenter td.col1 {
    padding-right: 7.01079%;
}

table.designs {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table.designs td {
    width: 50%;
    padding: 20px;
    vertical-align: middle;
    border: 0 !important;
}

@media screen and (max-width: 672px) {
    .block-left table.aligncenter td.col1 {
        padding-bottom: 7.01079%;
    }
}

@media screen and (max-width: 672px) {
    .block-right table.aligncenter td.col2 {
        padding-bottom: 7.01079%;
    }
}

@media screen and (max-width: 672px) {
    .block-left table.aligncenter td,.block-left table.aligncenter td.col1,.block-left table.aligncenter td.col2,.block-right table.aligncenter td,.block-right table.aligncenter td.col1,.block-right table.aligncenter td.col2 {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.half-lead {
    margin-bottom: 1.7527%;
}

.header-block {
    margin-top: 0;
}

.two-split {
    margin-bottom: 0;
}

.two-split .col {
    float: left;
    display: block;
    margin-right: 3.5054%;
    width: 48.2473%;
    margin-bottom: 3.5054%;
}

.two-split .col:last-child {
    margin-right: 0;
}

.two-split .col:nth-child(2n) {
    margin-right: 0;
}

.two-split .col:nth-child(2n+1) {
    clear: left;
}

@media screen and (max-width: 672px) {
    .two-split .col {
        float: left;
        display: block;
        margin-right: 3.5054%;
        width: 100%;
        margin-right: 0;
    }

    .two-split .col:last-child {
        margin-right: 0;
    }

    .two-split .col:first-child {
        margin-bottom: 7.01079%;
    }
}

.three-split {
    margin-bottom: 0;
}

.three-split .col {
    float: left;
    display: block;
    margin-right: 3.5054%;
    width: 30.9964%;
    margin-bottom: 3.5054%;
}

.three-split .col:last-child {
    margin-right: 0;
}

.three-split .col:nth-child(3n) {
    margin-right: 0;
}

.three-split .col:nth-child(3n+1) {
    clear: left;
}

.three-split.no-lead .col {
    margin-bottom: 0;
}

@media screen and (max-width: 1088px) {
    .three-split .col {
        float: left;
        display: block;
        margin-right: 3.5054%;
        width: 100%;
        margin-right: 0;
    }

    .three-split .col:last-child {
        margin-right: 0;
    }
}

body.invert .block .block-body ul li:before {
    border-color: #FFF;
}

.site-padder {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lead {
    margin-bottom: 15.66941%;
}

.skimmage {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.project-drawer {
    width: 33.333%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-drawer .drawer-padder {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 12px;
    padding-right: 12px;
}

.project-drawer .drawer-padder .drawer-content {
    padding-left: 7.01079%;
    padding-right: 7.01079%;
    padding-bottom: 7.01079%;
}

.project-drawer .drawer-padder .drawer-content .drawer-header {
    zoom: 1;
}

.project-drawer .drawer-padder .drawer-content .drawer-header:before,.project-drawer .drawer-padder .drawer-content .drawer-header:after {
    content: "";
    display: table;
}

.project-drawer .drawer-padder .drawer-content .drawer-header:after {
    clear: both;
}

.project-drawer .drawer-padder .drawer-content .drawer-header .close {
    float: right;
}

.project-drawer .drawer-padder .drawer-content .drawer-header .title {
    float: right;
}

.project-drawer .project-list {
    position: relative;
    z-index: 1002 !important;
}

@media screen and (max-width: 1088px) {
    .project-drawer {
        width: 50%;
    }

    .project-drawer .drawer-padder {
        padding-left: 0;
        padding-right: 0;
    }

    .project-drawer .drawer-padder .drawer-content {
        padding-left: 7.26547%;
        padding-right: 7.26547%;
        padding-bottom: 14.53095%;
    }
}

@media screen and (max-width: 672px) {
    .project-drawer {
        width: 100%;
    }

    .project-drawer .drawer-padder .drawer-content {
        padding-left: 7.01079%;
        padding-right: 7.01079%;
        padding-bottom: 10.51619%;
    }
}

body.drawer-open {
    overflow: hidden;
}

body.drawer-open #search-toggle {
    display: none;
}

body.drawer-open .project-drawer {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

body.drawer-open .site-padder {
    -webkit-transform: translate3d(33.333%, 0, 0);
    transform: translate3d(33.333%, 0, 0);
}

@media screen and (max-width: 1088px) {
    body.drawer-open .site-padder {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
}

@media screen and (max-width: 672px) {
    body.drawer-open .site-padder {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    body.drawer-open #site-title {
        color: #FFF;
    }
}

body.invert #drawer-toggle,body.invert #site-title {
    color: #FFF;
}

body.invert #drawer-toggle i,body.invert #site-title i {
    border-color: #FFF;
}

body.invert.drawer-open #drawer-toggle {
    color: #838078;
}

body.invert.drawer-open #drawer-toggle i {
    border-color: #838078;
}

@media screen and (max-width: 672px) {
    body.invert.drawer-open #site-title {
        color: #838078;
    }
}

html.no-csstransforms3d .project-drawer {
    left: -flex-grid(3);
}

html.no-csstransforms3d body.drawer-open .project-drawer {
    left: 0;
}

html.no-csstransforms3d body.drawer-open .site-padder {
    left: 22.37095%;
}

button,input[type=submit],input[type=button] {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1em;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1111;
    color: #FFF;
}

.search-modal ::-webkit-input-placeholder {
    color: #d9d8d6;
}

.search-modal :-moz-placeholder {
    color: #d9d8d6;
}

.search-modal ::-moz-placeholder {
    color: #d9d8d6;
}

.search-modal :-ms-input-placeholder {
    color: #d9d8d6;
}

.search-modal input {
    color: #FFF !important;
}

.search-modal .background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #838078;
    opacity: 0.95;
}

.search-modal .container-padder {
    position: relative;
    height: 100%;
}

body.search-open #search-toggle {
    color: #FFF;
}

#footer {
    margin-bottom: 7.01079%;
}

.map {
    width: 100%;
    position: relative;
}

.map:before {
    content: " ";
    display: block;
    width: 100%;
    padding-top: 47.22222%;
}

.map .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 1088px) {
    .map {
        width: 100%;
        position: relative;
    }

    .map:before {
        content: " ";
        display: block;
        width: 100%;
        padding-top: 62.5%;
    }

    .map .map-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 672px) {
    .map {
        width: 100%;
        position: relative;
    }

    .map:before {
        content: " ";
        display: block;
        width: 100%;
        padding-top: 100%;
    }

    .map .map-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.entry-nav a.project-nav {
    display: block;
}

.entry-nav a.project-nav i {
    float: right;
    font-size: 1.375em;
}

.newsletter-form li {
    position: relative;
}

.newsletter-form .submit {
    position: absolute;
    top: 0;
    right: 0;
}

.site-padder,.container-padder {
    padding-left: 7.01079%;
    padding-right: 7.01079%;
    margin: 0;
    display: block;
}

@media screen and (max-width: 1088px) {
    .site-padder,.container-padder {
        padding-left: 3.5054%;
        padding-right: 3.5054%;
    }
}

@media screen and (max-width: 672px) {
    .site-padder,.container-padder {
        padding-left: 7.01079%;
        padding-right: 7.01079%;
    }
}

#container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#container:after {
    content: "";
    display: table;
    clear: both;
}

.block-panel img {
    width: 100%;
    height: auto;
}

.card .card-image {
    margin-bottom: 1.45em;
}

.card .card-image img {
    width: 100%;
    height: auto;
}

.publiguys-list .publiguys:last-child {
    margin-right: 0;
}

.publiguys-list .publiguys:nth-child(3n) {
    margin-right: 0;
}

.publiguys-list .publiguys:nth-child(4n+1) {
    clear: left;
}

.publiguys-list .publiguys {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%;
    margin-bottom: 3.5054%;
}

.publiguys-list .publiguys .image-wrap {
    display: block;
    position: relative;
}

.publiguys-list .publiguys .image-wrap img {
    width: 100%;
    height: auto;
}

.publiguys-list .publiguys .publiguys-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 0.35s, color 0.35s;
    transition: background-color 0.35s, color 0.35s;
}

.publiguys-list .publiguys .publiguys-cover .publiguys-title {
    padding: 7.01079%;
}

.publiguys-list .publiguys .publiguys-cover .publiguys-desc {
    position: absolute;
    bottom: 0;
    padding: 7.01079%;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.publiguys-list .publiguys.invert a .publiguys-title,.publiguys-list .publiguys.invert a .publiguys-desc {
    color: #FFF;
}

.publiguys-list .publiguys a:hover .publiguys-cover {
    background-color: rgba(131,128,120,0.75);
    -webkit-transition: background-color 0.15s, color 0.15s;
    transition: background-color 0.15s, color 0.15s;
}

.publiguys-list .publiguys a:hover .publiguys-title,.publiguys-list .publiguys a:hover .publiguys-desc {
    color: #FFF;
}

.publiguys-list .publiguys a:hover .publiguys-desc {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}




.widgets-list .widgets:last-child {
    margin-right: 0;
}

.widgets-list .widgets:nth-child(3n) {
    margin-right: 0;
}

.widgets-list .widgets:nth-child(4n+1) {
    clear: left;
}

.widgets-list .widgets {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%;
    margin-bottom: 3.5054%;
}

.widgets-list .widgets .image-wrap {
    display: block;
    position: relative;
}

.widgets-list .widgets .image-wrap img {
    width: 100%;
    height: auto;
}

.widgets-list .widgets .widgets-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 0.35s, color 0.35s;
    transition: background-color 0.35s, color 0.35s;
}

.widgets-list .widgets .widgets-cover .widgets-title {
    padding: 7.01079%;
}

.widgets-list .widgets .widgets-cover .widgets-desc {
    position: absolute;
    bottom: 0;
    padding: 7.01079%;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.widgets-list .widgets.invert a .widgets-title,.widgets-list .widgets.invert a .widgets-desc {
    color: #FFF;
}

.widgets-list .widgets a:hover .widgets-cover {
    background-color: rgba(131,128,120,0.75);
    -webkit-transition: background-color 0.15s, color 0.15s;
    transition: background-color 0.15s, color 0.15s;
}

.widgets-list .widgets a:hover .widgets-title,.widgets-list .widgets a:hover .widgets-desc {
    color: #FFF;
}

.widgets-list .widgets a:hover .widgets-desc {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}




.project-list .project {
    float: left;
    display: block;
    margin-right: 3.5054%;
    width: 30.9964%;
    margin-bottom: 3.5054%;
}

.project-list .project:last-child {
    margin-right: 0;
}

.project-list .project:nth-child(3n) {
    margin-right: 0;
}

.project-list .project:nth-child(3n+1) {
    clear: left;
}

.project-list .project .image-wrap {
    display: block;
    position: relative;
}

.project-list .project .image-wrap img {
    width: 100%;
    height: auto;
}

.project-list .project .project-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 0.35s, color 0.35s;
    transition: background-color 0.35s, color 0.35s;
}

.project-list .project .project-cover .project-title {
    padding: 7.01079%;
}

.project-list .project .project-cover .project-desc {
    position: absolute;
    bottom: 0;
    padding: 7.01079%;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.project-list .project.invert a .project-title,.project-list .project.invert a .project-desc {
    color: #FFF;
}

.project-list .project a:hover .project-cover {
    background-color: rgba(131,128,120,0.75);
    -webkit-transition: background-color 0.15s, color 0.15s;
    transition: background-color 0.15s, color 0.15s;
}

.project-list .project a:hover .project-title,.project-list .project a:hover .project-desc {
    color: #FFF;
}

.project-list .project a:hover .project-desc {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@media screen and (max-width: 1088px) {
    .project-list .project {
        float: left;
        display: block;
        margin-right: 3.5054%;
        width: 48.2473%;
    }

    .project-list .project:nth-child(3n) {
        margin-right: 3.5054%;
    }

    .project-list .project:nth-child(3n+1) {
        clear: none;
    }

    .project-list .project:last-child {
        margin-right: 0;
    }

    .project-list .project:nth-child(2n) {
        margin-right: 0;
    }

    .project-list .project:nth-child(2n+1) {
        clear: left;
    }
}

.people .person {
    float: left;
    display: block;
    margin-right: 3.5054%;
    width: 30.9964%;
    margin-bottom: 3.5054%;
}

.people .person:last-child {
    margin-right: 0;
}

.people .person:nth-child(3n) {
    margin-right: 0;
}

.people .person:nth-child(3n+1) {
    clear: left;
}

.people .person .portrait-wrap {
    margin-bottom: 1.45em;
}

.people .person .portrait-wrap img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1088px) {
    .people .person {
        float: left;
        display: block;
        margin-right: 3.5054%;
        width: 48.2473%;
        margin-bottom: 7.01079%;
    }

    .people .person:nth-child(3n) {
        margin-right: 3.5054%;
    }

    .people .person:nth-child(3n+1) {
        clear: none;
    }

    .people .person:last-child {
        margin-right: 0;
    }

    .people .person:nth-child(2n) {
        margin-right: 0;
    }

    .people .person:nth-child(2n+1) {
        clear: left;
    }
}

@media screen and (max-width: 672px) {
    .people .person {
        float: left;
        display: block;
        margin-right: 3.5054%;
        width: 100%;
        margin-right: 0;
    }

    .people .person:nth-child(2n) {
        margin-right: 3.5054%;
    }

    .people .person:nth-child(2n+1) {
        clear: none;
    }

    .people .person:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 1088px) {
    .list-section .col {
        float: left;
        display: block;
        margin-right: 3.5054%;
        width: 48.2473%;
        margin-bottom: 7.01079%;
    }

    .list-section .col:nth-child(3n) {
        margin-right: 3.5054%;
    }

    .list-section .col:nth-child(3n+1) {
        clear: none;
    }

    .list-section .col:last-child {
        margin-right: 0;
    }

    .list-section .col:nth-child(2n) {
        margin-right: 0;
    }

    .list-section .col:nth-child(2n+1) {
        clear: left;
    }

    .list-section .col ul.lined li.empty {
        display: none;
    }
}

@media screen and (max-width: 672px) {
    .list-section .col {
        float: left;
        display: block;
        margin-right: 3.5054%;
        width: 100%;
        margin-right: 0;
    }

    .list-section .col:nth-child(2n) {
        margin-right: 3.5054%;
    }

    .list-section .col:nth-child(2n+1) {
        clear: none;
    }

    .list-section .col:last-child {
        margin-right: 0;
    }
}

.project-drawer ul.lined ::-webkit-input-placeholder {
    color: #d9d8d6;
}

.project-drawer ul.lined :-moz-placeholder {
    color: #d9d8d6;
}

.project-drawer ul.lined ::-moz-placeholder {
    color: #d9d8d6;
}

.project-drawer ul.lined :-ms-input-placeholder {
    color: #d9d8d6;
}

.project-drawer ul.lined input[type=text]:focus,.project-drawer ul.lined input[type=search]:focus {
    border-color: #838078;
}

body.invert #header .main-menu ul li.active a {
    color: #FFF;
}

body.invert .project-drawer {
    color: #838078;
    background-color: #FFF;
}

body.invert .project-drawer a {
    color: #a8a6a0;
}

body.invert .project-drawer a:hover {
    color: #838078;
}

body.invert .project-drawer ul.lined {
    border-color: #a8a6a0;
}

body.invert .project-drawer ul.lined ::-webkit-input-placeholder {
    color: #a8a6a0;
}

body.invert .project-drawer ul.lined :-moz-placeholder {
    color: #a8a6a0;
}

body.invert .project-drawer ul.lined ::-moz-placeholder {
    color: #a8a6a0;
}

body.invert .project-drawer ul.lined :-ms-input-placeholder {
    color: #a8a6a0;
}

body.invert .project-drawer ul.lined li {
    border-color: #a8a6a0;
}

body.invert .project-drawer ul.lined.ablock li a {
    border-color: #a8a6a0;
}

body.invert .project-drawer ul.lined input[type=text],body.invert .project-drawer ul.lined input[type=search] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-color: #FFF;
}

body.invert .project-drawer ul.lined input[type=text]:focus,body.invert .project-drawer ul.lined input[type=search]:focus {
    border-color: #838078;
}

body.invert,.project-drawer {
    color: #FFF;
    background-color: #928f86;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.invert a,.project-drawer a {
    color: #d9d8d6;
}

body.invert a h1,body.invert a h2,body.invert a h3,body.invert a h4,body.invert a h5,body.invert a h6,.project-drawer a h1,.project-drawer a h2,.project-drawer a h3,.project-drawer a h4,.project-drawer a h5,.project-drawer a h6 {
    color: #d9d8d6;
}

body.invert a:hover,.project-drawer a:hover {
    color: #FFF;
}

body.invert a:hover h1,body.invert a:hover h2,body.invert a:hover h3,body.invert a:hover h4,body.invert a:hover h5,body.invert a:hover h6,.project-drawer a:hover h1,.project-drawer a:hover h2,.project-drawer a:hover h3,.project-drawer a:hover h4,.project-drawer a:hover h5,.project-drawer a:hover h6 {
    color: #FFF;
}

body.invert ul.lined,.project-drawer ul.lined {
    border-color: #FFF;
}

body.invert ul.lined li,.project-drawer ul.lined li {
    border-color: #FFF;
}

body.invert ul.lined.ablock li a,.project-drawer ul.lined.ablock li a {
    border-color: #FFF;
}

body.invert ul.lined input[type=text],body.invert ul.lined input[type=search],.project-drawer ul.lined input[type=text],.project-drawer ul.lined input[type=search] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.invert ul.lined input[type=text]:focus,body.invert ul.lined input[type=search]:focus,.project-drawer ul.lined input[type=text]:focus,.project-drawer ul.lined input[type=search]:focus {
    border-color: #FFF;
}
