/* Fonts */

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Setup Styles  */

.clear{
	clear:both;
}

body {
	/* Change the background image here  */
	background: url(../img/bg3.jpg) #666666 center top fixed no-repeat;
	background-size:200%;
	font-family:'proxima_nova_rgregular', 'Open Sans',sans-serif;
}

a, a:visited{color:#a294bc;

	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;

}
a:hover,a:active{color:#68548f;
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-family:'proxima_nova_rgregular', 'Open Sans', sans-serif;
	text-shadow:0px 2px rgba(0,0,0,0.7);
	font-weight:300;
	font-size:50px;
	text-align:center;
	line-height:55px;
	margin-bottom:20px;
}

.light h1{
	text-shadow:none;
}

h2{
	font-size:1.8em;
	text-align:center;
	font-family:'proxima_nova_rgbold', 'Open Sans', sans-serif;
}

h3{
	font-family:'proxima_nova_rgbold', 'Open Sans', sans-serif;
}

h4{
	font-family:'proxima_nova_rgbold', 'Open Sans', sans-serif;
	color:#f7f7f7;
}

abbr[title],
abbr[data-original-title] {
  cursor: pointer;
}

.dark {
	color:#f7f7f7;
}

.center {
	float:none;
	margin:0 auto;
}

/* Main Container Styles  */

.main-container {
	position:relative;
}

.main-container .container {
	padding:30px;
}

/* Section Styles  */

.row.span8.center{
	width:100%;
}

#intro {
	margin-top:100px;
	text-align:left;
	padding:50px 0;
}

#intro h1 {
	font-family:'proxima_nova_rgbold', 'Open Sans', sans-serif;
	font-size:3.0em;
	line-height:1.3em;
	margin:20px 0;
	color:#fff;
	width:100%;
	text-align:left;
	float:left;
}

#intro p {
	border-radius:10px;
	padding:5%;
	width:90%;
	margin:0 0 50px 0;
	float:left;
	color:#fff;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align:left;
	background-color: rgba(0,0,0,0.2);
}

#intro h3 {
	color: #fff;
	font-size: 1.2em;
	line-height: normal;
	text-align: left;
}

.introText{
	float:left;
	margin:0 2.5% 0 auto;
	max-width:35%;
}

.introImage{
	float:left;
	max-height:427px;
	max-width:60%;
	margin:0 2.5% 0 auto;
}

#intro .left-button {
	float: left;
	width: 50%;
}

#intro .right-button {
	float: right;
	width: 50%;
}

#whatWeDo h2{
	margin:40px auto;
}

#howItWorks h1, #solutions h1, #responsive h1, #contact h1, #press h1, #team h1, #customers h1, #whatWeDo h1{
	float:left;
	margin:0 auto 20px auto;
	width:33%;
	font-size:1.3em;
	line-height:1.5em;
}

/* Light */
#responsive .line, #howItWorks .line, #contact .line, #press .line, #customers .line, #solutions .line, #responsive .line, #contact .line, #team .line, #whatWeDo .line {
	margin-top:12px;
	float:left;
	background-color:#444;
	width:33%;
	height:2px;
}

/* Dark */

	margin-top:12px;
	float:left;
	background-color:#f7f7f7;
	width:33%;
	height:2px;
}

#whatWeDo{
	padding-bottom:20px;
}

#thumbnails{
	margin:0 auto;
}

li.span2_1{
  width: 20%;
  margin:0;
}

#slider {
	visibility: visible;
}

.ts-arrow-1 {
	line-height: 37px;
}

.slider-arrows {
	display: none;
}

#my_carousel_1:hover .slider-arrows {
	display: block;
}

.slider-arrows .ts-arrow-1-left {
	text-indent: -2px;
	left: 10px;
}

.slider-arrows .ts-arrow-1-right {
	text-indent: 2px;
	right: 10px;
}

#customers, #press, #howItWorks {
	background: url('../img/grey-checked-bg-small.png') #f7f7f7;
}

#press h2, #press p, #customers h2, #customers p {
	text-align: center;
}

#press ul, #customers ul {
	padding: 0;
	margin: auto;
	list-style: none;
	text-align: center;
}

#press li, #customers li {
	display: inline;
	margin: 0;
	padding: 0 10px;
}

#press li img, #customers li img {
	width: 150px;
	height: 112px;
}

#team, #responsive,  #solutions, #whatWeDo, #contact{
	background: url('../img/white-checked-bg-small.png') #666;
}

#contact h2{
	text-align:left;
}

#contact iframe {
	border: solid 1px white;
	border-radius: 5px;
}

/* Navbar Styles  */

.navbar-fixed-top {
	margin-bottom:0;
	position: fixed;
}

.navbar-fixed-top.scroll {
	opacity:.96;
}

.navbar-inner {
	border-bottom:0 none;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	filter:none;
	padding: 0 !important;
	background:#0d0d0d;
	background:rgba(13,13,13,0.9);
}

.navbar .brand {
	font-size:19px;
	font-weight: 300;
	text-shadow:none;
	padding: 12px 0 12px 0;
	font-family: raleway;
	color: #fff!important;
}

.navbar .nav.pull-right {
	top:10px;
}

.navbar .nav > li > a {
	color:#F8F8F8;
	font-size:15px;
	font-weight:300;
	text-shadow:none;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

.navbar .nav li a:hover,.navbar .nav li a:focus{
	color:#F8F8F8;
}

.navbar .nav > li > a:hover {
	color:#ccc;
}


.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
	padding-bottom:4px;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-shadow:none;
	background:none;
	color:#fff;
}

.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
	padding:9px 40px;
}

.btn-dropnav {
	float:right;
	margin-left:5px;
	margin-right:5px;
	padding:7px 10px;
	display:none;
}

.btn-dropnav .icon-bar {
	background-color:#F5F5F5;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(0,0,0,0.25);
	display:block;
	height:2px;
	width:18px;
}

.btn-dropnav .icon-bar + .icon-bar {
	margin-top:3px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background:none;
	color:#fff;
}

.dropdown-menu li > a:hover,.dropdown-menu li > a:focus,.dropdown-submenu:hover > a {
	background-color:#8d2040!important;
	text-decoration:none;
	color:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a294bc",endColorstr="#8d2040");
	background-image:-khtml-gradient(linear,left top,left bottom,from(#a294bc),to(#8d2040));
	background-image:-moz-linear-gradient(top,#a294bc,#8d2040);
	background-image:-ms-linear-gradient(top,#a294bc,#8d2040);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#a294bc),color-stop(100%,#8d2040));
	background-image:-webkit-linear-gradient(top,#a294bc,#8d2040);
	background-image:-o-linear-gradient(top,#a294bc,#8d2040);
	background-image:linear-gradient(#a294bc,#8d2040);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77',endColorstr='#475B77',GradientType=0);
}

.navbar .btn-navbar .icon-bar {
	display:block;
	width:18px;
	height:2px;
	background-color:#444;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar {
	margin:8px 30px 0 0;
}


.thumbnail {
	text-align:left;
	border:0;
	padding:0;
	margin:0 0 20px 0;
	box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
}

.thumbnails.thirds{
	margin-left:10px;
}

.thumbnails.thirds li{
	width:33%;
}

.thumbnails{
	width:100%;
	margin:0 auto 0 auto;
	padding:0;
}

.thumbnail h3{
	color:#666;
	font-size:1.5em;
	text-align:center;
}

.thumbnail p {
	border-radius:10px;
	background-color:rgba(0,0,0,0.05);
	width:80%;
	padding:5%;
	margin:0px auto 20px auto;
}

.thumbnails>li{
	margin:0 0 0 0;
	padding:0;
}

.carousel-caption{
	font-family:'proxima_nova_rgbold', 'Open Sans',sans-serif;
	font-size:1.3em;
	color:#f0f0f0;
	text-shadow:0px 1px rgba(0,0,0,0.4);
	text-align: center;
}

#whatWeDo .thumbnail p, #contact .thumbnail p, #team .thumbnail p, #solutions .thumbnail p {
	background-color:rgba(200,200,200,0.15);
}

ul.logos li {
	float: left;
	list-style: none outside none;
}

ul.logos li {
	margin-left: 0;
}

@media (max-width: 1199px) {
	#intro h1 {
		font-size:2.5em;
		line-height:1.3em;
	}

}

@media (max-width: 979px) {

	.nav-collapse .nav > li > a:hover,.nav-collapse .dropdown-menu a:hover {
		background:none!important;
	}

	.nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
		color:#ccc;
	}

	.navbar .brand {
		padding:4px 0 4px 40px;
	}

	body {
		padding-right:0;
		padding-left:0;
		background-size:250%;
	}

	#intro {
	margin-top:0px;
	margin-bottom:-100px;
	}

	#intro h1{
		font-size:3.2em;
		line-height:1.2em;
	}

	p{
		font-size:1.1em;
		line-height:1.5em;
	}

	.introImage{
		max-width:757px;
		float:none;
	}

	.introText{
		float:none;
		max-width:90%;
		margin:0px auto;
	}
}

@media (max-width: 767px) {
	body {
		padding-right:0;
		padding-left:0;
		background-size:330%;
	}

	#intro h1{
		font-size:2.5em;
		line-height:1.2em;
	}

	h2{
		font-size:1.3em;
		line-height:1.0em;
	}

	.row.span8.center{
		width:100%;
		margin:0px;
	}

	li.span2_1{
		width:100%;
	}

	li.span2_1 .thumbnail p{
		text-align:center;
	}

	.thumbnails.thirds{
		margin-left:0;
	}

	.thumbnails.thirds li{
		width:100%;
	}

}

@media (max-width: 480px) {
	body {
		background-size:420%;
	}
	#intro h1{
		font-size:1.8em;
		line-height:1.1em;
	}

	#intro p{
		margin-left:-10%;
		width:110%;
	}

	li.span2_1{
		width:100%;
	}

	li.span2_1 .thumbnail p{
		text-align:left;
	}

	.carousel-caption{
		font-size:1em;
		padding:0.2em;
	}

	#howItWorks h1, #solutions h1, #responsive h1, #contact h1, #press h1, #team h1, #customers h1, #whatWeDo h1{
		width:64%;
	}

	#howItWorks .line, #solutions .line, #responsive .line, #contact .line, #press .line, #team .line, #customers .line, #whatWeDo .line{
		width:18%;
	}

}

.btn-plyfe-purple {
	text-shadow: none;
	color: #fff !important;
	background: #663baf;
}
.btn-plyfe-purple:hover {
	background: #39117d;
}
.btn-plyfe-purple:active {
position:relative;
top:1px;
}


.btn-purple {
	background-color:hsl(342,63%,34%)!important;
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a294bc",endColorstr="#8d2040");
	background-image:-khtml-gradient(linear,left top,left bottom,from(#a294bc),to(#8d2040));
	background-image:-moz-linear-gradient(top,#a294bc,#8d2040);
	background-image:-ms-linear-gradient(top,#a294bc,#8d2040);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#a294bc),color-stop(100%,#8d2040));
	background-image:-webkit-linear-gradient(top,#a294bc,#8d2040);
	background-image:-o-linear-gradient(top,#a294bc,#8d2040);
	background-image:linear-gradient(#a294bc,#8d2040);
	border-color:#8d2040 #8d2040 hsl(342,63%,28.5%);
	color:#fff!important;
	text-shadow:0 -1px 0 rgba(0,0,0,0.36);
	-webkit-font-smoothing:antialiased;
}

.btn-xlarge {
	padding:20px 40px;
	font-size:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/*	Team Social Icon Styles */


.social{
	text-align: center;
}
.social img {
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-ms-transition:all .5s ease;
	transition:all .5s ease;
	margin-right: 4px;
}

.social img:hover {
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-o-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);
}



/*	BigVideo Styles */


#big-video-wrap {
	overflow:hidden;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#big-video-vid,#big-video-image {
	position:absolute;
}

#big-video-control-container {
	position:fixed;
	bottom:20px;
	padding:0 20px;
	width:100%;
	-webkit-transition-duration:.6s;
	-moz-transition-duration:.6s;
	-ms-transition-duration:.6s;
	-o-transition-duration:.6s;
	transition-duration:.6s;
}

#big-video-control {
	width:100%;
	height:16px;
	position:relative;
	display:none;
}

/* wufoo forn */

.wufoo {
}

#wufoo-s7x2z7 {

}
