.share-network .network .icon {
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 30px;
    height: 40px;
}

.share-network .network .icon.500px            { background-image:url('../../img/share/500px-24x24.png'); }
.share-network .network .icon.aboutdotme       { background-image:url('../../img/share/aboutdotme-24x24.png'); }
.share-network .network .icon.aim              { background-image:url('../../img/share/aim-24x24.png'); }
.share-network .network .icon.amazon           { background-image:url('../../img/share/amazon-24x24.png'); }
.share-network .network .icon.bbcid            { background-image:url('../../img/share/bbcid-24x24.png'); }
.share-network .network .icon.creativecommons  { background-image:url('../../img/share/creativecommons-24x24.png'); }
.share-network .network .icon.delicious        { background-image:url('../../img/share/delicious-24x24.png'); }
.share-network .network .icon.digg             { background-image:url('../../img/share/digg-24x24.png'); }
.share-network .network .icon.digg-this        { background-image:url('../../img/share/digg-this-24x24.png'); }
.share-network .network .icon.dopplr           { background-image:url('../../img/share/dopplr-24x24.png'); }
.share-network .network .icon.dribbble         { background-image:url('../../img/share/dribbble-24x24.png'); }
.share-network .network .icon.email            { background-image:url('../../img/share/email-24x24.png'); }
.share-network .network .icon.etsy             { background-image:url('../../img/share/etsy-24x24.png'); }
.share-network .network .icon.facebook         { background-image:url('../../img/share/facebook-24x24.png'); }
.share-network .network .icon.feed             { background-image:url('../../img/share/feed-24x24.png'); }
.share-network .network .icon.ffffound         { background-image:url('../../img/share/ffffound-24x24.png'); }
.share-network .network .icon.flickr           { background-image:url('../../img/share/flickr-24x24.png'); }
.share-network .network .icon.formspring       { background-image:url('../../img/share/formspring-24x24.png'); }
.share-network .network .icon.forrst           { background-image:url('../../img/share/forrst-24x24.png'); }
.share-network .network .icon.foursquare       { background-image:url('../../img/share/foursquare-24x24.png'); }
.share-network .network .icon.geotag           { background-image:url('../../img/share/geotag-24x24.png'); }
.share-network .network .icon.getsatisfaction  { background-image:url('../../img/share/getsatisfaction-24x24.png'); }
.share-network .network .icon.github           { background-image:url('../../img/share/github-24x24.png'); }
.share-network .network .icon.goodreads        { background-image:url('../../img/share/goodreads-24x24.png'); }
.share-network .network .icon.google_bookmarks,
.share-network .network .icon.gmail,
.share-network .network .icon.google           { background-image:url('../../img/share/google-24x24.png'); }
.share-network .network .icon.google-talk      { background-image:url('../../img/share/google-talk-24x24.png'); }
.share-network .network .icon.googleplus,
.share-network .network .icon.google_plus      { background-image:url('../../img/share/google+-24x24.png'); }
.share-network .network .icon.huffduffer       { background-image:url('../../img/share/huffduffer-24x24.png'); }
.share-network .network .icon.identica         { background-image:url('../../img/share/identica-24x24.png'); }
.share-network .network .icon.ilike            { background-image:url('../../img/share/ilike-24x24.png'); }
.share-network .network .icon.imdb             { background-image:url('../../img/share/imdb-24x24.png'); }
.share-network .network .icon.instagram        { background-image:url('../../img/share/instagram-24x24.png'); }
.share-network .network .icon.ping             { background-image:url('../../img/share/ping-24x24.png'); }
.share-network .network .icon.itunes           { background-image:url('../../img/share/itunes-24x24.png'); }
.share-network .network .icon.lanyrd           { background-image:url('../../img/share/lanyrd-24x24.png'); }
.share-network .network .icon.lastfm           { background-image:url('../../img/share/lastfm-24x24.png'); }
.share-network .network .icon.linkedin         { background-image:url('../../img/share/linkedin-24x24.png'); }
.share-network .network .icon.meetup           { background-image:url('../../img/share/meetup-24x24.png'); }
.share-network .network .icon.messenger        { background-image:url('../../img/share/messenger-24x24.png'); }
.share-network .network .icon.myspace          { background-image:url('../../img/share/myspace-24x24.png'); }
.share-network .network .icon.newsvine         { background-image:url('../../img/share/newsvine-24x24.png'); }
.share-network .network .icon.nikeplus         { background-image:url('../../img/share/nikeplus-24x24.png'); }
.share-network .network .icon.openid           { background-image:url('../../img/share/openid-24x24.png'); }
.share-network .network .icon.orkut            { background-image:url('../../img/share/orkut-24x24.png'); }
.share-network .network .icon.pinboard         { background-image:url('../../img/share/pinboard-24x24.png'); }
.share-network .network .icon.pinterest        { background-image:url('../../img/share/pintrest-24x24.png'); }
.share-network .network .icon.plancast         { background-image:url('../../img/share/plancast-24x24.png'); }
.share-network .network .icon.posterous        { background-image:url('../../img/share/posterous-24x24.png'); }
.share-network .network .icon.rdio             { background-image:url('../../img/share/rdio-24x24.png'); }
.share-network .network .icon.readernaut       { background-image:url('../../img/share/readernaut-24x24.png'); }
.share-network .network .icon.reddit           { background-image:url('../../img/share/reddit-24x24.png'); }
.share-network .network .icon.share            { background-image:url('../../img/share/share-24x24.png'); }
.share-network .network .icon.skype            { background-image:url('../../img/share/skype-24x24.png'); }
.share-network .network .icon.slideshare       { background-image:url('../../img/share/slideshare-24x24.png'); }
.share-network .network .icon.soundcloud       { background-image:url('../../img/share/soundcloud-24x24.png'); }
.share-network .network .icon.speakerdeck      { background-image:url('../../img/share/speakerdeck-24x24.png'); }
.share-network .network .icon.spotify          { background-image:url('../../img/share/spotify-24x24.png'); }
.share-network .network .icon.stackoverflow    { background-image:url('../../img/share/stackoverflow-24x24.png'); }
.share-network .network .icon.stumbleupon      { background-image:url('../../img/share/stumbleupon-24x24.png'); }
.share-network .network .icon.tumblr           { background-image:url('../../img/share/tumblr-24x24.png'); }
.share-network .network .icon.twitter          { background-image:url('../../img/share/twitter-24x24.png'); }
.share-network .network .icon.upcoming         { background-image:url('../../img/share/upcoming-24x24.png'); }
.share-network .network .icon.vcard            { background-image:url('../../img/share/vcard-24x24.png'); }
.share-network .network .icon.viddler          { background-image:url('../../img/share/viddler-24x24.png'); }
.share-network .network .icon.vimeo            { background-image:url('../../img/share/vimeo-24x24.png'); }
.share-network .network .icon.website          { background-image:url('../../img/share/website-24x24.png'); }
.share-network .network .icon.wikipedia        { background-image:url('../../img/share/wikipedia-24x24.png'); }
.share-network .network .icon.xbox             { background-image:url('../../img/share/xbox-24x24.png'); }
.share-network .network .icon.xing             { background-image:url('../../img/share/xing-24x24.png'); }
.share-network .network .icon.yahoomail,
.share-network .network .icon.yahoo_buzz,
.share-network .network .icon.yahoo_bookmarks,
.share-network .network .icon.yahoo            { background-image:url('../../img/share/yahoo-24x24.png'); }
.share-network .network .icon.yahoomessenger   { background-image:url('../../img/share/yahoo-messenger-24x24.png'); }
.share-network .network .icon.yelp             { background-image:url('../../img/share/yelp-24x24.png'); }
.share-network .network .icon.youtube          { background-image:url('../../img/share/youtube-24x24.png'); }
.share-network .network .icon.zerply           { background-image:url('../../img/share/zerply-24x24.png'); }
.share-network .network .icon.zootool          { background-image:url('../../img/share/zootool-24x24.png'); }
.share-network .network .icon.hotmail,
.share-network .network .icon.live_favorites   { background-image:url('../../img/share/windows-24x24.png'); }
.share-network .network .icon.aolmail,
.share-network .network .icon.aol_bookmarks    { background-image:url('../../img/share/aol-24x24.png'); }
.share-network .network .icon.instapaper       { background-image:url('../../img/share/instapaper-24x24.png'); }
.share-network .network .icon.fark             { background-image:url('../../img/share/fark-24x24.png'); }
.share-network .network .icon.bebo             { background-image:url('../../img/share/bebo-24x24.png'); }
.share-network .network .icon.hellotxt         { background-image:url('../../img/share/hellotxt-24x24.png'); }
.share-network .network .icon.bookmarksfr      { background-image:url('../../img/share/bookmarksfr-24x24.png'); }
.share-network .network .icon.evernote         { background-image:url('../../img/share/evernote-24x24.png'); }
.share-network .network .icon.friendfeed       { background-image:url('../../img/share/friendfeed-24x24.png'); }
.share-network .network .icon.plaxo            { background-image:url('../../img/share/plaxo-24x24.png'); }
.share-network .network .icon.propeller        { background-image:url('../../img/share/propeller-24x24.png'); }
.share-network .network .icon.mister_wong      { background-image:url('../../img/share/mrwong-24x24.png'); }
.share-network .network .icon.multiply         { background-image:url('../../img/share/multiply-24x24.png'); }
.share-network .network .icon.meneame          { background-image:url('../../img/share/meneame-24x24.png'); }
.share-network .network .icon.pusha            { background-image:url('../../img/share/pusha-24x24.png'); }
.share-network .network .icon.diigo            { background-image:url('../../img/share/diigo-24x24.png'); }
.share-network .network .icon.bzzster          { background-image:url('../../img/share/bzzster-24x24.png'); }
.share-network .network .icon.yoolink          { background-image:url('../../img/share/yoolink-24x24.png'); }
.share-network .network .icon.technotizie      { background-image:url('../../img/share/technotizie-24x24.png'); }
.share-network .network .icon.care2_news       { background-image:url('../../img/share/care2news-24x24.png'); }
.share-network .network .icon.livejournal      { background-image:url('../../img/share/livejournal-24x24.png'); }
.share-network .network .icon.yigg             { background-image:url('../../img/share/yigg-24x24.png'); }
.share-network .network .icon.jumptags         { background-image:url('../../img/share/jumptags-24x24.png'); }
.share-network .network .icon.current          { background-image:url('../../img/share/current-24x24.png'); }
.share-network .network .icon.buddymarks       { background-image:url('../../img/share/buddymarks-24x24.png'); }
.share-network .network .icon.technorati       { background-image:url('../../img/share/technorati-24x24.png'); }
.share-network .network .icon.linkatopia       { background-image:url('../../img/share/linkatopia-24x24.png'); }
.share-network .network .icon.dropjack         { background-image:url('../../img/share/dropjack-24x24.png'); }
.share-network .network .icon.faves            { background-image:url('../../img/share/faves-24x24.png'); }
.share-network .network .icon.blogmarks        { background-image:url('../../img/share/blogmarks-24x24.png'); }
.share-network .network .icon.webnews          { background-image:url('../../img/share/webnews-24x24.png'); }
.share-network .network .icon.phonefavs        { background-image:url('../../img/share/phonefavs-24x24.png'); }
.share-network .network .icon.jamespot         { background-image:url('../../img/share/jamespot-24x24.png'); }



#social-share-list .share-icon {
    /*background: url('../../img/canvas/share_icons.png'); */
    width: 24px;
    height: 24px;
    display: inline-block;
}


#social-share-list .share-icon.500px            { background-image:url('../../img/share/500px-24x24.png'); }
#social-share-list .share-icon.aboutdotme       { background-image:url('../../img/share/aboutdotme-24x24.png'); }
#social-share-list .share-icon.aim              { background-image:url('../../img/share/aim-24x24.png'); }
#social-share-list .share-icon.amazon           { background-image:url('../../img/share/amazon-24x24.png'); }
#social-share-list .share-icon.bbcid            { background-image:url('../../img/share/bbcid-24x24.png'); }
#social-share-list .share-icon.creativecommons  { background-image:url('../../img/share/creativecommons-24x24.png'); }
#social-share-list .share-icon.delicious        { background-image:url('../../img/share/delicious-24x24.png'); }
#social-share-list .share-icon.digg             { background-image:url('../../img/share/digg-24x24.png'); }
#social-share-list .share-icon.digg-this        { background-image:url('../../img/share/digg-this-24x24.png'); }
#social-share-list .share-icon.dopplr           { background-image:url('../../img/share/dopplr-24x24.png'); }
#social-share-list .share-icon.dribbble         { background-image:url('../../img/share/dribbble-24x24.png'); }
#social-share-list .share-icon.email            { background-image:url('../../img/share/email-24x24.png'); }
#social-share-list .share-icon.etsy             { background-image:url('../../img/share/etsy-24x24.png'); }
#social-share-list .share-icon.facebook         { background-image:url('../../img/share/facebook-24x24.png'); }
#social-share-list .share-icon.feed             { background-image:url('../../img/share/feed-24x24.png'); }
#social-share-list .share-icon.ffffound         { background-image:url('../../img/share/ffffound-24x24.png'); }
#social-share-list .share-icon.flickr           { background-image:url('../../img/share/flickr-24x24.png'); }
#social-share-list .share-icon.formspring       { background-image:url('../../img/share/formspring-24x24.png'); }
#social-share-list .share-icon.forrst           { background-image:url('../../img/share/forrst-24x24.png'); }
#social-share-list .share-icon.foursquare       { background-image:url('../../img/share/foursquare-24x24.png'); }
#social-share-list .share-icon.geotag           { background-image:url('../../img/share/geotag-24x24.png'); }
#social-share-list .share-icon.getsatisfaction  { background-image:url('../../img/share/getsatisfaction-24x24.png'); }
#social-share-list .share-icon.github           { background-image:url('../../img/share/github-24x24.png'); }
#social-share-list .share-icon.goodreads        { background-image:url('../../img/share/goodreads-24x24.png'); }
#social-share-list .share-icon.google_bookmarks,
#social-share-list .share-icon.gmail,
#social-share-list .share-icon.google           { background-image:url('../../img/share/google-24x24.png'); }
#social-share-list .share-icon.google-talk      { background-image:url('../../img/share/google-talk-24x24.png'); }
#social-share-list .share-icon.googleplus       { background-image:url('../../img/share/google+-24x24.png'); }
#social-share-list .share-icon.huffduffer       { background-image:url('../../img/share/huffduffer-24x24.png'); }
#social-share-list .share-icon.identica         { background-image:url('../../img/share/identica-24x24.png'); }
#social-share-list .share-icon.ilike            { background-image:url('../../img/share/ilike-24x24.png'); }
#social-share-list .share-icon.imdb             { background-image:url('../../img/share/imdb-24x24.png'); }
#social-share-list .share-icon.instagram        { background-image:url('../../img/share/instagram-24x24.png'); }
#social-share-list .share-icon.ping             { background-image:url('../../img/share/ping-24x24.png'); }
#social-share-list .share-icon.itunes           { background-image:url('../../img/share/itunes-24x24.png'); }
#social-share-list .share-icon.lanyrd           { background-image:url('../../img/share/lanyrd-24x24.png'); }
#social-share-list .share-icon.lastfm           { background-image:url('../../img/share/lastfm-24x24.png'); }
#social-share-list .share-icon.linkedin         { background-image:url('../../img/share/linkedin-24x24.png'); }
#social-share-list .share-icon.meetup           { background-image:url('../../img/share/meetup-24x24.png'); }
#social-share-list .share-icon.messenger        { background-image:url('../../img/share/messenger-24x24.png'); }
#social-share-list .share-icon.myspace          { background-image:url('../../img/share/myspace-24x24.png'); }
#social-share-list .share-icon.newsvine         { background-image:url('../../img/share/newsvine-24x24.png'); }
#social-share-list .share-icon.nikeplus         { background-image:url('../../img/share/nikeplus-24x24.png'); }
#social-share-list .share-icon.openid           { background-image:url('../../img/share/openid-24x24.png'); }
#social-share-list .share-icon.orkut            { background-image:url('../../img/share/orkut-24x24.png'); }
#social-share-list .share-icon.pinboard         { background-image:url('../../img/share/pinboard-24x24.png'); }
#social-share-list .share-icon.pinterest        { background-image:url('../../img/share/pintrest-24x24.png'); }
#social-share-list .share-icon.plancast         { background-image:url('../../img/share/plancast-24x24.png'); }
#social-share-list .share-icon.posterous        { background-image:url('../../img/share/posterous-24x24.png'); }
#social-share-list .share-icon.rdio             { background-image:url('../../img/share/rdio-24x24.png'); }
#social-share-list .share-icon.readernaut       { background-image:url('../../img/share/readernaut-24x24.png'); }
#social-share-list .share-icon.reddit           { background-image:url('../../img/share/reddit-24x24.png'); }
#social-share-list .share-icon.share            { background-image:url('../../img/share/share-24x24.png'); }
#social-share-list .share-icon.skype            { background-image:url('../../img/share/skype-24x24.png'); }
#social-share-list .share-icon.slideshare       { background-image:url('../../img/share/slideshare-24x24.png'); }
#social-share-list .share-icon.soundcloud       { background-image:url('../../img/share/soundcloud-24x24.png'); }
#social-share-list .share-icon.speakerdeck      { background-image:url('../../img/share/speakerdeck-24x24.png'); }
#social-share-list .share-icon.spotify          { background-image:url('../../img/share/spotify-24x24.png'); }
#social-share-list .share-icon.stackoverflow    { background-image:url('../../img/share/stackoverflow-24x24.png'); }
#social-share-list .share-icon.stumbleupon      { background-image:url('../../img/share/stumbleupon-24x24.png'); }
#social-share-list .share-icon.tumblr           { background-image:url('../../img/share/tumblr-24x24.png'); }
#social-share-list .share-icon.twitter          { background-image:url('../../img/share/twitter-24x24.png'); }
#social-share-list .share-icon.upcoming         { background-image:url('../../img/share/upcoming-24x24.png'); }
#social-share-list .share-icon.vcard            { background-image:url('../../img/share/vcard-24x24.png'); }
#social-share-list .share-icon.viddler          { background-image:url('../../img/share/viddler-24x24.png'); }
#social-share-list .share-icon.vimeo            { background-image:url('../../img/share/vimeo-24x24.png'); }
#social-share-list .share-icon.website          { background-image:url('../../img/share/website-24x24.png'); }
#social-share-list .share-icon.wikipedia        { background-image:url('../../img/share/wikipedia-24x24.png'); }
#social-share-list .share-icon.xbox             { background-image:url('../../img/share/xbox-24x24.png'); }
#social-share-list .share-icon.xing             { background-image:url('../../img/share/xing-24x24.png'); }
#social-share-list .share-icon.yahoomail,
#social-share-list .share-icon.yahoo_buzz,
#social-share-list .share-icon.yahoo_bookmarks,
#social-share-list .share-icon.yahoo            { background-image:url('../../img/share/yahoo-24x24.png'); }
#social-share-list .share-icon.yahoomessenger   { background-image:url('../../img/share/yahoo-messenger-24x24.png'); }
#social-share-list .share-icon.yelp             { background-image:url('../../img/share/yelp-24x24.png'); }
#social-share-list .share-icon.youtube          { background-image:url('../../img/share/youtube-24x24.png'); }
#social-share-list .share-icon.zerply           { background-image:url('../../img/share/zerply-24x24.png'); }
#social-share-list .share-icon.zootool          { background-image:url('../../img/share/zootool-24x24.png'); }
#social-share-list .share-icon.hotmail,
#social-share-list .share-icon.live_favorites   { background-image:url('../../img/share/windows-24x24.png'); }
#social-share-list .share-icon.aolmail,
#social-share-list .share-icon.aol_bookmarks    { background-image:url('../../img/share/aol-24x24.png'); }
#social-share-list .share-icon.instapaper       { background-image:url('../../img/share/instapaper-24x24.png'); }
#social-share-list .share-icon.fark             { background-image:url('../../img/share/fark-24x24.png'); }
#social-share-list .share-icon.bebo             { background-image:url('../../img/share/bebo-24x24.png'); }
#social-share-list .share-icon.hellotxt         { background-image:url('../../img/share/hellotxt-24x24.png'); }
#social-share-list .share-icon.bookmarksfr      { background-image:url('../../img/share/bookmarksfr-24x24.png'); }
#social-share-list .share-icon.evernote         { background-image:url('../../img/share/evernote-24x24.png'); }
#social-share-list .share-icon.friendfeed       { background-image:url('../../img/share/friendfeed-24x24.png'); }
#social-share-list .share-icon.plaxo            { background-image:url('../../img/share/plaxo-24x24.png'); }
#social-share-list .share-icon.propeller        { background-image:url('../../img/share/propeller-24x24.png'); }
#social-share-list .share-icon.mister_wong      { background-image:url('../../img/share/mrwong-24x24.png'); }
#social-share-list .share-icon.multiply         { background-image:url('../../img/share/multiply-24x24.png'); }
#social-share-list .share-icon.meneame          { background-image:url('../../img/share/meneame-24x24.png'); }
#social-share-list .share-icon.pusha            { background-image:url('../../img/share/pusha-24x24.png'); }
#social-share-list .share-icon.diigo            { background-image:url('../../img/share/diigo-24x24.png'); }
#social-share-list .share-icon.bzzster          { background-image:url('../../img/share/bzzster-24x24.png'); }
#social-share-list .share-icon.yoolink          { background-image:url('../../img/share/yoolink-24x24.png'); }
#social-share-list .share-icon.technotizie      { background-image:url('../../img/share/technotizie-24x24.png'); }
#social-share-list .share-icon.care2_news       { background-image:url('../../img/share/care2news-24x24.png'); }
#social-share-list .share-icon.livejournal      { background-image:url('../../img/share/livejournal-24x24.png'); }
#social-share-list .share-icon.yigg             { background-image:url('../../img/share/yigg-24x24.png'); }
#social-share-list .share-icon.jumptags         { background-image:url('../../img/share/jumptags-24x24.png'); }
#social-share-list .share-icon.current          { background-image:url('../../img/share/current-24x24.png'); }
#social-share-list .share-icon.buddymarks       { background-image:url('../../img/share/buddymarks-24x24.png'); }
#social-share-list .share-icon.technorati       { background-image:url('../../img/share/technorati-24x24.png'); }
#social-share-list .share-icon.linkatopia       { background-image:url('../../img/share/linkatopia-24x24.png'); }
#social-share-list .share-icon.dropjack         { background-image:url('../../img/share/dropjack-24x24.png'); }
#social-share-list .share-icon.faves            { background-image:url('../../img/share/faves-24x24.png'); }
#social-share-list .share-icon.blogmarks        { background-image:url('../../img/share/blogmarks-24x24.png'); }
#social-share-list .share-icon.webnews          { background-image:url('../../img/share/webnews-24x24.png'); }
#social-share-list .share-icon.phonefavs        { background-image:url('../../img/share/phonefavs-24x24.png'); }
#social-share-list .share-icon.jamespot         { background-image:url('../../img/share/jamespot-24x24.png'); }

table#social-share-list.checklist tbody tr td input[type="checkbox"] { margin-right: 6px }