/* normal normal */

@font-face {
	font-family: 'proxima-nova';
	font-weight : normal;
	font-style : normal;
	src: url('proxima-nova/ProximaNova-regular.otf') format('otf'),
}

/* bold */
@font-face {
	font-family: 'proxima-nova';
	font-weight : bold;
	font-style : normal;
	src: url('proxima-nova/ProximaNova-bold.otf') format('otf'),
}
