/* normal normal */
@font-face {
	font-family: 'Geogrotesque';
	font-weight : normal;
	font-style : normal;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_2_0.eot?#iefix') format('embedded-opentype'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_2_0.woff') format('woff'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_2_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Geogrotesque-IE';
	font-weight : normal;
	font-style : normal;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_2_0.eot');
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_2_0.eot?#iefix') format('embedded-opentype');
}

/* bold */
@font-face {
	font-family: 'Geogrotesque';
	font-weight : bold;
	font-style : normal;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_4_0.eot?#iefix') format('embedded-opentype'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_4_0.woff') format('woff'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_4_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Geogrotesque-IE-Bold';
	font-weight : normal;
	font-style : normal;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_4_0.eot');
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_4_0.eot?#iefix') format('embedded-opentype');
}

/* italic */
@font-face {
	font-family: 'Geogrotesque';
	font-weight : normal;
	font-style : italic;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_C_0.eot?#iefix') format('embedded-opentype'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_C_0.woff') format('woff'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_C_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Geogrotesque-IE-Italic';
	font-weight : normal;
	font-style : normal;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_C_0.eot');
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_C_0.eot?#iefix') format('embedded-opentype');
}

/* bold italic */
@font-face {
	font-family: 'Geogrotesque';
	font-weight : bold;
	font-style : italic;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_D_0.eot?#iefix') format('embedded-opentype'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_D_0.woff') format('woff'),
	url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_D_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Geogrotesque-IE-BoldItalic';
	font-weight : normal;
	font-style : normal;
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_D_0.eot');
	src: url('http://i.cdn.turner.com/si/.element/font/geogrotesque/255459_D_0.eot?#iefix') format('embedded-opentype');
}