#si-newsletter-overlay-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999998;
	background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/shader.png');
}

DIV.si-newsletter-overlay {
	position: relative;
	background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/newsletter/overlay-bg.png') no-repeat;
	width: 575px;
	height: 393px;
	margin: 175px auto;
	z-index: 999999;
	text-align: center;
}

DIV.si-newsletter-overlay.no-buttons {
	height: 325px;
}
	DIV.si-newsletter-overlay DIV.close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 31px;
		height: 31px;
		background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/newsletter/overlay-close.png');
		cursor: pointer;
	}

	DIV.si-newsletter-overlay DIV.heading {
		background: transparent;
		display: inline-block;
	}

	DIV.si-newsletter-overlay.siextra DIV.heading {
		width: 316px;
		height: 133px;
		margin: 5px auto 0 auto;
		background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/newsletter/siextra/overlay-heading.png');
	}

	DIV.si-newsletter-overlay.extramustard DIV.heading {
		width: 432px;
		height: 105px;
		margin: 30px auto 0 auto;
		background: url('http://i.cdn.turner.com/si/blogs/assets/extramustard/img/newsletter/overlay-heading.png');
	}

	DIV.si-newsletter-overlay.swimdaily DIV.heading {
		width: 399px;
		height: 123px;
		margin: 13px auto 0 auto;
		background: url('http://i.cdn.turner.com/si/blogs/assets/swim/img/newsletter/overlay-heading.png');
	}

	DIV.si-newsletter-overlay DIV.blurb {
		font-weight: bold;
		font-family: 'Geogrotesque', Helvetica, sans-serif;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #000, 2px 2px 2px #000;
		margin: 10px auto;
		cursor: default;
	}

		DIV.si-newsletter-overlay DIV.blurb H2 {
			color: #FFF;
			font-size: 30px;
		}

		DIV.si-newsletter-overlay DIV.blurb H3 {
			color: #8898a5;
			font-size: 23px;
			font-style: italic;
		}

DIV.si-newsletter-overlay INPUT.email {
	color: #FFF; 
	height: 44px; 
	width: 334px;
	padding: 1px 0 0 0;
	border-style: none;
	text-align: center;
	background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/newsletter/overlay-input-bg.png') no-repeat;
	font-family: 'Geogrotesque', Helvetica, sans-serif;
	font-size: 19px;
	margin-bottom: 8px;
}

DIV.si-newsletter-overlay DIV.button-row {
	position: absolute;
	bottom: 0;
	left: 44px;
	width: 100%;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Geogrotesque', Helvetica, sans-serif;
	font-weight: bold;
	font-size: 19px;
	color: #cfd1d2;
	line-height: 53px;
	cursor: default;
	text-shadow: 1px 1px 1px #000, 2px 2px 2px #000;
}

	DIV.si-newsletter-overlay DIV.button-row > * {
		float: left;
	}

	DIV.si-newsletter-overlay DIV.button-row DIV.sign-up {
		margin-right: 10px;
	}

	DIV.si-newsletter-overlay DIV.button-row DIV.button-swimdaily {
		background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/newsletter/overlay-btn-swimdaily.png') no-repeat;
		width: 185px;
		height: 58px;
		margin-top: -12px;
		margin-right: 10px;
	}

	DIV.si-newsletter-overlay DIV.button-row DIV.button-siextra {
		background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/newsletter/overlay-btn-siextra.png') no-repeat;
		width: 181px;
		height: 45px;
		margin-top: 2px;
		margin-right: 10px;
	}

	DIV.si-newsletter-overlay DIV.button-row DIV.button-extramustard {
		background: url('http://i.cdn.turner.com/si/blogs/assets/global/img/newsletter/overlay-btn-extramustard.png') no-repeat;
		width: 181px;
		height: 45px;
		margin-top: 2px;
		margin-right: 10px;
	}