html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}
/* remember to define focus styles! */
:focus { outline: 0; }
ol, ul { list-style: none; padding: 0px; margin: 0px; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a { color: #003C68; }
a:hover { color: #EC2C21; }
br { clear: both; margin-bottom: 0px; }
hr {
	background:#BFBFBF; color:#BFBFBF; clear:both; float:none; width:100%;
	height:1px; border:none; margin-top: 20px; margin-bottom: 20px;
}
.break, .cnnClear { clear: both; }

/*-----------------------------------------------------------------------------
 Section Properties Begin
 -----------------------------------------------------------------------------*/

/* content -------------------------------------------------------------------*/
		#content { position: relative; width: 1000px; overflow: hidden; clear:both; }
		/*for full width page template*/
		.fullwidth-column { width: 1000px; padding-top: 10px; padding-right: 20px; padding-bottom: 15px; }
		.left-column { width: 678px; float: left; padding: 6px 0px 15px 6px; }

		/*blog post properties*/
		.post-wrap { margin-bottom: 6px; }
		.post {
			background: #FFFFFF url(http://i.cdn.turner.com/si/.element/img/4.1/sect/olympics/2010/blog/background-content.jpg) no-repeat right top;
			padding: 25px 15px 15px;
		}
		.post-top { height: 6px; background: #000 }
		.post-bottom {
			background: #DADADA url(http://i.cdn.turner.com/si/.element/img/4.1/sect/olympics/2010/blog/background-post-bottom.jpg) no-repeat top;
			height: 20px; padding: 15px 15px 5px; font: 10px Georgia, "Times New Roman", Times, serif;
			text-transform: uppercase; letter-spacing: 0.10em; color: #999999; text-decoration: none; border-bottom: 1px solid #BBB;
		}
			.post-bottom span { color: #434343; text-decoration: none;	 }
			.post-bottom a { color: #EC2C21; text-decoration: none; }
			.post-bottom a:hover { text-decoration: underline;	 }
			.post-bottom li { display: inline; float: left; }
			.post-bottom li#right { display: inline; float: right; }
		.post-comment {
			background: #FFFFFF url(http://i.cdn.turner.com/si/.element/img/4.1/sect/olympics/2010/blog/background-post-comment.jpg) no-repeat;
			height: 65px; text-align: center; padding: 30px 60px 20px; font: italic 14px Georgia, "Times New Roman", Times, serif; color: #999999;
		}
		.post-comment a, .post-comment li span, #recentcomments a { font: 10px Helvetica, Arial, sans-serif; color: #CCCCCC; }

		/*headers*/

		.post h1 a, .post h1 {
			color: #221F20; text-decoration: none;
			font: 28px Verdana, Helvetica, Arial , sans-serif; font-weight:bold;
		}
		.post h1 a:hover { color: #EC2C21;	 }
		h1.pagetitle {
			padding: 15px; font: 10px Georgia, "Times New Roman", Times, serif;
			text-transform: uppercase; letter-spacing: 0.10em; color: #434343;
			background: url(http://i.cdn.turner.com/si/.element/img/4.1/sect/olympics/2010/blog/background-archive-top.jpg) no-repeat;
		}
		.post h2,.post h3,.post h4,.post h5,.post h6 { margin-bottom: 10px; }
		.post h2 { color: #221F20; font: bold 26px Helvetica, Arial, sans-serif; }
		.post h3 { color: #221F20; font: bold 22px Helvetica, Arial, sans-serif; }
		.post h4 { color: #221F20; font: bold 18px Helvetica, Arial, sans-serif; }
		.post h5 { color: #221F20; font: bold 14px Helvetica, Arial, sans-serif; }
		.post h6 { color: #221F20; font: bold 12px Helvetica, Arial, sans-serif; }
		/*post format styles*/

		.post ul { padding-left: 20px; list-style: square; margin-top: 20px; margin-bottom: 20px; }
		.post ol { padding-left: 25px; margin-top: 20px; margin-bottom: 20px; list-style: decimal; }
		.post li { padding-top: 1px; padding-bottom: 1px;	 }
		.post strong { color: #221F20; font-weight: bold; }
		.post em { font-style: italic; }
		.post p { color: #000000; line-height: 170%; margin-bottom: 15px; font-family: verdana, arial, sans-serif; }
		.post blockquote {
			color: #1E4D79; margin-left: 10px; padding-left: 20px; border-left: 2px solid #1E4D79;
			font: italic 14px Georgia, "Times New Roman", Times, serif; margin-top: 30px; margin-bottom: 30px;
		}
		.post img { padding-bottom: 5px; }
		.post .category {
			font: 10px Georgia, "Times New Roman", Times, serif; text-transform: uppercase;
			letter-spacing: 0.10em; margin-bottom: 20px; color: #999999;
		}
		.post .category a { color: #999999; text-decoration: none; }
		.post .category a:hover { color: #221F20; }
		.post #authorbio {
			font: italic 14px Georgia, "Times New Roman", Times, serif; color: #B4B4B4; margin-top: 20px;
			margin-bottom: 10px; padding-top: 20px; border-top: 1px dotted #B4B4B4;
		}

		.post span.youtube {
			width: 600px; text-align: center; display: block;
		}
		.post p object { display: block; margin: 0px auto; text-align: center; }
		.post p a:link,
		.post p a:active,
		.post p a:visited,
		.post p a:hover { color: #EC2C21; text-decoration: none; }


		/*"read more" link*/

		.more-link { padding: 5px; width: 75px; text-align: center; margin-top: 15px;	 }
		a.more-link:hover  { text-decoration: underline; }

		/*comments section on single blog post pages*/

		.comment-wrap { margin-bottom: 6px; }

		ol.commentlist { color: #434343; line-height: 170%;	 }
		ol.commentlist li { background: #EFEFEF; padding: 15px; clear:both; overflow: hidden; }
		ol.commentlist li a { color: #1E4D79;	 }
		ol.commentlist li.alt{ background: #DADADA; }

		/* COMMENTS */
		#commentsleft,
		.commentsleft { float: left; width: 100px; }
		#commentsleft #author,
		#commentsleft #author a,
		.commentsleft .author,
		.commentsleft .author a {
			font-size: 12px; font-weight: bold; color: #1E4D79;
			margin: 0px; padding: 0px; line-height: 16px; text-decoration: none;
		}
		#commentsleft small,
		.commentsleft small {
			font: italic 10px Georgia, "Times New Roman", Times, serif;
			margin: 0px; padding: 0px; color: #999999;
		}
		#commentsright,
		.commentsright { width: 490px; float: right; }
		#commentsright p,
		.commentsright p { line-height: 16px; font-size: 11px; margin-bottom: 8px; }

		h3#comments, h3#respond {
			text-transform: uppercase; padding: 5px; font-weight: bold; color: #FFF; background: #000;
		}
		input#author, input#email, input#url, textarea#comment {
			font: italic 14px Georgia, "Times New Roman", Times, serif;
			color: #C5C5C5; padding: 2px; margin-bottom: 10px; margin-top: 10px; border: 1px solid #DADADA; width: 580px;
		}
		input#author:focus, input#email:focus, input#url:focus, textarea#comment:focus { color: #003C68; border: 1px solid #C4C4C4; }

		/*bottom of the page "older posts" & "newer posts" link*/

		.navigation { margin-top: 45px; }
		.navigation a {
			color: #FFF; text-decoration: none; letter-spacing: -1px; font: 18px Helvetica, Arial , sans-serif; font-weight:bold;
		}

		.navigation a:hover { color: #D7E9F0; }

/* sidebar -------------------------------------------------------------------*/

	.sidebar { width: 300px; padding-top: 6px; float: right; margin-right: 6px }
	#ie6 .sidebar { margin: 0 5px 0 0; }
	.sidebar .rightbox { background: #FFFFFF; padding: 5px; margin-bottom: 6px; }
	.sidebar .rightbox_quigo { background: #FFFFFF; }
	#ad300x250 { padding: 0px; width: 300px; background: transparent; text-align: center; }
	#ad300x250 iframe { margin: 0 auto; }
	#quigo { overflow: none; display: none; }
	#ie6 #quigo { padding: 0px }
	.sidebar #ads img { margin-bottom: 20px; }
	.sidebar h2 {
		padding: 5px; width: 280px; margin-bottom: 5px;
		background: #3E3E3E;
		font-size: 12px; font-weight: bold;
		text-transform: uppercase; color: #fff;
	}
	.sidebar h2 a, .sidebar h2 a:hover  { color: #FFF; text-decoration: none; }
	.sidebar h2.brown {
		padding: 5px; width: 280px;
		background: #000;
		font: 14px Georgia, "Times New Roman", Times, serif; font-weight: bold;
		text-transform: uppercase; color: #fff; letter-spacing: .25em;
	}
		ul.list  { padding: 0px; list-style: none; margin-top: 15px; margin-bottom: 15px; }
		ul.list li, .list li {
			border-bottom: 1px solid #BEBEBE; padding: 5px 5px; font-size: 11px;
			background: url(http://i.cdn.turner.com/si/.element/img/4.1/sect/olympics/2010/blog/background-list.jpg) repeat-x bottom;
		}

		ul.list li a, .list li a { color: #000; text-decoration: none; display: block; }
		div.rightbox div.list ul.tweets li a { display:inline; }
		ul.list li:hover, .list li:hover {
			background: url(http://i.cdn.turner.com/si/.element/img/4.1/sect/olympics/2010/blog/background-list-o.jpg) repeat-x bottom;
		}
		ul.list li a:hover, .list li a:hover { color: #F22; }

		ul.children li, .children li { background-image: none; border: 0px; margin-left: 10px; font-weight: normal; padding: 2px 5px; }
		ul.children li:hover, .children li:hover { background-image: none; }

		ul.tweets li { font-weight: normal; }
		ul.tweets li a { font-size: 11px; }

		/*tagcloud*/

		#tagcloud { margin-top: 15px; margin-bottom: 15px; text-align: center; line-height: 20px; }
		#tagcloud a {
			font-family: Georgia, "Times New Roman", Times, serif; color: #999999; font-style: italic;
			text-decoration: none;
		}
		#tagcloud a:hover { color: #221F20; }

		/*recent comments*/

		ul#recentcomments { font: italic 14px Georgia, "Times New Roman", Times, serif; color: #999999; padding: 20px 5px; height: 70px; width: 275px; }

/* footer -------------------------------------------------------------------*/

	#footer {
		width: 950px; margin: 0 auto 50px auto; text-align: left; height: 195px;
	}
	#footer .cnnRight { width: 938px; float: left; margin: 0 0 0 6px; background: #FFF; height: 155px;  }
	#ie6 #footer .cnnRight { margin: 10px 10px 0 10px; background: #FFF; height: 140px;  }
	#footer .cnnRight dl { height:36px; margin:0 0 4px; padding:0; }
	#footer .cnnRight dt { float:left; padding:3px 10px 3px 0; }
	#footer .cnnRight dd { border-top:12px solid #FFFFFF; height:24px; line-height:24px; overflow:hidden; }
	.ie #footer .cnnRight dd { border-top:0 none; height:33px; line-height:12px; padding-top:19px; }
	#ie6 #footer .cnnRight dd { height:14px; }
	#footer .cnnRight dd span { color:#EC2C21; font-size:11px; font-weight:bold; text-transform:uppercase; }
	#footer .cnnRight dd a { border-left:1px solid #CCCCCC; color:#444444; font-size:11px; font-weight:bold; padding:0 5px 0 7px; white-space:nowrap; }
	#footer .cnnRight dd a:hover { color:#EC2C21; }
	#footer .cnnRight ul { font-size:11px; margin: 10px 0 0 10px; }
	#footer .cnnRight li {
		-moz-background-clip:border;
		-moz-background-inline-policy:continuous;
		-moz-background-origin:padding;
		background:#FFFFFF url(http://i.cdn.turner.com/si/.element/img/4.0/global/arrows/red_on_white_5x9.gif) no-repeat scroll 2px 9px;
		color:#B2B2B2; float:left; font-weight:bold; line-height:15px; overflow:hidden; padding:6px 0 0px 10px; white-space:nowrap; width:172px;
	}
	#footer .cnnRight li.logo {  background: none; padding: 0 10px 0 0 ; float: none; display: block; }
	#footer .cnnRight li.logo img { border: 0px; }
	.ie #footer .cnnRight li { width:155px; }
	#footer .cnnRight li a { color:#000000; text-decoration: none; }
	#footer .cnnRight li a:hover { color:#EC2C21; text-decoration: underline; }
	#footer dd a.cnnFirst { border:0 none; padding-left:0; }

	#footer .legal { font-size: 10px; text-align: center; margin-top: 10px; }

	#search { margin: 6px 10px 0 auto; width: 300px; float: right; }
	#search input { vertical-align: middle; }
	#search #text { width: 260px; font: italic 14px Georgia, "Times New Roman", Times, serif; color: #C5C5C5; padding: 2px; border: 1px solid #FFFFFF; }
	#search #text:focus { border: 1px solid #DADADA; color: #221F20; }


/*-----------------------------------------------------------------------------
 Begin Images (default WP styles)
 -----------------------------------------------------------------------------*/

	p img { padding: 0; max-width: 100%; }

	/*	Using 'class="alignright"' on an image will (who would've
		thought?!) align the image to the right. And using 'class="centered',
		will of course center the image. This is much better than using
		align="center", being much more futureproof (and valid) */

	img.centered { display: block; margin-left: auto; margin-right: auto; }
	.alignright, .right { padding: 0px; margin: 0 0 2px 15px; display: inline; float: right; }
	.alignleft, .left { padding: 0px; margin: 0 15px 2px 0; display: inline; float: left; }
	.wp-caption { background: #C52E1B; }
	.wp-caption img { margin: 5px; }
	p.wp-caption-text, .wp-caption-text { font-size: 10px; color: #FFF; line-height: 12px; margin: 5px; padding-bottom: 6px; }

	/* Flickr Press */
	.flickrpress-container { height: 225px; }
	.flickrpress-container .flickr_item { margin: 5px 0 0 5px; float: left; width: 140px; height: 110px; text-align: center; }

	/* Latest Flicker Widget */
	#flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;}
	#flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
	#flickr_icon_td {padding:0 5px 0 0 !important;}
	.flickr_badge_image {text-align:center !important;}
	.flickr_badge_image img {border: 1px solid black !important;}
	#flickr_badge_uber_wrapper {width:150px;}
	#flickr_www {display:block; text-align:center; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
	#flickr_badge_uber_wrapper a:hover,
	#flickr_badge_uber_wrapper a:link,
	#flickr_badge_uber_wrapper a:active,
	#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
	#flickr_badge_wrapper {background-color:#ffffff;border: solid 1px #000000}
	#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}


	#wp_vip {
		float: left; color: #eef; margin: 12px 0 0 12px; font-size: 10px;
	}
	#wp_vip a { color: #D7E9F0; }
	#wp_vip a:hover { color: #EC2C21; }


	.js-commentControl a { font-weight:bold; text-decoration:none; }
	.jskit-MenuContainer { z-index: 9999; }
	.jsk-ItemBody br { display: block; clear: none; }
	.jsk-ItemWrapper { padding: 5px 0 0 2px !important; }


	/* Table maker */
	table.cnnTM { margin-bottom:6px; border-collapse: collapse; }
	.cnnTMbox TD { font-size:12px;padding:5px;text-align:center; border: 1px solid #D5D5D5; }
	.cnnTMbox TD.cnnIEBoxTitle { border:1px solid #d5d5d5;color:#596272;font-size:12px;font-weight:bold; }
	.cnnTMbox TD.cnnIEBoxSubTitle { border:0px solid #d5d5d5; border-width:0px 1px; }
	.cnnTMbox .cnnTMcontent { background-color:#d5d5d5;padding:0px; border-width: 0 1px 0 0; }
	.cnnTMbox .cnnTMcontent TD { background-color:#fff; }
	.cnnTMbox TR.cnnIEHdrRowBG TD { border-bottom:3px solid #d5d5d5;font-weight:bold; }
	.cnnTMbox TD.cnnTMfooter { border:0px solid #d5d5d5;border-width:0px 1px 1px 1px; }
	.cnnTMbox TD.cnnIEColHdrL, .cnnTMbox TD.cnnIEColTxtL { text-align:left; }
	.cnnTMbox TD.cnnIEColHdrR, .cnnTMbox TD.cnnIEColTxtR { text-align:right; }

	/* Table maker */
	.post table { margin-bottom:6px; border-collapse: collapse; }
	.post table td { font-size:10px;padding:5px;text-align:center; border: 1px solid #D5D5D5; background-color:#fff;}
	.post table th { border:1px solid #d5d5d5;color:#596272;font-size:12px;font-weight:bold; }



	/*dropdown archive*/
	.car-container ul.list li a, .car-container .list li a {display:inline;}

/* sponsored links style */
DIV.cnnSLInline { background-color: #ffffff; width: 100%; }
/* sponsored links fix wide/centered captions */
DIV.wp-caption.alignnone,
DIV.wp-caption.aligncenter {
	clear: both;
}
