@charset "UTF-8";

/* default classes */
.left {clear: none; float: left;}
.right {clear: none; float: right;}
.middle {position: absolute; right: 0; left: 0; margin: 0 auto;}
.clear {clear: both;}
.c {clear: both; float: none; width: 625px; margin: auto;}
.c:after {content: "."; clear: both; display: block; height: 0; visibility: hidden;}
.rel {position: relative;}
.abs {position: absolute;}
.no-border {background: 0 !important;}
.hidden {display: none !important;}
.invisible {visibility: hidden !important;}
.condense { letter-spacing:-1px; }
.no_wrap {white-space: nowrap;}
.print {display: none;}
.grid_padding{padding:10px;}

ul.bullets { list-style-type: square; margin: 0 0 24px 20px; }
ul.bullets li { margin-bottom: 5px; }
ul.two-col { float:left; width:100%; margin-bottom:24px; }
ul.two-col li { float:left; width:50%; margin-bottom:4px; }
ul.three-col { float:left; width:100%; margin-bottom:24px; }
ul.three-col li { float:left; width:33%; margin-bottom:4px; }
.highlight { background:#fe3; }
.hair-space { padding:0 1px;}


