
@charset "UTF-8";

body.CommunityUserBG { background:url(/static/images/community/community-noise.png?v=201408151345); }

.head { float:left; position:relative; width:100%; padding-bottom:5px; margin-bottom:20px; background: url(../images/public/lines/horizontal-black.png?v=201408151345) bottom left repeat-x;  }
.head h1 { float:left; margin-bottom:0; margin-right:20px; }
.head p { padding-top:5px; line-height:1.3em; color:#333;  }
h2.new { margin-bottom:15px; height:auto; line-height:1.0em; font: bold 22px Arial,Helvetica,verdana,sans-serif; text-transform:none; letter-spacing:0px; color:#222; }
h3 { font:26px Georgia; margin-bottom:5px; margin-top:-3px; }
h4 { font:20px Georgia; margin-bottom:5px; margin-top:-3px; }
h2.sec {float:left; width:100%; border-top:2px solid #e32; line-height:1.0em; padding:3px 0 2px; }
h2.sec span.title { float:left; display:inline; color:#e32; font:bold 16px/1.2em "Lucida Grande",verdana,tahoma,arial,sans-serif; padding:0; margin:0; text-transform:lowercase; letter-spacing:0; }
h2.sec span.subtitle { font:11px "Lucida Grande",veranda,sans-serif; letter-spacing:0; text-transform:none; padding:5px 0 0 5px; line-height:2.0em;}
h2.sec a { float:right; font:10px "Lucida Grande",verdana,sans-serif; text-transform:none; letter-spacing:0; margin-top:5px; }
h2.sec a:hover {  }
h2.p { margin-bottom:7px; }
h2.menu-header { margin-top:20px; float:left; width:100%; border-top:2px solid #f43; background:url(../images/public/lines/menu-line.png?v=201408151345) center 28px repeat-x; line-height:1.0em; margin-bottom:10px;}
h2.menu-header ul.title li { float:left; margin-right:20px; padding-top:4px; }
h2.menu-header ul.title li a { font:bold 16px/1.3em "Lucida Grande",verdana,tahoma,arial,sans-serif; text-transform:lowercase; letter-spacing:0; }
h2.menu-header ul.title li.current { background:url(../images/public/lines/menu-current.png?v=201408151345) center bottom no-repeat; padding-bottom:13px;}
h2.menu-header ul.title li.current a { color:#e32; }
h2.menu-header .sort { margin-top:9px; }
h2.menu-header .sort li { width:40px; }
h2.menu-header .subtitle { font:11px "Lucida Grande",veranda,sans-serif; letter-spacing:0; text-transform:none; line-height:1.0em; margin-top:6px; }
h2.no-menu, h2.no-menu ul.title li.current { background:0; }

ul.bullets { list-style-type: square; margin: 0 0 24px 20px; }
ul.bullets li { margin-bottom: 5px; }
ul.two-col { float:left; width:100%; margin-bottom:24px; }
ul.two-col li { float:left; width:50%; margin-bottom:4px; }
ul.three-col { float:left; width:100%; margin-bottom:24px; }
ul.three-col li { float:left; width:33%; margin-bottom:4px; }
.highlight { background:#fe3; }
.hair-space { padding:0 1px;}
.quiz {width: 625px; display: block; margin: auto}

.PageHeader h1 {display: none;}
.badge {background: none;}


/* special link styles */
a.lil { padding:0px 3px; font-size:9px; }
a.small { padding:1px 3px; font-size:10px; }
input.action:disabled { background:#aaa; }
input.lil { font-size:10px; padding:0 2px; }
a.rss { background:url(../images/public/icons/rss-small.png?v=201408151345) left 2px no-repeat; padding-left:14px; }
.caps { font-size:80%; font-weight:normal; text-transform:uppercase; }
input.action { *width:1;*overflow:visible;*padding:0 6px; }

.highlight-on-hover:hover { opacity: 0.9; -moz-opacity: 0.9; filter:alpha(opacity=90);}

/* helpers */
.Container .top    { border-top:0!important;    margin-top:0!important;     padding-top:0!important;    }
.Container .bottom { border-bottom:0!important; margin-bottom:0!important;  padding-bottom:0!important; }
.Container .left   { border-left:0!important;   margin-left:0!important;    padding-left:0!important    }
.Container div.right  { border-right: 0!important;  margin-right:0!important;   padding-right:0!important;  }

/**
* 		Structure
*
*/
.Page { position:relative; width:1010px; margin: 0 auto; }
.PageBkgd { position:relative; float:left; width:990px; margin: 0 auto; padding:0 10px; background:#fff; }
.Container { float:left; width:100%; padding-bottom:50px; position:relative; background:url(../images/public/lines/flow-bkgd.png?v=201408151345) -5px 0 repeat-y; }
.ArchivePage .Container, .DisplayPage .Container, .SigninPage .Container, .SignupPage .Container, .SettingsPage .Container,  .SigninSection .Container { background:0; }
.WideContent { float:left; width:990px; background:#fff; /* ie6 double margin bug fix: */display:inline; }
.Content   { float:left; width:625px; margin-top:5px; margin-right:25px; /* ie6 double margin bug fix: */display:inline; }
.Content.VideoPost {width:990px;}
.ArchivePage .Content, .DisplayPage .Content {width:990px; margin-right:0;}
.Container .Sidebar { float:left; width:336px; background:#fff; }
.quiz_cover {width: 625px; display:block ;}

.section {float:left; width:100%; margin-bottom:15px; }
.border2 {border-top:2px solid #f43;}

#buzz_sub_buzz .quiz { float:left; width:70%; border:4px solid #C5D3EA; background:#DDE7F5; padding:15px 40px 15px 15px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;}
#buzz_sub_buzz .quiz h4 { margin:2px 0 5px 0;}
#buzz_sub_buzz .quiz h5 { margin:0 0 5px 0;}
#buzz_sub_buzz .quiz ul { margin:10px 0; padding:0; }
#buzz_sub_buzz .quiz li { list-style:none; }
.quiz-result { float:left;width:100%;margin-bottom:10px; }
.quiz-result img { float:left; margin-right:10px; }
.quiz-share-results { margin:10px 0; padding:10px 0; border-top:1px solid #C5D3EA; border-bottom:1px solid #C5D3EA; font-family:"Lucida Grande",tahoma,verana,sans-serif;}
.quiz-share-results a { padding-left:18px; margin:0 8px 0 4px; }
.quiz-share-results .quiz-share-facebook { background:url(../images/public/enhanced/quiz-share-facebook.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results .quiz-share-twitter { background:url(../images/public/enhanced/quiz-share-twitter.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results .quiz-share-blog { background:url(../images/public/enhanced/quiz-share-blog.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results .quiz-save-as-contribution { background:url(../images/public/enhanced/quiz-share-contrib.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results table td { vertical-align:middle; padding-right:10px; }
#buzz_sub_buzz .quiz .quiz_answer span.quiz_checkbox_wrp { margin-top: 0; }

#buzz_sub_buzz .buzz_superlist_item_quiz .show_results_container{ text-align:center; margin-bottom: 20px;}
#buzz_sub_buzz .buzz_superlist_item_quiz .show_results{ font-size: 23px;padding: 1px 35px;display: inline-block;}
#buzz_sub_buzz .checklist_quiz .quiz_answer_description{display:none}

#buzz_sub_buzz .quiz { float:left; width:70%; border:4px solid #C5D3EA; background:#DDE7F5; padding:15px 40px 15px 15px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;}
#buzz_sub_buzz .quiz h4 { margin:2px 0 5px 0;}
#buzz_sub_buzz .quiz h5 { margin:0 0 5px 0;}
#buzz_sub_buzz .quiz ul, #buzz_sub_buzz .quiz ol, #buzz_sub_buzz.suplist_long .quiz ol, #buzz_sub_buzz.suplist_long .quiz ul { margin:10px 0; padding:0; }
#buzz_sub_buzz .quiz li { list-style:none; }
.quiz-result { float:left;width:100%;margin-bottom:10px; }
.quiz-result img { float:left; margin-right:10px; }
.quiz-share-results { margin:10px 0; padding:10px 0; border-top:1px solid #C5D3EA; border-bottom:1px solid #C5D3EA; font-family:"Lucida Grande",tahoma,verana,sans-serif;}
.quiz-share-results a { padding-left:18px; margin:0 8px 0 4px; }
.quiz-share-results .quiz-share-facebook { background:url(../images/public/enhanced/quiz-share-facebook.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results .quiz-share-twitter { background:url(../images/public/enhanced/quiz-share-twitter.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results .quiz-share-blog { background:url(../images/public/enhanced/quiz-share-blog.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results .quiz-save-as-contribution { background:url(../images/public/enhanced/quiz-share-contrib.png?v=201408151345) 0 0 no-repeat; }
.quiz-share-results table td { vertical-align:middle; padding-right:10px; }

/* Quiz 2.0 */
#buzz_sub_buzz .quiz { width: 100%; overflow: hidden; border: 0px solid #d0d0d0; padding: 0px; background: #ffffff; font-family: 'helvetica'; font-size: 14px; border-radius: 0px; -moz-border-radius: 0px; margin: 0 auto; }
#buzz_sub_buzz .quiz h1 { margin: 0 0 5px 0; font-family: 'helvetica', arial, sans-serif; font-size: 24px; padding: 0px; }
#buzz_sub_buzz .quiz .headline-1 { margin: 0 0 20px 0; font-family: 'helvetica', arial, sans-serif; font-size: 24px; padding: 0px; }
#buzz_sub_buzz .quiz h1.thin { font-family: 'helvetica'; }
#buzz_sub_buzz .quiz .headline-1.thin { font-family: 'helvetica'; }
#buzz_sub_buzz .quiz h2 { font-size: 17px; font-family: 'helvetica'; font-weight: normal; margin: 15px 0; }
#buzz_sub_buzz .quiz h2.bold { font-family: 'helvetica'; }
#buzz_sub_buzz .quiz img { max-width: 625px; height: auto; display: block; margin: auto}
#buzz_sub_buzz .quiz .quiz_question.legacy .quiz_question_header img,#buzz_sub_buzz .quiz .quiz_question.text .quiz_question_header img  { width: 625px; }
#buzz_sub_buzz .quiz .hr { width: 100%; height: 1px; background: #E3E3E3; margin: 20px 0 0 0; }
#buzz_sub_buzz .quiz .buzz_superlist_number_inline { position: relative; left: -10px; top: -10px; font-size: 28px; font-family: 'helvetica'; }

#buzz_sub_buzz .quiz .quiz_question { overflow: hidden; width: 625px; margin: 0px 0px 50px 0px; }
#buzz_sub_buzz .quiz .quiz_img_and_source { position: relative; }
#buzz_sub_buzz .quiz .quiz_answer span { float: left; margin: 5px 0 0 0; }

#buzz_sub_buzz .quiz .quiz_answer span.quiz_answer_text { font-family: 'ProximaNovaSemibold'; font-size: 17px; line-height: 20px; }
#buzz_sub_buzz .quiz .quiz_answer span.quiz_answer_description { font-size: 17px; }

#buzz_sub_buzz .quiz_question .quiz_reveal { clear: both; background-color: #fefefe; border: 1px solid #dddddd; overflow: hidden; padding: 0 20px;}
#buzz_sub_buzz .quiz_question .quiz_reveal .headline-1{ float: left; margin-bottom: 0;width: 100%}
#buzz_sub_buzz .quiz_question .quiz_reveal .headline-1 .answer_response,#buzz_sub_buzz .quiz_question .quiz_reveal.headline-1.answer_response{ width: 100%; display: block; font: 30px/26px 'ProximaNovaRegular'; padding: 20px 0;}
#buzz_sub_buzz .quiz_question .quiz_reveal.headline-1.answer_response{ width: auto;}
#buzz_sub_buzz .quiz_question .quiz_reveal .headline-1 .reveal_title{float: left;margin-bottom: 10px;}
#buzz_sub_buzz .quiz_question .quiz_reveal .headline-1 .answer_response .mark, #buzz_sub_buzz .quiz_question .quiz_reveal.headline-1.answer_response .mark{ font-size: 36px; vertical-align: top; display: none; margin-right: 8px; float: left;width: 22px; height: 27px; }
#buzz_sub_buzz .quiz_question .quiz_reveal .headline-1 .answer_response.correct .tic, #buzz_sub_buzz .quiz_question .quiz_reveal.headline-1.answer_response.correct .tic{background: url('unified_sprite.png') no-repeat -615px -18px;  display: block; text-indent: -1000px;}
#buzz_sub_buzz .quiz_question .quiz_reveal .headline-1 .answer_response.wrong .cross, #buzz_sub_buzz .quiz_question .quiz_reveal.headline-1.answer_response.wrong .cross{color: #ee3322;display: block;  }
#buzz_sub_buzz .quiz_question .quiz_reveal .headline-1{line-height: 22px; font-size: 20px; }
#buzz_sub_buzz .quiz_question .quiz_reveal .quiz_img_and_source_625 {margin-bottom: 0;}
#buzz_sub_buzz .quiz_question .quiz_reveal .quiz_un_reveal { display: block; clear: left; margin-top: 10px;}

#buzz_sub_buzz .quiz_question.text .quiz_answer { float: left; border: 1px solid #DDD; margin: 0 0 19px 0; padding: 6px; padding-top: 5px; min-height: 26px; background-color: #f2f2f2; position: relative;}
#buzz_sub_buzz .numbered.checklist_quiz .quiz_question.text .quiz_answer {margin-left: 60px}
#buzz_sub_buzz .quiz_question.text .answer_number { display: none; height: 30px; font-size: 26px; font-weight: bold; line-height: 30px; width: 30px; position: absolute; left: -37px; margin: 0;}
#buzz_sub_buzz .numbered.checklist_quiz .quiz_question.text .answer_number  {width: 55px;left: -60px; text-align: right;}
#buzz_sub_buzz .quiz_question.text .answer_number:after{content:'.';}
#buzz_sub_buzz .numbered.checklist_quiz .quiz_question.text .answer_number {display: block; }
#buzz_sub_buzz .quiz_question.text .quiz_answer span.quiz_answer_text { font-size: 20px; }
#buzz_sub_buzz .quiz .quiz_question.text ol { margin-left: 0;padding-right: 1px; }
#buzz_sub_buzz .quiz_question .quiz_answer.has_quiz_answer_text span.quiz_answer_description { clear: both; margin-left: 29px; margin-top: 5px; }

/* TEXT ANSWER */
#buzz_sub_buzz .quiz .quiz_question.text .quiz_answer span.quiz_checkbox { margin-top: 3px; }
#buzz_sub_buzz .quiz .quiz_question.text .quiz_answer span.quiz_answer_text { margin-top: 5px; }
#buzz_sub_buzz .quiz .quiz_question.text .quiz_answer span.quiz_answer_text, #buzz_sub_buzz .quiz .quiz_answer span.quiz_answer_description { width: 580px; }
#buzz_sub_buzz .quiz.numbered.checklist_quiz .quiz_question.text .quiz_answer span.quiz_answer_text, #buzz_sub_buzz .quiz.numbered.checklist_quiz .quiz_answer span.quiz_answer_description { width: 484px; }
#buzz_sub_buzz .quiz.not_numbered.checklist_quiz .quiz_question.text .quiz_answer span.quiz_answer_text, #buzz_sub_buzz .quiz.not_numbered.checklist_quiz .quiz_answer span.quiz_answer_description { width: 570px; }
/* SMALL QUIZ IMAGE */
#buzz_sub_buzz .quiz_question ol.smallImgAnswers { float: left; clear: both; }
#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer { display: table-cell; vertical-align: top; width: 180px; min-height: 200px; }
#buzz_sub_buzz .quiz_answer .quiz_img_and_source .sub_buzz_source_via, #buzz_sub_buzz .quiz_answer .quiz_img_and_source .sub_buzz_source_via:hover { bottom: 0; right: 0; max-width: 164px; overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: pointer; }
#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer img { height: auto; width: 180px; }
#buzz_sub_buzz .quiz_question.image .quiz_answer span.quiz_answer_text, #buzz_sub_buzz .quiz_question.image .quiz_answer span.quiz_answer_description { width: 141px; }
#buzz_sub_buzz .quiz_question.image ol { display: table; border-collapse: separate; border-spacing: 12px 0; margin-bottom: 12px; margin-left: -12px; }
#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer.last { margin-right: 0; }
#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer { clear: left; }
#buzz_sub_buzz .quiz .quiz_question .quiz_question_header { float: left; margin-bottom: 15px; width: 100%; }
#buzz_sub_buzz .quiz.image_checklist_quiz.numbered .answer_number{position: absolute; margin: 0; padding: 0 6px; z-index: 2; background: #fff; font-size: 18px; line-height: 24px; font-weight: bold; }

/* LARGE QUIZ IMAGE */
#buzz_sub_buzz .quiz_question.image ol.largeImgAnswers { border-spacing: 25px 0; margin-bottom: 25px; margin-left: -25px; }
#buzz_sub_buzz .quiz_question .largeImgAnswers .quiz_answer .sub_buzz_source_via { max-width: 264px; }
#buzz_sub_buzz .quiz_question .largeImgAnswers .quiz_answer span.quiz_answer_text, #buzz_sub_buzz .quiz_question .largeImgAnswers .quiz_answer span.quiz_answer_description { width: 245px; }
#buzz_sub_buzz .quiz_question .largeImgAnswers .quiz_answer { display: table-cell; vertical-align: top; width: 280px; min-height: 50px; }
#buzz_sub_buzz .quiz_question .largeImgAnswers .quiz_answer img {width: 280px; }

/* QUIZ RESULT IMAGE */
#buzz_sub_buzz .quiz_result .sub_buzz_source_via { max-width: 284px; }
#buzz_sub_buzz .quiz .quiz_result .quiz_img_and_source, #buzz_sub_buzz .quiz_question .quiz_reveal .quiz_img_and_source { position: relative; width: 300px; float: left; margin: 0 0 10px 0; }
#buzz_sub_buzz .quiz .quiz_result .quiz_img_and_source img, #buzz_sub_buzz .quiz .quiz_reveal img { width: 300px; height: auto; }

#buzz_sub_buzz .quiz_question.text .quiz_answer:hover, #buzz_sub_buzz .quiz_question.image .quiz_answer:hover{background-color: #fff195; cursor: pointer;}

#buzz_sub_buzz .quiz_question.text .quiz_answer.selected,
#buzz_sub_buzz .quiz_question.image .quiz_answer.selected {
	background-color: #bed5ed; cursor: pointer; color: #000;}

#buzz_sub_buzz .quiz_question.text .quiz_answer.correct_answer,
#buzz_sub_buzz .quiz_question.image .quiz_answer.correct_answer,
#buzz_sub_buzz .quiz_question.text .quiz_answer.correct_answer:hover,
#buzz_sub_buzz .quiz_question.image .quiz_answer.correct_answer:hover{
	background-color: #88f078; color: #000; cursor: default;}

#buzz_sub_buzz .quiz_question.text .quiz_answer.wrong_answer,
#buzz_sub_buzz .quiz_question.image .quiz_answer.wrong_answer,
#buzz_sub_buzz .quiz_question.text .quiz_answer.wrong_answer:hover,
#buzz_sub_buzz .quiz_question.text .quiz_answer.wrong_answer.deactivated:hover,
#buzz_sub_buzz .quiz_question.image .quiz_answer.wrong_answer.deactivated:hover,
#buzz_sub_buzz .quiz_question.image .quiz_answer.wrong_answere:hover{background-color: #ff1f1f; cursor: default; color: #000;}

#buzz_sub_buzz .quiz_question.text .quiz_answer.def_answer,#buzz_sub_buzz .quiz_question.image .quiz_answer.def_answer,
#buzz_sub_buzz .quiz_question.text .quiz_answer.def_answer:hover,#buzz_sub_buzz .quiz_question.image .quiz_answer.def_answer,
#buzz_sub_buzz .quiz_question.text .quiz_answer.deactivated:hover,#buzz_sub_buzz .quiz_question.image .quiz_answer.deactivated:hover{background: #f2f2f2;}

#buzz_sub_buzz .quiz_question.image .quiz_answer { background-color: rgba(255,255,255,0.4); border: 1px solid #d2d2d2; padding: 9px; overflow: hidden; }
.quiz_shadow { -moz-box-shadow: 1px 1px 0 #bfbfbf; -webkit-box-shadow: 1px 1px 0 #bfbfbf; box-shadow: 1px 1px 0 #bfbfbf; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#bfbfbf')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#bfbfbf'); }
#buzz_sub_buzz .quiz .quiz_answer span.quiz_checkbox { width: 18px; height: 18px; border: 1px solid #ddd; background-color: #fff; margin-right: 9px; position: relative; }
#buzz_sub_buzz .quiz .quiz_answer span.quiz_checkbox .quiz_checkmark { float: none; display: none; color: #111; font-size: 0px; line-height: 18px; position: absolute; bottom: 1px; left: 0; margin: 0; }
.ie8 #buzz_sub_buzz .quiz .quiz_answer span.quiz_checkbox .quiz_checkmark { left: -1px; bottom: 3px; }
#buzz_sub_buzz .quiz .quiz_answer.selected span.quiz_checkbox .quiz_checkmark { display: block; background: url('check.png') no-repeat; width: 22px; height: 22px; }
#buzz_sub_buzz .quiz span.quiz_text {font-family: 'helvetica'; font-weight: lighter;}
#buzz_sub_buzz .quiz_question.image .quiz_answer span.quiz_checkbox { margin-top: 10px; }
#buzz_sub_buzz .quiz_question.image .quiz_answer .quiz_checkbox_wrp span { margin-top: 12px; }

#buzz_sub_buzz .quiz .quiz_result { clear: both; display: block; overflow: hidden; }
#buzz_sub_buzz .quiz .answer_shares { clear: both; overflow: hidden; background-color: #e6e8e9; padding: 20px 10px; }
#buzz_sub_buzz .quiz .answer_shares_buttons { float: left; }
#buzz_sub_buzz .quiz .answer_shares h2 { float: left; margin: 8px 15px 0px 0; padding: 0; }
#buzz_sub_buzz .quiz .answer_shares a { float: left; margin: 0 15px 0 0; }
#buzz_sub_buzz .quiz .quiz_result_area { background-color: #fefefe; border: 1px solid #dddddd; padding: 20px 0 0 0; margin: 20px 0; }
#buzz_sub_buzz .quiz .quiz_tally_results { padding: 0 20px; }
#buzz_sub_buzz .quiz .quiz_tally_results h1 { font: 28px/24px 'helvetica'; }
#buzz_sub_buzz .quiz .quiz_tally_results .headline-1 { font: 30px/26px 'helvetica'; }
#buzz_sub_buzz .quiz .quiz_tally_results h2 { font: 15px/23px 'helvetica';  color: #797979; margin: 0 0 10px 0; padding: 0; }
#buzz_sub_buzz .quiz .quiz_result h1 { font: 19px/26px 'helvetica'; margin: 0 0 10px 0; }
#buzz_sub_buzz .quiz .quiz_result .headline-1 { font: 30px/37px 'helvetica'; margin: 0 0 20px 0; }
#buzz_sub_buzz .quiz_result.has_result_image .headline-1.answer_response, #buzz_sub_buzz .quiz_result.has_result_image h2, #buzz_sub_buzz .quiz_question .quiz_reveal p { width: 273px; overflow-x: hidden; text-overflow: ellipsis; float: left; margin-right: 10px; }
#buzz_sub_buzz .quiz .quiz_answer.deactivated { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); -moz-opacity: 0.6; opacity: 0.6; }
.adlink {width: 625px}
.share {margin-top:-9px; }


/* POST RECCOMENDATION QUIZ Spinner - PC */
.post_rec_spinner img {margin:0px auto;}


/*For tablet*/
@media (min-width: 480px) and (max-width: 767px) {
	.quiz {width: 100%; }
	.quiz_cover {width: 550px; margin: auto; }
	.c {clear: both; float: none; width: 100%; margin: auto;}
	.quiz_img {width: 550px}
	#buzz_sub_buzz .quiz .quiz_question.legacy .quiz_question_header img,#buzz_sub_buzz .quiz .quiz_question.text .quiz_question_header img  { width: 550px; }
	#buzz_sub_buzz .quiz .quiz_question .quiz_question_header { float: none; margin-bottom: 15px; width: 550px; margin-right: auto; margin-left: auto; display: block; margin-top: 50px;}
	#buzz_sub_buzz .quiz .quiz_question { overflow: hidden; width: 100%; margin: auto; }
	#buzz_sub_buzz .quiz { float:none; margin: auto;}
	#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer { display: table-cell; vertical-align: top; width: 158.4px; min-height: 158.4px; max-width: 158.4px }
	#buzz_sub_buzz .quiz_question.image ol { margin-left: auto; margin-right: auto; width: 574px }
	#buzz_sub_buzz .quiz_question ol.smallImgAnswers { float: none; clear: both; }
	#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer img { height: auto; width: 140px; }
	#buzz_sub_buzz .quiz .quiz_result_area { background-color: #fefefe; border: 1px solid #dddddd; padding: 20px 0 0 0; margin: auto; width: 550px}
	#buzz_sub_buzz .quiz .quiz_result .quiz_img_and_source, #buzz_sub_buzz .quiz_question .quiz_reveal .quiz_img_and_source { position: relative; width: 250px; float: left; margin: 0 0 10px 0; }
	#buzz_sub_buzz .quiz .quiz_result .quiz_img_and_source img, #buzz_sub_buzz .quiz .quiz_reveal img { width: 250px; height: auto; }
	#buzz_sub_buzz .quiz_result.has_result_image .headline-1.answer_response, #buzz_sub_buzz .quiz_result.has_result_image h2, #buzz_sub_buzz .quiz_question .quiz_reveal p { width: 240px; overflow-x: hidden; text-overflow: ellipsis; float: left; margin-right: 10px; }
	.adlink {width: 550px}
	.share {width: 320px; margin-top: -3px}
	#buzz_sub_buzz .quiz .answer_shares { clear: both; overflow: hidden; background-color: #e6e8e9; padding: 3px 10px; }
	#buzz_sub_buzz .quiz .answer_shares h2 { float: left; margin: 21px 15px 0px 0; padding: 0; }
	#buzz_sub_buzz .quiz .quiz_tally_results h1 { font: 24px/24px 'helvetica'; }
}

/*For Mobile devises*/

@media (max-width: 600px) {
	.quiz {width: 100%; }
	.quiz_cover {width: 100%; margin: auto; }
	.c {clear: both; float: none; width: 100%; margin: auto;}
	.quiz_img {width: 100%}
	#buzz_sub_buzz .quiz .quiz_question.legacy .quiz_question_header img,#buzz_sub_buzz .quiz .quiz_question.text .quiz_question_header img  { width: 320px; }
	#buzz_sub_buzz .quiz ul, #buzz_sub_buzz .quiz ol, #buzz_sub_buzz.suplist_long .quiz ol, #buzz_sub_buzz.suplist_long .quiz ul { margin:10px 0; }
	#buzz_sub_buzz .quiz .quiz_question .quiz_question_header { float: none; margin-bottom: 15px; width: 100%; margin-right: auto; margin-left: auto; display: block; margin-top: 30px;}
	#buzz_sub_buzz .quiz .quiz_question { overflow: hidden; width: 100%; margin: auto; }
	#buzz_sub_buzz .quiz { float:none; margin: auto;}
	#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer { display: table-cell; vertical-align: top; width: 90px; min-height: 90px; max-width: 90px }
	#buzz_sub_buzz .quiz_question.image ol { margin-left: auto; margin-right: auto; width: 320px }
	#buzz_sub_buzz .quiz_question ol.smallImgAnswers { float: left; clear: both; width: 100%; margin-left: -9px; margin-right: auto;  }
	#buzz_sub_buzz .quiz_question.image ol { border-spacing: 10px 0; }
	#buzz_sub_buzz .quiz_question .smallImgAnswers .quiz_answer img { height: auto; width: 79px; }
	#buzz_sub_buzz .quiz .quiz_result_area { background-color: #fefefe; border: 1px solid #dddddd; padding: 14px 0 0 0; margin: auto; width: 318px}
	#buzz_sub_buzz .quiz .quiz_result .quiz_img_and_source, #buzz_sub_buzz .quiz_question .quiz_reveal .quiz_img_and_source { position: relative; width: 150px; float: left; margin: 0 0 10px 0; }
	#buzz_sub_buzz .quiz .quiz_result .quiz_img_and_source img, #buzz_sub_buzz .quiz .quiz_reveal img { width: 280px; height: auto; }
	#buzz_sub_buzz .quiz_result.has_result_image .headline-1.answer_response, #buzz_sub_buzz .quiz_result.has_result_image h2, #buzz_sub_buzz .quiz_question .quiz_reveal p { width: 280px; overflow-x: hidden; text-overflow: ellipsis; float: left; margin-right: 10px; }
	.adlink {width: 320px}
	.share {width: 300px; margin-top: 5px}
	#buzz_sub_buzz .quiz .answer_shares { clear: both; overflow: hidden; background-color: #e6e8e9; padding: 3px 10px; }
	#buzz_sub_buzz .quiz .answer_shares h2 { float: left; margin: 15px 15px 0px 0; padding: 0; text-align: center;  }
	#buzz_sub_buzz .quiz .quiz_tally_results h1 { font: 20px/20px 'helvetica'; line-height: 26px}
	#buzz_sub_buzz .quiz .quiz_answer span.quiz_checkbox { width: 12px; height: 12px; }
	#buzz_sub_buzz .quiz .quiz_answer.selected span.quiz_checkbox .quiz_checkmark { display: block; background: url('check.png') no-repeat; width: 21px; }
	#buzz_sub_buzz .quiz_question.image .quiz_answer .quiz_checkbox_wrp span { margin-top: 8px; }
}

