/* GM - SEH */
/* Color Palette Information and other notes */
/* green = 8dc540 */

/* Uncomment to turn off the wp-admin bar for testing purposes. */
/*
#wpadminbar {
	display: none !important;
}
*/

[class*="span"] {
margin-left: 0 !important;
}


/* -------------------------------------------- Global Adjustments and Styles ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */

h2 a {
	color: #8dc540;
}

h2 a:hover {
	color: #333;
}

a:hover {
	color: #8dc540;
	text-decoration: none !important;
}

#content {
	padding: 0 !important;
	margin: 0 !important;
	margin-top: 20px !important;
}

.home #content {
	margin-top: 0 !important;
}

#content p:not(#um_field_container p) {
	font-size: 1em;
	line-height: 1.4em;
	color: #999;
	font-weight: lighter;
}

#content a {
	color: #333;
}

#content .eventBox a {
	color: white;
}

.go-green {
	color: #8dc540 !important;
}

.shadow {
  -moz-box-shadow:    1px 1px 3px 1px #666;
  -webkit-box-shadow:1px 1px 3px 1px #666;
  box-shadow:         1px 1px 3px 1px #666;
}

/* makes container go full width */
.container {
width: 100% !important;
padding: 0 !important;
margin: 0 !important;
}

/* Inner container any element that is to be centered on the page. */
.inner-wrap {
	max-width: 1170px;
	margin: 0 auto;
	clear: both;
}

/* this needs adjustment. Feel like it is a key */
.span12, .span8 {
	width: 100% !important;
}

.gray-back {
	background-color: #f5f5f5 !important;
	width: 100% !important;
	height: auto;
	float: left;
}

.gray-top {
	background-color: #c9cacc;
	height: 8%;
	width: 100%;
	float: left;
	clear: both;
}

/* adds some padding to an element */
.top-bot-pad {
	padding: 10px 0;
}

/* Title headers on pages and home page */
.eventHeader {
	color: #8dc540;
	font-weight: lighter !important;
	font-size: 1.6em;
	padding-bottom: 5px;
}

a h4.eventHeader:hover {
	color: #333 !important;
	text-decoration: none !important;
}

.float-clear {
	float: left;
	clear: both;
}

/* -------------------------------------------- Global Adjustments and Styles ------------------------------------------ */
/* ----  END ------------------------------------------ */


/* -------------------------------------------- Home Page Only Styles ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */


/* deleted this element. Had to do with centering the search and browse buttons. Delete if not in use.
.home #content, #header-container {
margin-top: 60px;
}
*/

#header-container {
	position: relative;
	float: left !important;
	width: 100%;
	min-height: 230px;
	margin: 20px 0 0 0;
}

#home-small-slider, #home-small-slider .jcarousel-clip {
/* width: 1170px !important; */
/*width: 1080px !important;*/
width: 90% !important;
}

#home-small-slider ul li {
padding: 0 15px !important;
}

/* Styling for the ACF box on the home page.  */
#ns-event-desc {
	height: auto;
	border: 1px solid #cbcbcd;
	margin: 20px 0;
	-moz-box-shadow:    3px 3px 10px 0 #ccc;
	-webkit-box-shadow: 3px 3px 10px 0 #ccc;
	box-shadow:         3px 3px 10px 0 #ccc;
}

#ns-event-desc img {
	width: 100%;
	max-width: 100%;
}

#left-event {
	width: 100%;
	height: auto;
	float: left;
}

#right-event {
	width: 30%;
	height: auto;
	float: left;
	padding-bottom: 20px;
}

#right-event .eventTitle {
	float: none !important;
}

/* home page large social buttons in sidebar */
.sidebarSocial {
	padding: 10px 0 0 50px;
}

.sidebarSocial li {
l	ist-style: none !important;
	float: left !important;
	padding: 0 8px;
}

ul#homeSocial {
	float:right;
	margin: 0 0 0 10px;
}
ul#homeSocial > li {
	list-style: none !important;
	display:inline;
}

/* -------------------------------------------- Home Page Only Styles ------------------------------------------ */
/* ---- END ------------------------------------------ */

/* -------------------------------------------- Search Template Styles ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */

.search article {
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.search article:last-child {
	border: none;
}

/* -------------------------------------------- Search Template Styles ------------------------------------------ */
/* ---- END ------------------------------------------ */


/* -------------------------------------------- Page formatting issues ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */


/* controls the separation between the header and the main content area */
.page-header {
margin: -5px 0 30px !important;
}

.page-header h1 {
	font-weight: lighter !important;
	padding: 0;
	margin: 10px 0 0 0;
	color: #8dc540; 
}

/* -------------------------------------------- Page formatting issues ------------------------------------------ */
/* END SECTION ------------------------------------------ */


/* -------------------------------------------- Nav Bar and Menu ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */


/*
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	max-width: 100% !important;
}
*/

/* removes shadows from top nav area. They are faint but can be seen. */
.navbar-fixed-top .navbar-inner {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none !important;
}

.navbar {
	/* height: auto; */
	top: 0;
	width: 100%;
	background-color: #5f6062 !important;
}

#nav-main {
	float: left;
	max-width: 270px;
	display: block;
}

.browse-btn {
	width: 400px;
	margin: 0 0 0 30% !important;
	position: relative;
	top: -50px;
}

/*
#megaMenu ul.megaMenu {
	top: -40px;
}

#megaMenu ul.megaMenu > li {
float: none !important;
display: block !important;
width: 100%;
margin: 0 auto !important;
text-align: center !important
}
*/


/* Right section includes search and login, profile - section cleared so that the uber menu sub menus will expand to the remaining size of the conatiner. repositioned to sit over the uber menu. note the z-index so that the signup and search area will be accessible via click on top of the uber menu */

#header-right-container {
	float: right;
	z-index: 999;
}

#search-container {
	clear:both;
	float:right;
	max-width: 270px;
	width: 100%;
	height: 45px;
	margin: 2px 0 0 0 !important;
	padding: 0;
}

.search-query {
	background-color: transparent;
	margin: 0 auto;
	padding: 3px 50px 3px 15px !important;
	color: #FFF !important;
	float: right;
	height: 16px !important;
	font-size: 12px !important;
}

.form-search input.search-query {
	background-color: transparent;
	border: 1px solid #FFF;
	margin: 8px 0 0 0;
	color: #FFF !important;
	padding-right: 50px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0; /* future proofing */
	-khtml-border-radius: 0; /* for old Konqueror browsers */
}

form.form-search {
	margin: 0;
}

#searchsubmit {
	border: none !important;
	background: none !important;
	color: #8dc540 !important;
	font-size: 11px;
	text-shadow: none !important;
	box-shadow: none !important;
	position: relative;
	right: 5px;
	top: -18px;
	float: right;
}

#searchsubmit:hover {
	color: #FFF !important;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	height: 79px !important;
}

.navbar-inner {
	background-image: none !important;
	background-color: transparent !important;
	border: none;
	zoom: 1;
	filter: alpha(opacity=1);
	opacity: 1 !important;

}

/* container must be fixed for the face effect to work. */
.navbar-inner .container {
	position: relative;
}

.navbar .brand {
	color: #FFF;
	text-shadow: 0 1px 0 #000;
	width: 30%;
	position: relative;
	margin-top:10px;
}

.navbar .nav > li > a {
	color: #FFF;
	text-shadow: 0 1px 0 #000;
}

.navbar .brand img {
	width: 100%;
	max-width: 319px;
}

.navbar .nav > .active > a {
	background: none !important;
}

.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0;
}

.dropdown-toggle {
	color: #FFF;
	background-color: none;
	text-shadow: none !important;
}


/* ------------------------------------------ Uber Menu ------------------------------------------ */
/* -------------------------------------------- START ------------------------------------------ */

/* removes background of uber menu container */
#megaMenu {
	background-color: transparent !important;
	margin-left:30px;
}

/* main navigation styles for top level buttons */
.mega-with-sub {
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

/* Shadow for the browser button/link */
.wpmega-link-title {
	text-shadow: 1px 1px 10px #5f6062 !important; 
}

.launch-link span .wpmega-link-title {
	text-shadow: 1px 1px 10px #5f6062 !important;
	text-transform:lowercase !important;
	font-weight: lighter !important;
	font-size: 2em !important;
	color: #FFF !important
}

.launch-link:hover span .wpmega-link-title {
  color: #8dc540 !important;
  cursor: text;
}

li.launch-link span span.wpmega-link-title {
	font-weight: lighter !important;
	color: #EDEDED !important;
}

/* padding styles for main navigation buttons */
#megaMenu ul.megaMenu > li > span.um-anchoremulator {
	padding: 0 20px 0 15px !important;
}

/* CHECK not sure about this one. Looks a little better with. */
#megaMenu.megaMenuHorizontal ul.megaMenu > li > span.um-anchoremulator {
	border-left: none !important;
}

/* Top Level Items - Hover */
#megaMenu ul.megaMenu > li:hover > a,
#megaMenu ul.megaMenu > li > a:hover,
#megaMenu ul.megaMenu > li.megaHover > a,
#megaMenu ul.megaMenu > li:hover > span.um-anchoremulator,
#megaMenu ul.megaMenu > li > span.um-anchoremulator:hover,
#megaMenu ul.megaMenu > li.megaHover > span.um-anchoremulator {
  background-color: transparent !important;
  background-position: 80px -13px !important;
  color: #8dc540 !important;
  width: 120px !important;
}

/* DELETE
#megaMenu ul.megaMenu > li.megaHover > span.um-anchoremulator {
	color: #ffffff;
	border-bottom-color: transparent !important;
	background-color: #000000;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
*/

/* drop down menu styles - roudned corners, background color, border color */
#megaMenu ul.megaMenu > li.ss-nav-menu-mega > ul.sub-menu-1 {
	background: transparent url('/assets/img/1x1-opac-gray.png') !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	border-color: none !important;
	margin: 5px 0 0 0;
	border-color: #444 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	/* box-shadow: none !important; */
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 15px;
}

/* rounded corners for top level navigation items */
ul .um-anchoremulator {
  	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px; /* future proofing */
}

ul ul span.um-anchoremulator:hover {
	background-color: none !important;
}

/* removes the rounded corners from the title underlines within the menu */
ul ul span.um-anchoremulator {
  	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0; /* future proofing */
	cursor: default !important;
}

/* color for links in drop down */
#megaMenu a, #megaMenu, ul ul .um-anchoremulator  {
	color: #EDEDED !important;
}

/* hover color for links in drop down */
#megaMenu a:hover {
	color: #8dc540 !important;
}

/* styling for first level of sub menus */
#megaMenu .sub-menu-2 {
	padding-left: 10px !important;
	font-weight: bold;
}

/* styling for second level of sub menus */
#megaMenu .sub-menu-3 {
	padding-left: 20px !important;
	font-weight: lighter;
}

/* GMG - SEH styling for the MOBILE close button on the top navigation button */
/* Great documentation on it... http://wpmegamenu.com/help/#FAQ-style-mobile-close */
#megaMenu ul.megaMenu a span.uber-close,
#megaMenu ul.megaMenu span.um-anchoremulator span.uber-close{
	/*
    top: -6px !important;
    left: 100px !important;
    background:transparent !important;
    background:rgba( 0, 0, 0, 0 ) !important;
    font-size:14px;
    font-weight:lighter;
    color:#8dc540;
    */
    overflow: hidden;
    width: 100%!important;
    background: transparent !important;
    text-indent: -999px;
    left: 0 !important;
}


/* GMG - AL center the submenu UL on the main menu */
#megaMenu.megaMenuHorizontal ul.megaMenu > li.ss-nav-menu-mega > ul.sub-menu-1, #megaMenu.megaMenuHorizontal ul.megaMenu li.ss-nav-menu-reg > ul.sub-menu {
	/* left: -127px !important; *//* old setting -390px *//* setting anything here messes up hover behavior - move the whole menu not this item */
	padding-top: 35px;
	position: relative;
	top:-50px;
} 

/* arrow by launch button */
#megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub > a:after, #megaMenu ul li.mega-with-sub > a:after, #megaMenu ul li.ss-nav-menu-mega > a:after, #megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator:after, #megaMenu ul li.mega-with-sub > span.um-anchoremulator:after, #megaMenu ul li.ss-nav-menu-mega > span.um-anchoremulator:after {
	right: -10px !important;
	top: 13px !important;
	border-top-color: #FFF !important;
	border-width: 10px 10px 0 !important;
	display: none!important;
}


/* now using background image instead of pseudo-el for launch button */
#megaMenu > ul > li > span {	
	width: 120px !important;
	background: url(../img/launch-arrow.png) no-repeat 80px 13px !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
	margin: 0 auto !important;
}

#megaMenu:hover ul li.ss-nav-menu-mega > span.um-anchoremulator:after {
	border-top-color: #8dc540 !important;
}

/* setting the width of the top level container within ubermenu widget area 2 */

.nav-launch {
	width: 320px;
	margin-top: 20px !important;
}

/* font styles for the main links in launch menu */
a.launch-link {
	font-size: 1.8em !important;
	font-weight: lighter;
}

.launch-container {
	width: 100%;
}

/* "Categories" header in menu */
.launch-header {
	padding: 12px 0 0 0 !important;
	margin: 10px 0 0 0 !important;
	font-size: 1.8em !important;
	border-top: 1px solid #999 !important;
	color: #EDEDED !important;
	font-weight: lighter !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	display: block;
}

/* class created on the ubermenu item */
#megaMenu ul ul.sub-menu li > a {
	color: #EDEDED !important;
	text-shadow: none !important;
	padding-left: 15px !important;
	font-size: 1.4em !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: lighter !important;
}

#megaMenu ul ul.sub-menu li > a:hover {
	color: #8dc540 !important;
}

.ss-nav-menu-item-depth-1 {
	padding: 0 !important;
	margin: 0 !important;
}

/* ------------------------------------------ Uber Menu ------------------------------------------ */
/* END SECTION ------------------------------------------ */


/* -------------------------------------------- FEATURED SLIDER ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */

/* position slider to elimnate the gap at the top of the page and body */
.featured-slider {
	max-width:1170px;
	padding-top:15px;
	margin:0 auto;
	position:relative;
	text-align:center;
}

/* Slider circle navigation styles */

ul.callbacks_tabs {
	list-style: none !important;
	padding: 0 !important;
	margin: 0 auto !important;
	height: 20px;
	display: inline-block;
	z-index: 2;
}

ul.callbacks_tabs li
{
	float: left;
}

ul.callbacks_tabs li a {
	background-color: #CCC;
	display:inline-block;	
	text-align: center !important;
	vertical-align: center !important;
	margin: 3px 5px 0 0;
	/* For supporting browsers */
	border-radius: 5px;
	/* Old Chrome */
	-webkit-border-radius: 5px;
	/* Old Firefox */
	-moz-border-radius: 5px;
	/* Circle */
	height: 15px; 
	width: 15px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	zoom: 1;
	filter: alpha(opacity=.65);
	opacity: .65;	
}

/* replaces from themes.gif to an updated version of the arrows in png format */
.callbacks_nav {
/* background-image:  url('/assets/img/themes.png') !important; */
border-bottom: none !important;
}

ul.callbacks_tabs li.callbacks_here a {
	background-color: #8dc540;
}

/* -------------------------------------------- FEATURED SLIDER ------------------------------------------ */
/* --- END ------------------------------------------ */

/* -------------------------------------------- PRODUCER SLIDER ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */

/* Header Title for the producer slider area */
.categoryHeader {
	font-size: 28px;
	color: #8dc63f !important;
	letter-spacing: 1px !important;
	border-bottom: 1px solid #CCC;
	padding: 15px 0 10px 0px;
	margin: 0 0 10px 0;
	clear: both;
}
.categoryHeader > a {
	color: #8dc63f !important;
}
.categoryHeader > span
{
	 float:right;
}
.categoryHeader > span > a
{
	margin-left:20px;
	display:inline-block;
	height:20px;
}
.categoryHeader > span > .a_upcoming {
	width:103px;
}
.categoryHeader > span > .a_upcoming, .categoryHeader > span > .a_upcoming.a_inactive:hover {
	background:url('/assets/img/Upcoming-Active.png') 0 0 no-repeat scroll;
}
.categoryHeader > span > .a_upcoming.a_inactive {
	background:url('/assets/img/Upcoming-Inactive.png') 0 0 no-repeat scroll;
}
.categoryHeader > span > .a_ondemand {
	width:118px;
}
.categoryHeader > span > .a_ondemand, .categoryHeader > span > .a_ondemand.a_inactive:hover {
	background:url('/assets/img/OnDemand-Active.png') 0 0 no-repeat scroll;
}
.categoryHeader > span > .a_ondemand.a_inactive {
	background:url('/assets/img/OnDemand-Inactive.png') 0 0 no-repeat scroll;
}
.categoryHeader > span > .a_channels {
	width:100px;
}
.categoryHeader > span > .a_channels, .categoryHeader > span > .a_channels.a_inactive:hover {
	background:url('/assets/img/Channels-Active.png') 0 0 no-repeat scroll;
}
.categoryHeader > span > .a_channels.a_inactive {
	width:100px;
	background:url('/assets/img/Channels-Inactive.png') 0 0 no-repeat scroll;
}
.jcarousel_wrapper {
	position:relative;
	max-width:1170px;
	margin: 0 auto;
}
.jcarousel {
    position:relative;
    overflow:hidden;
    max-width:1170px;
	height:219px;
}
.jcarousel ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
	width:20000em;
}
.jcarousel li {
    float: left;
	max-width:363px;
	margin-right:23px;
	margin-bottom:13px;
}
.ul_inactive {
	display:none;
}
.jcarousel-prev, .jcarousel-next {
	width: 19px;
	height: 41px;
	font-size: 0;
	line-height: 0;	
	text-indent: -4000px; 
	position: absolute; 
	top: 84px; 
	cursor: pointer;
}
.jcarousel-prev {
	background: url('/assets/img/slide-arrow.png') no-repeat 0 0;
	left:-36px;
}
.jcarousel-next { 
	background: url('/assets/img/slide-arrow.png') no-repeat -19px 0; 
	right: -36px; 
}

#home-small-slider { clear: both; width: 960px; position: relative; padding: 20px 0 0 0; margin:0 auto;}
#home-small-slider h4 { font-size: 25px; line-height: 26px; color: #0076c0; font-family: arial, sans-serif;  font-weight: normal; padding-bottom: 25px; }
#home-small-slider ul { height: 125px; width: 960; }
#home-small-slider ul li { float: left; list-style: none; width: 200px; height: 125px; padding: 0 30px; }
#home-small-slider .jcarousel-clip { width: 960px; height: 125px; position: relative; overflow: hidden; }

/* hides half of the image and only shows the top */
a.prodImage {
	width: 200px;
	height: 75px;
	float: left;
	overflow: hidden;
}

/* on hover the image is shifted to show the bottom hald of the image. */
a.prodImage:hover img {
	position: relative;
	bottom: 75px;
}

/* -------------------------------------------- PRODUCER SLIDER ------------------------------------------ */
/* ---- END ------------------------------------------ */


/* -------------------------------------------- THUMBNAILS ------------------------------------------ */
/* ---------------------------------------------------- START ------------------------------------------ */

.eventBox {
	width: 31%;
	max-width: 31%;
	height: 100%;
	max-height: 222px !important;
	overflow: hidden !important;
	margin: 0 2% 2% 0;
	float: left;
	overflow: hidden !important;
	background-color: #000;
	box-shadow:3px 3px 3px #999999;
}

.producerFeed .eventBox {
	max-width: 363px;
	width: 363px;
}

/* FF issue causeed me to go with a hard height instead of 100%. That is where we were originally. Therefore max-height is not needed. */
.eventImage {
	width: 100%;
	height: 222px;
	max-width: 393px;
	/* max-height: 222px !important; */
	overflow: hidden !important;
}
 
.jcarousel .eventImage, .producerFeed .eventImage {
	height: 206px;
}

.timely .btn-mini {
margin-top: 10px;
}

.eventDetails {
	position: absolute;
	bottom: 0;
	background: transparent url('/assets/img/1x1-70-opac-black.png') 0 0 !important;
	height: 60px;
	padding: 10px 2%;
	overflow: hidden;
	width: 96%;
}

.eventTitle {
	color: #8dc540;
	font-size: 1.6em !important;
	font-weight: lighter !important;
	float: left;
	clear: both;
	padding: 0 0 3px 0;
	height: 19px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
}

div.widget-inner h3 {
	color: #8dc540;
	font-size: 1.6em !important;
	font-weight: lighter !important;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

span.signupBtn {
	float: left;
	clear: both;
	color: #FFF;
	font-size: 0.9em;
	line-height: 1.2em;
}

span.eventTime {
	float: left;
	clear: both;
	color: #FFF;
	font-size: 1em;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #333;
	padding-bottom: 2px;
	margin-bottom: 2px;
}

/* pure CSS rollover code */

.ro-info{
position:relative; /*this is the key*/
z-index:1;
color:#000;
text-decoration:none;
position: relative;
}

.ro-info:hover{z-index:2;}

.ro-info .ro-on{display: none}

.no-touch .ro-info:hover .ro-on{ /*the span will display just on :hover state*/
display:block;
position:absolute;
top:0;
left:0;
width:100%;
height: 100%;
max-height: 222px !important;
overflow: auto;
background-color:#8ec63f;
color:#000;
text-align: left;
text-decoration: none;
}

.eventHeaderOL {
	background-color: #222;
	height: auto;
	width: 96%;
	padding: 2%;
	float: left;
	clear:both;
}

.eventTitleOL {
	color: #8dc63f !important;
	font-size: 18px !important;
	font-weight: lighter !important;
	text-shadow: 1px 1px 5px #444;
	height: 20px;
	width: 100%;
	overflow: hidden;
	float: left;
	clear: both;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.eventTitleOL a {
	color: #FFF !important;
}

.eventTitleOL a:hover {
	color: #8dc63f !important;
}

.eventDetailsOL {
	padding: 2%;
}


.eventContentOL {
	color: #FFF;
	float: left;
	font-weight: lighter !important;
	line-height: 1.2em !important;
	padding: 2% 0;
}

.signupOL {
	font-size: 1.2em;
	font-weight: lighter !important;
	padding: 1% 4%;
	float: right;
	color: #fff;
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-bottom: 0 !important;
}

.signupOL:hover {
	background-color: #222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	text-decoration: none;
}

.eventRegistrationOL {
	width: 30%;
	float: left;
	padding: 2% 0 2% 2%;
}

.eventProducerOL {
	width: 220px;
	height: 140px;
	float: left;
	padding: 5px 10px;
}



.eventTitleOL a:hover {
	text-decoration: none !important;
	color: #FFF !important;
}

.eventContentOL {
	float: left;
	clear: both;
	color: #EDEDED;
	padding: 10px 0;
	line-height: 1.4em;
}

.sublineOL {
	color: #8dc63f !important;
	float: left;
	clear: both;
	font-size: 1em;
	font-weight: lighter !important;
	text-transform: uppercase;
	text-shadow: none;
}

.producerLogoOL {
	width: 75px;
	float: left;
	clear: both;
	margin: 0 5px 0 0;
}

.producerContentOL {
	float: left;
	width: 140px;
	color: #FFF;
	font-size: 10px;
	line-height: 1.2em;
}


/* -------------------------------------------- THUMBNAILS ------------------------------------------ */
/* ---- END ------------------------------------------ */


/* -------------------------------------------- AIO Widget Sidebar Styles ------------------------------------------ */
/* ---- START ------------------------------------------ */

.widget_ai1ec_agenda_widget {
position: relative;
z-index: 1;
}

.ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today {
	background: none;
}

.ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today {
border-top: none !important;
}


.ai1ec-agenda-widget-view .ai1ec-month {
	background: #8dc540;
}

.ai1ec-agenda-widget-view .ai1ec-event a {
color: #333;
}

.ai1ec-agenda-widget-view .ai1ec-event a:hover {
color: #8dc540;
}

.ai1ec-agenda-widget-view .ai1ec-date-title {
color: #666;
}

/* -------------------------------------------- AIO Cal Styles ------------------------------------------ */
/* ---- END ------------------------------------------ */


/* footer */

footer {
	background-color: #bfbfc1;
	color: #666;
	width: 100%;
	position: relative;
	padding: 0 30px 0 0 !important;
	margin: 0 !important;
}

.textwidget {
	text-align: center;
}

.widget_nav_menu ul {
	padding: 0;
}

.widget_nav_menu li {
	list-style: none;
	float: left;
	color: #666;
	padding: 0 10px 0 0;
}

.widget_nav_menu a {
	color: #666;
}

.widget_nav_menu a:hover {
	text-decoration: none;
	color: #999;
}

#menu-footer-right-menu {
	float: right;
}

/* ------------------------------------------ PRODUCER PAGE TEMPLATE STYLES ------------------------------------------ */
/* ------------------------------------------------ START ------------------------------------------ */

.chan-link {
	color: #8dc540 !important;
	font-size: 1.4em;
	font-weight: lighter;
	padding: 5px 15px 5px 5px;
	margin-right: 5px;
	border-right: 1px #8dc540 solid;
	border: 0!important;
}

.chan-link:hover {
	color: #333 !important;
}

.chan-link:last-child {
	border-right: none;	
}

.chan-menu {
	width: auto;
	padding: 10px;
	margin: 10px auto;
	text-align: center;
	
}

.producerLogo {
	width: 33%;
	height: auto;
	padding: 8px;
	border: 1px solid #EDEDED;
	-moz-box-shadow:    3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow:         3px 3px 3px #999;
	float: left;
	clear: both;
}

.channelLogo {
	border: 1px solid #EDEDED;
	-moz-box-shadow:    3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow:         3px 3px 3px #999;
}

.producerText {
	font-size: 24px;
	color: #8dc63f !important;
	font-weight: lighter !important;
	text-transform: uppercase;
	letter-spacing: 2px !important;
}

.producerContent {
	float: left;
	width: 60%;
	padding: 0 0 0 20px;
	font-size: 1.4em;
	line-height: 1.4em;
	color: #999;
	font-weight: lighter;
}

.producerContent h3 {
	font-size: 1.8em;
	color: #8dc63f !important;
	font-weight: lighter !important;
	padding: 0 !important;
	margin: 0 !important;
}


.producerContent p {
	font-size: .8em !important;
}

.subscribeButton {
	color: white !important;
	background: #8dc540;
	font-size: .9em;
	padding: .5em 5em;
	margin: .5em .5em .5em 0;
	display: inline-block;
	border-radius: 5px;
}

.subscribeButton:hover {
	color: #ddd;
}
.subscribeButton.disabled:hover {
	color: white;
	cursor: default;
}

.subscribeOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #666;
	background: rgba(0,0,0,.5);
	z-index: 2000;
	display: none;
}

.subscribeContent{
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -25%;
	background: white;
	padding: 30px;
	border: solid 1px #888;
	border-radius: 8px;
	font-size: .65em;
}

.subscribeContent p {
	border-top: solid 1px #eee;
	padding-top: 1.5em;
	margin-top: 1.5em;
	font-size: 1em!important;
}

.subscribeContent a {
	color: #6da530;
}

.subscribeContent a.btn-success {
	color: white;
}

.subscribeContent textarea {
	width: 95%;
}

.subscribeContent input {
	margin: 0 .4em 0;
}

.subscribeConfirm, .subscribeCancel {
	display: inline-block;
	float: right;
	padding: .5em 1em;
	background: #8dc540;
	color: white!important;
	border-radius: 5px;
}
.subscribeCancel {
	margin-right: 10px;
}

.producerLocation {
	font-size: 1em;
	color: #8dc63f !important;
	font-weight: lighter !important;
	padding: 0 0 5px 0;
	margin: 0;
	float: left;
	clear: both;
	width: 100%;
}

.producerSocial {
	float: right;
}

.socLook img {
	width: 24px;
}

.producerContainer {
	border-bottom: 1px solid #EDEDED;
	float: left;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.channel-terms {
    height: 120px;
    width: 100%;
    border: solid 1px #bbb;
    overflow: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0.6em;
	font: 0.9em Trebuchet MS,sans-serif;
	color: #888;
}

.channel-terms p {
	border: none;
	padding-top: 0;
	margin-top: 0; 
}

/* ------------------------------------- CHANNELS MASTER INDEX TEMPLATE STYLES --------------------------------------- */

.channels-list {
	width: 1170px;
	margin: 0 auto;
}

.channels-list .ro-info {
	height: 180px;	
	width: 320px;
	float: left;
	margin: 0 40px 20px 0;
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
}

.channels-list img {
	max-width: 320px;
	max-height: 180px;	
	border: 0;
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
	display: block;
	margin: 0 auto;
}

.channel-letter:target {
	padding-top: 85px; /* 79 (.navbar-fixed-top height) + 6 */
}

body.admin-bar .channel-letter:target {
	padding-top: 113px; /* 79 + 28 (#wpadminbar height) + 6 */
}

.channel-letter {
	position: relative;
	padding: 70px 45px 30px;
	margin: 0 0 1em;
}

.channel-letter:before {
	content: attr(data-letter);
	color: #8dc540;
	font-size: 2.4em;
	display: block;
	z-index: 1;
	margin-bottom: 1em;
}

.channel-letter.even:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 300%;
	height: 100%;
	background: #eee;
	z-index: -1;
}

.channel-letter.even {
	background: #eee;
}

.channel-thumb {
	width: 320px;
	float: left;
	margin: 0 0 40px 55px;
	text-align: center;
	background: white;
	box-shadow: 1px 1px 3px #aaa;
}

.channel-thumb a strong {
	display: block;
	font-size: 2em;
	padding: 40px 0;
	color: #77a530;
}

.channel-thumb.first {
	clear: left;
	margin-left: 0;
}

.channel-thumb img {
	max-width: 100%;
	height: auto;
}

/* ----- END ------------------------------------------ */

/* ------------------------------------------ PRODUCER PAGE TEMPLATE STYLES ------------------------------------------ */
/* ----- END ------------------------------------------ */

/* ------------------------------------------ EVENT PAGE STYLES ------------------------------------------ */
/* ------------------------------------------------ START ------------------------------------------ */

.event-detail {
	padding: 0 0 15px 0;
	float: left;
	clear: both;
	width: 100%;
	font-size: 1.4em;
	line-height: 1.4em;
	color: #999;
	font-weight: lighter;
}

.event-detail a {
	color: #999;
}

.event-detail a:hover {
	 color: #8dc540;
}

.ed-left {
	width: 18%;
	float: left;
	text-align: right;
	padding: 0 1%;
}

.ed-right {
	width: 78%;
	padding-right: 2%;
	float: left;
	text-align: left;
}

a.ed-links {
	float: left;
	clear: both;
}

.event-titles-left {
	 color: #8dc540;
}

#right-event .event-sidebar .cf-sb {
	position: relative;
	top: 150px;
}

.event-terms {
    height: 120px;
    width: 298px;
    border: solid 1px #bbb;
    overflow: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font: 0.9em Trebuchet MS,sans-serif;
    color: #888;
    margin-bottom: 2em;
    padding: 0.6em;
    position: relative;
    bottom: 40px;
}

.single-ai1ec_event article header {
	border-bottom: 1px solid #ededed;
	float: left;
	clear: both;
	padding-bottom: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.producerFeed {
	clear: both;
}

#audio-left {
	border-top: 1px solid #ededed;
	padding-top: 2%;
	float: left;
	width: 100%;
}

.audio-container {
	margin-bottom: 10px;
}

.audio-player {
	clear: both;
	width: 400px;
}

.transcript-link {
	color: #333;
}

#transcript-content {
	height: 50px;
	color: #999;
	font-size: 1.0em;
	line-height: 1.2em;
	font-weight: lighter;
	padding-right: 15px;
	margin-top: 15px;
	overflow-y: scroll;
}

#audio-left .eventHeader {
	color: #666 !important;
	font-weight: lighter !important;
	padding: 0 !important;
	margin: 0 !important;
}

.event-sidebar {
	padding: 0 0 20px 0 !important;
}

.event-image {
	width: 35%;
	height: auto;
	float: left;
	margin-right: 1%;
}

/* makes it so the image in the even header will stick to the bottom of the container if the height does not fill out the box */
#header-container .event-image {
	position: absolute;
	bottom: 0;
}

#event-header-right {
	float: left;
	width: 64%;
	position: absolute;
	right: 0;
	bottom: 0;
  }
  
.share-event {
	position: absolute;
	right: 0;
	top: 0 !important;
}

#event-header-right .timely {
	float: left;
	clear: both;
}

#event-header-right .entry-title {
	float: left;
	clear: both;
	padding: 10px 0 0 10px;
	margin: 0;
	font-weight: lighter;
	font-size: 3.5em;
}

.audio-process {
	text-align: center !important;
	font-size: 1em;
	padding: 10px 0 20px 0;
}

.single-ai1ec_event #left-event {
	margin-bottom: 20px;
}

.entry-title, h4.entry-title {
	color: #8dc540 !important;
	font-weight: lighter !important;
	font-size: 2em;
	position: relative !important;
	bottom: 0 !important;
}

.similar-interest-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sim-content {
	font-size: .8em;
	line-height: 1.2em !important;
	display: block;
	color: #999;
	height: auto;
	overflow: hidden;
	padding: 2px 5px;
}

.sim-link {
	color: #8dc540;

}

.sim-link:hover {
	color: #FFF;
	text-decoration: none;
}

.floatright {
	float: right;
	margin-right: 10px;
}

.sim-container {
	background-color: #EDEDED;
	height: auto;
	float: left;
	margin-bottom: 10px;
}

.sim-image {
	float: left;
	margin-bottom: 1px;
	width: 100%;
}

.sim-int {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #EDEDED;
	float: left;
	width: 100%;
}

#sign-in-up {
	color: #EDEDED !important;
	font-weight: lighter;
	font-size: .7em;
	float: right;
	margin: 5px 0 0 0;

}

#sign-in-up a {
	color: #EDEDED !important;
}

#sign-in-up a:hover {
	color: #8dc540 !important;
}

#event-image-container {
	width: 35%;
	height: auto;
	float: left;
	margin-right: 1%;
}

/* sidebar form */


ol.cf-ol {
	border-top: none !important;
}

.cform {
	padding: 0 !important;
	margin: 0 0 40px 0 !important;
}	

.cform legend {
	color: #8dc540 !important;
	font-weight: lighter !important;
	font-size: 2em !important;
	letter-spacing: -1px !important;
	padding: 0 0 5px 0 !important;
	max-width: 350px;
}

.cform li label {
	color: #8dc540 !important;
	font-weight: lighter !important;
	font-size: 1em !important;
	float: left;
	clear: both;
	padding: 5px 0 0 0;
}

.cform li input, .sendbutton {
	float: left;
	clear: both;
	padding: 5px 8px;
	font-weight: lighter !important;
}

.textonly {
float: left;
clear: both;
color: #999 !important;
font-weight: lighter !important;
font-size: .8em !important;
letter-spacing: 0 !important;
text-align: left !important;
/* GMG (AL) - sorry, not sure what this is for, but it
messes up the text wrapping on the event sign-up form
----
width: 50% !important;
----
*/
margin: 0 !important;
padding: 0 !important;
}

 .reqtxt, .emailreqtxt {
float: left;
clear: both;
padding: 0;
margin: 0 !important;
display: inline !important;
vertical-align: bottom !important;
color: #aaa !important;
font-size: 0.7em !important;
line-height: 1.2em !important;
}

div.cf_info {
	max-width: 295px !important;
	float: left !important;
	clear: both !important;
}

div.cf_info.failure {
	display: none;
}

div#usermessageb.cf_info.waiting {
	position: relative;
	top: 130px;
}

div#usermessageb.cf_info.waiting + .event-terms {
	bottom: 96px;
}

div.cf_info.success + .event-terms {
	display: none;
}

ol.cf-ol li.cf_li_err {
float: left !important;
}

/* ------------------------------------------ Event Page Styles End ------------------------------------------ */
/* END SECTION ------------------------------------------ */


/* ------------------------------------------ Profile Page Styles ------------------------------------------ */
/* -------------------------------------------- START ------------------------------------------ */

/* small description or messahe that is on the Profile page. Anything with the following class will gather this style... */
.um_description {
	font-size: 0.8em !important;
	font-style: italic;
}

/* Styles for the label headings and interior text within the field */
.pf_label {
	font-size: 1.2em !important;
	color: #666;
	font-weight: lighter;
}

.um_input {
	font-size: 1em !important;
	color: #999 !important;
	font-weight: lighter;
}

.customProfileSettings {
	margin-bottom: 2em;
	/*border-bottom: solid 1px #ddd;*/
}

.customProfileSettings h4 {
	margin: 1.5em 0 1em;
	padding: 0.5em 0;
	border-bottom: solid 1px #ddd;
}

.customProfileSettings p {
	color: #333!important;
}

.customProfileSettings input[type=checkbox]{
	margin: -2px 0 0;
}

.customProfileSettings label {
	font-size: smaller;
	display: inline-block;
	margin: 6px;
}

.customProfileSettings .btn {
	margin-left: 2em;
}

.customProfileSettings #delete_account {
	margin-left: 85px;
	margin-bottom: -99px;
}

/* ------------------------------------------ Jetpack Sharing Styles (sharedaddy) ------------------------------------------ */
/* -------------------------------------------- START ------------------------------------------ */

h3.sd-title {
	display: none;
}

div.sharedaddy .sd-content {
width: 100% !important;
float: none !important;
}

div.sharedaddy div.sd-block {
border: none !important;
}

/* ----- Sharing Button styles ----- */
/* ----- END SECTION ----- */

/* Responsive iPad adjustments */

@media (min-width: 0px) {
	[class*="span"] {
		margin-left: 0 !important;
	}
	body {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.container {
		width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
	}

}


@media (max-width: 1200px){
	.page-header, .inner-wrap {
		padding: 0 12px; 
	}
}


@media (max-width: 979px) {

	#megaMenu.megaMenuHorizontal ul.megaMenu > li.ss-nav-menu-mega > ul.sub-menu-1, #megaMenu.megaMenuHorizontal ul.megaMenu li.ss-nav-menu-reg > ul.sub-menu {
		/*left: -360px !important;*/
	}
	
	.browse-btn {
		padding-top: 75px;
	}

	.featured-slider {
		position: relative;
		top: -20px;
		margin-bottom: -20px;
	}
	
	.home .navbar {
		top: 0;
		width: 100%;
		background-color: #5f6062 !important;
	}
	
	#search-container {
		position: absolute;
		top: 0;
	}

	#sign-in-up {
		position: relative;
		top: -25px;
	}

	.eventBox {
		height: auto;
	}
	
	span.eventTime {
    font-size: .9em;
    line-height: 1.1em;
    width: 100%;
	}

	/*  controls the offset of the header navigation and main content area */
	#contentarea {
		position: relative;
		top: -15px;
		margin-bottom: -15px;
	}
	
	
	/* DELETE ON CLEANUP */
	
	/* audio player */
	/*
	.audio-player {
		width: 300px !important;
	}
	
	.mejs-container {
		width: 300px !important;
	}
	
	.mejs-controls div.mejs-time-rail {
		width: 110px !important;
	}
	
	.mejs-controls .mejs-time-rail span {
		width: 100px !important;
	}
	
	.mejs-controls .mejs-time-rail .mejs-time-float-corner {
		top: 15px !important;
		left: 15px !important;
		width: 0 !important;
	}
	*/
}

@media (max-width: 767px) {
	.container {
		width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	.categoryHeader > span
	{
		float:none;
	}
	.jcarousel-prev, .jcarousel-next {	
		display:none !important;
	}
	/*
	.jcarousel_wrapper {
		max-width:398px;
		margin-left:50px;
	}
	.jcarousel {
		width:398px;
	}
	*/
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	.navbar {
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	.jcarousel_wrapper {
		max-width:784px;
	}
	.jcarousel {
		width:784px;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	.categoryHeader > span
	{
		 float:none;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* --- SIGN UP FORM, tell a friend, etc. STYLES --- START ------------------------------------------ */

.new-fb-btn, .new-twitter-btn, .user-field-first, .user-field-last, .user-field-email, .user-field-password, .user-field-age, .user-field-phone {
	float: left;
	margin-left: 20px;
}

.new-fb-tn, .new-twitter-btn {
	margin-bottom: 20px;
}

.user-field-first {
	clear: both;
}

.um_field_container label, .um_field_container input, .um_description {
	float: left;
	clear: both;
}

#um_field_24_user_signup_description {
	float: left;
	clear: both;
	position: relative;
	top: -35px !important;
	left: -20px;
}

.wpcf7-form > p {
	/*
	float: left;
	margin-left: 20px;
	font-size: .8em !important;
	width: 320px;
	*/
}

.wpcf7-form > p > span > input, .wpcf7-form > p > span > textarea {
	/*
	float: left;
	clear: both;
	*/
	width: 300px !important;
}


#um_form_user_signup {
	float: left;
	clear: both;
}

#um_form_user_signup label {
	font-size: .8em;
	padding: 0;
	margin: 0;
}

.um_input {
width: 300px !important;
}

.um_left_margin {
margin-left: 0px;
}

.user-field-email, .user-field-age {
	clear: both;
}

.user-field-email label, .user-field-password label {
	clear: both;
}

.user-field-email input {
	clear: both;
	width: 635px !important;
}

.user-field-password {
	float: left;
	clear: both;
	width: 100%;
	height: 70px;
	overflow: hidden;
}

.user-field-password input {
	float: left;
	clear: both;
}

.user-field-password p {
	float: left;
	margin-left: 20px;
	position: relative;
	top: -20px;
}

.user-field-phone .um_left_margin {
margin-left: 0 !important;
}

#um_form_user_signup #insert_user, .wpcf7-submit, .um_lostpass_button, .confirm-btn {
	float: left;
	clear: both;
	margin-left: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	padding: 5px 10px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


#um_form_user_signup #insert_user:hover !important, .wpcf7-submit, .um_lostpass_button, .confirm-btn  {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.page-template-page-signup-php .formError {
	cursor: default;
	margin-left: -170px; 
}
.page-template-page-signup-php .formErrorContent {
	width: 190px !important;
}

html.lightboxed {
	width:799px !important;
	min-width: 0;
	overflow-x: hidden;
}

html.lightboxed body {
	min-width: 0;
}

.signup-header {
	background: transparent url('/assets/img/bn-texture.jpg') repeat 0 0 !important;
	width: 100% !important;
	height: auto;
	float: left;
	color: #FFF;
	margin-bottom: 20px;
	padding-bottom: 1px;
}

.signup-header a {
	overflow: hidden;
	border: 0!important;
}

.signup-logo {
	width: 275px;
	margin-left: 20px;
	margin-top: 25px;
}

.sup-title {
	font-size: 1.2em;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.sup-content {
	margin-top: 20px;
	margin-left: 50px;
}

.sup-content p {
	color: #FFF !important;
	padding: 0;
}

.sup-text-area {
	width: 300px !important;
	margin-left: 20px;
	font-size: .75em;
	line-height: 1.4em;
}

#um_form_user_signup a {
	color: #8dc540;	
}

#um_form_user_signup a:hover {
	color: #999;	
}

.sup-term-policy {
	/*position: relative;
	top: -50px;*/
	float: left;
	clear: both;
}

.sup-term-policy .member-terms {
    margin-left: 20px;
    font-size: 0.8em;
}

.member-terms {
	height: 12em;
	width: 634px;
    border: solid 1px #bbb;
    overflow: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font: 1.25em Trebuchet MS,sans-serif;
    color: #888;
    padding: 0.6em;
    margin-bottom: 1em;
}

.member-terms p {
	border: 0;
	margin: 0 0 10px;
	padding: 0;
}

#insert_user {
	/*position: relative;
	top: 115px;*/
}

.wpcf7-form p .wpcf7-submit  {
	position: relative;
	left: -20px;
}

.sup-link-left {
	position: relative;
	left: 20px;
}


/* --- SIGN UP FORM, tell a friend, etc. STYLES --- END ------------------------------------------ */

.hashtag {
	padding-right: 10px;
	color: #8dc540;
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: lighter;
}

/* Password Page */

.um_lostpass_form {
	width: 1170px;
	margin: 0 auto;
	height: 700px;
}

.um_lostpass_button {
	margin-left: 0;
}

/* --- OTHER --- */
.cform label span 
{
	width: 250px !important;
}

.welcome-new-user, .log-in {
	background: transparent url('/assets/img/bn-texture.jpg') repeat 0 0 !important;
	width: 100% !important;
	height: 100% !important;
	color: #FFF;
}

.welcome-new-user p {
	color: #EDEDED !important;
}

.welcome-logo {
	margin-bottom: 40px;
}

.welcome-new-user h3, .welcome-new-user h1 {
	font-weight: lighter !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.thin-line {
	border-bottom: 1px solid #FFF;
	height: 20px;
	width: 230px;
	margin: 0 20px;
}

.tl-container {
	float: left;
	position: relative;
	left: 20px;
}

.new-fb-default-anim {
	float: left;
}

.log-in .log-in-container {
	background-color: #FFF;
	padding: 20px;
	width: 455px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	height: 320px;
	color: #666;
	margin: 0 auto;
}

.log-in a {
	border-bottom: 0 !important;
	color: #8DC540 !important;
}

.log-in .inner-wrap a {
	color: #666;

}

.log-in .um_lostpass_form {
	height: auto !important;
}

.log-in .um_login_form {
	margin: 0 0 40px 0;
}

.log-in-user-meta {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	clear: both;
	float: left;
	padding: 10px 0;
	margin: 20px 0 10px 0;
	width: 100%;
}

.um_remember_field {
	margin: -2px 0 0 2px !important;
}

.um_remember_field + label {
	display: inline-block;
	margin: 0;
}

.pf_error {
float: left;
clear: both;
width: 100%;
}

/* Profile Page styles */

.page-template-page-profile-php .um_field_container, .page-template-page-profile-php .um_field_container input, .page-template-page-profile-php .um_field_container label, .page-template-page-profile-php .um_field_container select, .page-template-page-profile-php .um_group_segment h4, .page-template-page-profile-php .user-field-genres  {
	float: left;
	clear: both;
	margin-left: 0;
}

.page-template-page-profile-php .user-field-genres input {
	clear: none;
	float: right;
	position: relative;
	top: 25px;
	left: -50px;
}

 
.page-template-page-profile-php .user-field-genres label {
	clear: both;
	float: left;
	
}

input[type=checkbox]{width:auto!important; }

.page-template-page-profile-php #um_form_user_profile {
	float: left;
}

.page-template-page-profile-php .new-fb-btn, .page-template-page-profile-php .new-twitter-btn {
	float: left;
	clear: both;
}

.page-template-page-profile-php .formError {
	cursor: default !important;
}

.page-template-page-profile-php label[for*=user_profile_retype] {
	margin-top: -5px; 
}

.page-template-page-profile-php label[for=um_field_27_user_profile_0] {
	clear: none !important;
	margin-left: .6em;
}
	
.page-template-page-profile-php .unsubscribeButton, .page-template-page-profile-php .unregisterButton {
	font-size: smaller;
	margin: 0 .4em;
}

/* Clean-up Styles */

.pager a, a.fn {
	color: #999;
}