/*!CK:408354852!*//*1398592830,178187583*/

.sp_7b3ccs{background-image:url(/rsrc.php/v2/yi/r/wbFOE4vSl56.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:99px;width:124px}.sp_7b3ccs.sx_92ef61{width:16px;height:16px;background-position:-35px -100px}.sp_7b3ccs.sx_28941a{width:34px;height:34px;background-position:0 -100px}.sp_7b3ccs.sx_ebda36{background-position:0 0}

#bootloader_u4_zn { height: 42px; }
.bootloader_u4_zn { display:block !important; }