/*!CK:68646608!*//*1398046922,178158613*/

._5vb_ #pagelet_pinned_nav .sideNavItem ._26tg,._5vb_ #pagelet_bookmark_nav .sideNavItem ._26tg{margin-top:3px;visibility:hidden}._5vb_ #pagelet_pinned_nav .sideNavItem:hover ._26tg,._5vb_ #pagelet_bookmark_nav .sideNavItem:hover ._26tg,._5vb_ #pagelet_pinned_nav .sideNavItem .openToggler ._26tg,._5vb_ #pagelet_bookmark_nav .sideNavItem .openToggler ._26tg{visibility:visible}._5vb_ #contentArea ._26tg{float:right;margin-left:10px;margin-right:0}

#bootloader_bWkRu { height: 42px; }
.bootloader_bWkRu { display:block !important; }