/* Reset Defaults */
* {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
ul,
ol {
	margin: 0 0 0 20px;
}
a:focus {
    outline: none; /* FF Fix. */
    noFocusLine: expression(this.onFocus=this.blur()); /* IE Fix. */
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
}