.page-header {
	background-color: #fff;
	margin-bottom: 0px;
}
.page-header .inner {
	width: 100%;
	max-width: 1088px;
	margin: 0 auto;
	padding: 0 24px;	
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}	
	
.page-header .inner .logo{
	background-image: url("babble_horizontal_logo.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 88px;
	overflow: hidden;
	padding: 0;
	text-indent: 100%;
	vertical-align: top;
	white-space: nowrap;
	width: 20%;
}

.page-header .inner .nav{
	display: inline-block;
	vertical-align: top;
	width: 80%;
	height: 40px;
	margin-top: 22px;
	padding-left: 24px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.page-header .inner .nav .menu {
	padding: 0;
	position: relative;
	margin: 0;
	white-space: nowrap;
	font-size: 0;
}
.page-header .inner .nav .menu .menu-item {
	display: inline-block;
	vertical-align: top;
	padding: 12px 3.5%;
	position: relative;
	background-color: #fc0606;
}
.page-header .inner .nav .menu .menu-item a{
	width: auto;
	display: inline-block;
	max-width: 100%;
	text-transform: uppercase;
	font-weight: 600;
	border-left: none;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	color: #fff;
	text-align: center;
	font-size: .9rem;
	letter-spacing: 1;
}
.page-header .inner .nav .menu .menu-item a:hover{
	color: #fc0606;
}

.page-header .inner .nav .menu .menu-item .sub-menu{
	display: none;
	font-size: 0;
	white-space: normal;
	margin-top: -1px;
}
.page-header .inner .nav .menu .menu-item .sub-menu .menu-item{
	background-color: transparent;
}
.page-header .inner .nav .menu .menu-item:hover{
	background-color: #333;
	cursor: pointer;
}
.page-header .inner .nav .menu .menu-item:hover .sub-menu{
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 100;
	background-color: #333;
	padding: 8px 0 14px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	text-align: left;
	width: 200px;
}
.page-header .inner .nav .menu .menu-item:hover .sub-menu .menu-item {
	padding: 8px 13.5%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	display: block;
	font-weight: 400;
	text-align: left;
	font-size: 0.9em;
}
.page-header .inner .nav .menu .menu-item:hover .sub-menu .menu-item a {
	text-align: left;
}
.page-header .inner .nav .menu .menu-item:hover .sub-menu .menu-item a:hover{
	color: #fc0606;
}

@media screen and (max-width: 1024px){
	.page-header {
		height: auto;
	}
	.page-header .inner .logo{
		display: block;
		margin: 0 auto;
		width: 184px;
	}
	.page-header .inner .nav{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

@media screen and (max-width: 769px){
	.page-header {
		display: none;
	}
}