.contributors a {
	color: #333333;
}
.contributors a:hover{
	color: #fc0606; 
}
.contributors h2 {
	padding-bottom: 10px;
	font-size: 2.2em;
	font-weight: 600;
	border-bottom: 1px solid #DDDDDD;
	margin: 0 0 12px;
}

.contributors .contributor:nth-child(even){
	float: right;
	width: 50%;
	padding: 16px;
	margin-bottom: 16px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

}
.contributors .contributor:nth-child(odd){
	float: left;
	width: 50%;
	padding: 16px;
	margin-bottom: 16px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	clear: both;
}

.contributors .contributor img, .contributors .contributor .details { 
	display: inline-block;
	vertical-align: top;
}
.contributors .contributor img{
	width: 30%;
}
.contributors .contributor .details{
	width: 68%;
	padding-left: 12px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.contributors .contributor .details .name{
	display: block;
	font-size: 1.2em;
	font-weight: 600;
	margin:0 0 2px 0;
}
.contributors .contributor .details .category{
	font-size: 1em;
	margin:0 0 12px;
}
.contributors .contributor .details .date, .contributors .contributor .details .home{
	color: #666;
	margin:0 0 4px;
	font-size: 0.8em;
}

.contributors .pagination{
	font-size: 1em;
	margin: 32px 16px 24px;
	width: 100%;
}
.contributors .pagination a:hover{
	border-color: #fc0606;
	background-color: #fc0606;
	color: #fff !important;
}
.contributors .pagination .active{
	background-color: #fc0606;
	color: #fff;
}

.no-contributors {
	font-size: 2em;
	padding: 100px;
	text-align: center;
}


.contributors .pagination .top{
	margin-bottom: 24px;
}
.contributors .list{
	text-align: center;
}
.contributors .list	a{
	border: none;
	display: inline-block;
	padding: 7px;
	margin: 0 0 10px;
	font-size: 1.1em;

}
.contributors .select{
	display: none;
}
.contributors .select .choose, .contributors .select .go{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.contributors .select .choose{
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	width: 80px;
	margin-right: 8px;
	position: relative;
	padding: 3px 4px;
}
.contributors .select .choose select{
	font-size: 1.4em;
	width: 100%;
	border: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: window;
	outline: none;
}
.contributors .select .choose:after{
	content: "▼";
	position: absolute;
	top: 2px;
	right: 8px;
	font-size: 1em;
	line-height: 30px;
	color: #fc0606;
	pointer-events: none;
}

.contributors .select .go{
	padding: 8px 12px;
	background-color: #fc0606;
	color: #fff;
	position: relative;
	font-weight: 800;
	font-size: 1.4em;
}
.contributors .select .go input{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}




@media screen and (max-width: 520px){
	.contributors{
		margin: 0 0 32px;
		padding: 0;
	}
	.contributors h2{
		padding-bottom: 10px;
		font-size: 1.5em;
		font-weight: 600;
		border-bottom: 1px solid #f2f2f2;
		margin: 0 0 16px;
	}
	#blogs-container .contributors .contributor{
		float: none;
		width: 100%;
		padding: 0 0 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid #f2f2f2;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
	.contributors .contributor img, .contributors .contributor .details{
		display: inline-block;
		vertical-align: top;
	}
	.contributors .contributor img{
		width: 25%;
	}
	.contributors .contributor .details{
		width: 73%;
		padding-left: 12px;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
	.contributors .contributor .details .name{
		font-size: 1.1em;
		margin-bottom: 6px;
	}
	.contributors .contributor .details .category{
		font-size: 0.8em;
		margin-bottom: 6px;
	}
	.contributors .contributor .details .date, .contributors .contributor .details .home{
		margin:0 0 4px;
		font-size: 0.7em;
	}
	
	.contributors .pagination{
		font-size: 0.8em;
		margin: 32px 16px 24px;
	}
	.contributors .pagination .select{
		display: block;
		margin-bottom: 20px;
		text-align: center;
	}
	.contributors .pagination .list{
		display: none;
	}
}