.babyname-relationship-container li span{
	display: block;
	float: left;
}

.btn-delete-name{
	background: #eee;
	border-radius: 7px;
	display: block;
	float: left;
	font-size: 10px;
	line-height: 12px;
	margin: 3px 5px 0 0;
	text-align: center;
	width: 14px; height: 14px;
}

.btn-delete-name:link, .btn-delete-name:visited{
	text-decoration: none;
}

.babyname-list{
	border: 1px solid #ccc;
	height: 100px;
	margin:0 0 10px; padding: 10px;
	overflow: auto;
}

	.babyname-list ul{
		margin: 0;
	}

		.babyname-list ul li{
			cursor: pointer;
		}

		.babyname-list ul li.selected{
			background:#eee;
		}