/*** Template Standard ***/
.cycloneslider-template-standard{
	position:relative;
    margin-bottom: 30px;
	outline: none;
}
.cycloneslider-template-standard .cycloneslider-slides{
	position:relative;
	overflow:hidden;
}
.cycloneslider-template-standard .cycloneslider-slide{
	text-align: center;
	width: 100%; /* For slides in scrollHorz to work */
	display: none; /* Hide slides to prevent FOUC when JS hasn't kicked in yet */
	background: #fff; /* Add background to prevent slides from peeking behind the current slide when fx=scrollHorz and hideNonActive=false */
}
.cycloneslider-template-standard .cycle-slide{
	display: block; /* Show slide so that getBoundingClientRect().height will not return 0. Class .cycle-slide is added when cycle has initialized. */
}
.cycloneslider-template-standard div[data-cycle-hide-non-active="false"] .cycloneslider-slide{
	opacity: 0; /* Avoid youtube and vimeo or other slides from peeking behind the current slide whe in transit */
}
.cycloneslider-template-standard div[data-cycle-dynamic-height="off"] .cycloneslider-slide-image{
	height: 100%; /* To prevent cutting off captions when dynamic height is off */
}
.cycloneslider-template-standard .cycloneslider-slide:first-child, /* Show first slide */
.cycloneslider-template-standard .cycle-sentinel + .cycloneslider-slide{ /* Select next slide when using sentinel slide */
	display: block;
}
.cycloneslider-template-standard .cycloneslider-slide img{
	display:block;
	margin:0 auto;
	padding:0;
	max-width:100%;
	border:0;
}
.cycloneslider-template-standard.cycloneslider-width-full .cycloneslider-slide img{
	width:100%;
}
.cycloneslider-template-standard .cycloneslider-slide iframe, /* Make our videos fluid */
.cycloneslider-template-standard .cycloneslider-slide object,
.cycloneslider-template-standard .cycloneslider-slide embed {
	position: absolute;
	left: 0;
	top: 0;
    width: 100% !important; /* Override width attrib */
    height: 100% !important; /* Override height attrib */
}
.cycloneslider-template-standard .cycloneslider-slide-youtube,
.cycloneslider-template-standard .cycloneslider-slide-vimeo{
	background: #000;
}
.cycloneslider-template-standard .cycloneslider-slide-custom,
.cycloneslider-template-standard .cycloneslider-slide-testimonial{
	min-height: 100%;
}
.cycloneslider-template-standard div[data-cycle-dynamic-height="on"] .cycloneslider-slide-custom,
.cycloneslider-template-standard div[data-cycle-dynamic-height="on"] .cycle-sentinel + .cycloneslider-slide-testimonial{
	min-height: 100px; /* Disable 100% min height when dynamic height is on. To fix issue with scrollHorz */
}
.cycloneslider-template-standard .cycloneslider-slide-testimonial{
	font-style: italic;
}
.cycloneslider-template-standard .cycloneslider-slide-testimonial blockquote{
	margin-bottom: 0;
}
.cycloneslider-template-standard .cycloneslider-slide-testimonial p{
	margin: 0;
}
.cycloneslider-template-standard .cycloneslider-slide-testimonial .cycloneslider-testimonial-author{
	text-align: right;
	font-style: normal;
}
.rtl .cycloneslider-template-standard .cycloneslider-slide-testimonial .cycloneslider-testimonial-author{
	text-align: left;
}
.cycloneslider-template-standard .cycloneslider-slide-testimonial .cycloneslider-testimonial-author a{
	text-decoration: none;
}

/*** Prev/Next ***/
.cycloneslider-template-standard .cycloneslider-prev,
.cycloneslider-template-standard .cycloneslider-next,
.cycloneslider-template-standard .cycloneslider-pager span {
	cursor:pointer;
}
.cycloneslider-template-standard .cycloneslider-prev,
.cycloneslider-template-standard .cycloneslider-next{
    position:absolute;
    top:40%;
    z-index:501;
	display: block;
    margin-top:-12px;
    width: 40px;
    height: 80px;
    /*border-radius: 6px;*/
    background: #fefefe;
	/*opacity: 0.9;*/
	-webkit-transition: all 0.5s ;
	-moz-transition: all 0.5s ;
	-ms-transition: all 0.5s ;
	-o-transition: all 0.5s ;
	transition: all 0.5s ;
	/*-webkit-box-shadow: 1px 1px 2px 0px #333333;*/
    /*box-shadow: 1px 1px 2px 0px #333333;*/
}

.cycloneslider-template-standard:hover .cycloneslider-prev,
.cycloneslider-template-standard:hover .cycloneslider-next{
	/*opacity: 0.9;*/
}
.cycloneslider-template-standard .cycloneslider-prev .arrow:hover,
.cycloneslider-template-standard .cycloneslider-next .arrow:hover{
	/*opacity: 1;*/
    background-color: #f31820;
}
.cycloneslider-template-standard .cycloneslider-prev.disabled,
.cycloneslider-template-standard .cycloneslider-next.disabled{
	display: none;
}
.cycloneslider-template-standard .arrow{
    position: absolute;
}
.cycloneslider-template-standard .cycloneslider-prev{
    left:0px;
}
.rtl .cycloneslider-template-standard .cycloneslider-prev{
    left:auto;
	right:10px;
}
.cycloneslider-template-standard .cycloneslider-next{
    right:0px;
}
.rtl .cycloneslider-template-standard .cycloneslider-next{
    right:auto;
	left:10px;
}
.rtl .cycloneslider-template-standard .cycloneslider-next .arrow{
    margin-left: -4px;
	border: 0;
	border-top: 6px solid transparent;
	border-right: 6px solid #333;
	border-bottom: 6px solid transparent;
}

/*** Pager ***/
.cycloneslider-template-standard .cycloneslider-pager{
    position:absolute;
    bottom:-22px;
    left:0;
    z-index:100;
    width: 100%;
    height: 12px;
    text-align: center;
}
.cycloneslider-template-standard .cycloneslider-pager span {
    display: inline-block;
    margin: 0 3px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #333;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
	-webkit-box-shadow: 1px 1px 2px 0px #333333;
    box-shadow: 1px 1px 2px 0px #333333;
}
.ie7 .cycloneslider-template-standard .cycloneslider-pager span{
	zoom: 1;/* IE 7 inline-block */
	*display: inline;/* IE 7 inline-block */
}
.cycloneslider-template-standard .cycloneslider-pager span.cycle-pager-active {
    background-color: #ccc;
}

/*** Caption ***/
.cycloneslider-template-standard .cycloneslider-caption{
    /*position:absolute;*/
    bottom:0;
    left:0;
    z-index:500;
    width:100%;
    background: #222;
    color:#fff;
    opacity: 0.7;
	text-align: left;
}
.rtl .cycloneslider-template-standard .cycloneslider-caption{
	text-align: right;
}
.cycloneslider-template-standard .cycloneslider-caption-title{
    margin-bottom:0;
    padding:10px 20px 5px 20px;
    font-size:22px;
    line-height:1;
}
.cycloneslider-template-standard .cycloneslider-caption-description{
    padding:11px 20px 15px 0px;
    font-size:14px;
    line-height:1.4;
    border-top: 1px solid #eee;
}

/* overwrite*/
/*** Caption ***/
.slide-title{
    display: inline-block;

    color:#333333;
    font-weight: 600;
    font-size: 1.2em;
    float: left;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #eee;*/
}
.cycloneslider-template-standard .cycloneslider-caption{
    color:#333333;
    background: #ffffff;
    opacity: 1;
    line-height: 1.3em;
    font-size: 1.1em;
}
.cycloneslider-image-caption, .cycloneslider-image-caption:hover{
    text-align: center;
    display: block;
    font-size: 0.6em;
    color: #999;
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
}
.cycloneslider-image-caption:hover{
    text-decoration:none;
}
/* arrows for prev-next */
.photo-post {
    position: relative;
}
.photo-post .prev, .photo-post .next, .cycloneslider-prev,  .cycloneslider-next {
    cursor: pointer;
    position: absolute;
}
.photo-post .prev:hover span, .photo-post .next:hover span {
    background-color: #f31820;
}
.photo-post .prev span, .photo-post .next span, .cycloneslider-prev span,  .cycloneslider-next span {
    position: absolute;
    display: block;
    height: 80px;
    width: 40px;

    background-color: #d51f26;
}
.c-icon-insider .cycloneslider-next span, .c-icon-insider .cycloneslider-prev span{
    /* insider color */
    background-color: #0eb2ff;
}
.c-icon-insider .cycloneslider-template-standard .cycloneslider-prev .arrow:hover,
.c-icon-insider .cycloneslider-template-standard .cycloneslider-next .arrow:hover{
    /* insider color */
    background-color: #1fdfff;
}
.c-icon-disney-playlist .cycloneslider-next span, .c-icon-disney-playlist .cycloneslider-prev span {
    /* playlist color */
    background-color: #6402ce;
}
.c-icon-disney-playlist .cycloneslider-template-standard .cycloneslider-prev .arrow:hover,
.c-icon-disney-playlist .cycloneslider-template-standard .cycloneslider-next .arrow:hover{
    /* playlist color */
    background-color: #7623ce;
}
.c-icon-disney-style .cycloneslider-next span, .c-icon-disney-style .cycloneslider-prev span {
    /* style color */
    background-color: #73c8b5;
}
.c-icon-disney-style .cycloneslider-template-standard .cycloneslider-prev .arrow:hover,
.c-icon-disney-style .cycloneslider-template-standard .cycloneslider-next .arrow:hover{
    /* playlist color */
    background-color: #7fc8c1;
}
.photo-post .prev span, .cycloneslider-template-standard .cycloneslider-prev .arrow{
    background-image: url(images/photo_arrow_prev.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.photo-post .next, .cycloneslider-next {
    right: 0;
}
.photo-post .next span, .cycloneslider-template-standard .cycloneslider-next .arrow{
    right: 0;
    background-image: url(images/photo_arrow_next.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.slide-pagination{
    display: inline-block;
    float: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: #666;
    font-weight: 600;
}
.slide-photo-top{
    position: relative;
    /*border-bottom: 1px solid #eee;*/
    padding-bottom: 8px;
}
.slide-photo{
    border-top: 1px solid #eee;
    padding-top: 15px;
}
/* light box */
.slide-photo .slide-photo-inner {
    display: inline-block;
    position: relative;
}
.slide-pin{
    background: url(images/photo_share_pin.png) center center no-repeat;
}
.slide-fb{
    background: url(images/photo_share_fb.png) center center no-repeat;
}
.restart-bg{
    background: url(images/restart.gif) center center no-repeat;
    width: 28px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
}
.restart-gallery, .restart-gallery a, .restart-gallery a:hover, .restart-gallery a:visited{
    display: inline-block;
    color: #666666!important;
    font-size: 1.1em;
}

.slide-photo .slide-photo-inner .slide-photo-share {
    background-color: rgba(255, 255, 255, 0.7);
    width: 115px;
    /*FB-remove */
    height: 30px;
    position: absolute;
    z-index: 10;
    top: 12px;
    left: 12px;
    opacity: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: opacity 150ms ease-in-out;
    -moz-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
}
.slide-photo .slide-photo-inner .slide-photo-share a {
    display: block;
    padding: 4px 0;
    text-decoration: none;
}
.slide-photo .slide-photo-inner:hover .slide-photo-enlarge {
    opacity: 1;
    text-decoration: none;
}
.slide-photo .slide-photo-inner:hover .slide-photo-share {
    opacity: 1;
    text-decoration: none;
}
.fb-share-container, .pin-share-container{
    display: inline-block;
    vertical-align: bottom!important;
    line-height: 1em!important;
    height:20px!important;
}
.fb-share-container{
    /*display: none;*/
    padding-left: 3px;
}
.pin-share-container {
    /*FB-remove */
    padding-left: 0px;
}
.pin-share-container a {
    padding-top: 0!important;
}
.fb-share-button > span {
    vertical-align: baseline !important;
}
.cycloneslider-template-standard .cycloneslider-caption-description{
    font-size: 0.95em;
    margin-bottom: 1.125em;
    line-height: 1.3em;

}
.caption-plain:hover{
    text-decoration: none!important;
}
/* End Card Styles */
.ec-title {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
}
.ec-hrRule {
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    margin-top: 3px;
}
.ec-posts {
    width: 80%;
    margin: 0 auto;
    min-height: 200px;
}
.ec-caps {
    display: inline-block;
}
.ec-caps::first-letter {
    text-transform: uppercase;
}
.ec-posts .yarpp-thumbnails-horizontal .yarpp-thumbnail {
    display: block;
    float: left;
    height: 220px;
    width: 50%;
}
.ec-posts .yarpp-thumbnail:nth-child(1) .yarpp-image {
    margin-left: 10px;
}



a.cs-fb-share {
  display: block;
  position: relative;
  margin: 0 auto;
  color: #fff !important;
  text-shadow: 0 -1px 0 #354c8c;
  white-space: nowrap;
  font-weight: bold;
  line-height: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  background: #4c69ba;
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNjliYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNiNTVhMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c69ba), color-stop(100%, #3b55a0));
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, -moz-linear-gradient(top, #4c69ba, #3b55a0);
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, -webkit-linear-gradient(top, #4c69ba, #3b55a0);
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, linear-gradient(#4c69ba, #3b55a0);
  background-size: 14px 14px, 100% 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 55px;
  height: 20px;
  padding: 0 4px 0 18px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a.cs-fb-share:hover {
  text-decoration: none !important;

  
  background: #5b7bd5;
   background: url('images/FB-f-Logo__white_28.png') 3px 3px, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViN2JkNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ4NjRiMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b7bd5), color-stop(100%, #4864b1));
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, -moz-linear-gradient(top, #5b7bd5, #4864b1);
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, -webkit-linear-gradient(top, #5b7bd5, #4864b1);
  background: url('images/FB-f-Logo__white_28.png') 3px 3px no-repeat, linear-gradient(#5b7bd5, #4864b1);
  background-size: 14px 14px, 100% 100%;
}


/* fixed height */
.slide-photo-inner img {
    max-height: 450px!important;
}
/* firefox target rule */
@-moz-document url-prefix() {
    .slide-photo-inner img {
        width: 100%!important;
    }
}

@media screen and (max-width: 768px) {
    .slide-photo .slide-photo-inner .slide-photo-share {
        position: relative;
        /*bottom: -42px;*/
        height: 35px;
        top: auto;
        right: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        background-color: transparent;
    }
    .slide-photo-share a, .slide-photo-share .fb-share-button{
        display: inline-block;
        padding: 0 12px;
    }
}
@media screen and (max-width: 460px) {
    .cycloneslider-template-standard .cycloneslider-prev,
    .cycloneslider-template-standard .cycloneslider-next{
        position:absolute;
        top:2%;
        z-index:501;
        display: block;
        margin-top:-12px;
        width: 35px;
        height: 50px;
        /*border-radius: 6px;*/
        background: #fefefe;
        /*opacity: 0.9;*/
        -webkit-transition: all 0.5s ;
        -moz-transition: all 0.5s ;
        -ms-transition: all 0.5s ;
        -o-transition: all 0.5s ;
        transition: all 0.5s ;
    }
    .photo-post .prev span, .photo-post .next span, .cycloneslider-prev span,  .cycloneslider-next span {
        height: 50px;
        width: 35px;
    }
    .slide-title, .slide-pagination{
        float: center;
    }
    .slide-title{
        text-align: center;
        width: 70%;
        margin: 0 auto;
        font-size: 1.125em;
    }
    .slide-pagination{
        display: block;
    }
    .slide-photo-top {
        padding-bottom: 10px;
    }
    .cycloneslider-caption-description{
        font-size:14px;
        line-height:1.4;
    }
    .ec-title{
        text-align: center;
        width: 70%;
        margin: 0 auto;
        font-size: 1.125em;
        margin-bottom: 40px;
    }
}