/* Fonts */

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../assets/fonts/proximanova-bold-webfont.eot');
    src: url('../assets/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../assets/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../assets/fonts/proximanova-regular-webfont.eot');
    src: url('../assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Setup Styles  */

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	padding-bottom: 20px;
	/*overflow: hidden;*/
}

.clear{
	clear: both;
}

#overlay{
	display: none;
	opacity: 0;
	position: fixed;
	z-index: -1;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
}

.shadowbox-overlay{
	display: none;
	opacity: 0;
	position: fixed;
	z-index: -1;
	left: 50%;
	top: 50%;
	/*background-color: rgba( 240, 240, 240, 1);*/
}

body {
	/* Change the background image here  */
	background: url('1.jpg') #070707;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'proxima_nova_rgregular', 'Open Sans',sans-serif;
	font-size: 1em;
}

a, a:visited {
	color: #a294bc;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
a:hover, a:active{color:#68548f;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	color: rgba(117,79,197,0.9);
	font-weight: normal;
}

h1 {
	font-family: 'proxima_nova_rgbold', 'Open Sans', sans-serif;
	text-shadow: 0 1px rgba(84,59,140,1);
	font-weight: 300;
	font-size: 50px;
	text-align: center;
	line-height: 55px;
	margin-bottom: 20px;
}

.light h1 {
	text-shadow: none;
}

h2{
	font-size: 1.8em;
	text-align: center;
	font-family: 'proxima_nova_rgregular', 'Open Sans', sans-serif;
}

h3{
	color: rgba(69,69,69,1);
	font-family: 'proxima_nova_rgbold', 'Open Sans', sans-serif;
}

h4{
	font-family: 'proxima_nova_rgbold', 'Open Sans', sans-serif;
}

abbr[title],
abbr[data-original-title] {
  cursor: pointer;
}

.dark {
	color: #f7f7f7;
}

.center {
	float: none;
	margin: 0 auto;
}

/* Main Container Styles  */

.main-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.main-container .widget-container {
	padding: 30px 0;
	height: 100%;
	margin: 8% auto 10px;
	display: block;
	max-width: 1170px;
}

/* Section Styles  */

.row.span8.center{
	width: 100%;
}

#intro {
	margin-top: 100px;
	text-align: left;
}

#intro h1 {
	color: rgba(69,69,69,1);
	font-family: 'proxima_nova_rgbold', 'Open Sans', sans-serif;
	font-size: 3.0em;
	line-height: 1.3em;
	margin: 20px 0 0 0;
	width: 100%;
	text-align: center;
}

#intro p {
	color: rgba(69,69,69,1);
	width: 55%;
	margin: 20px auto;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: left;
}

#intro h3 {
	font-size: 1.2em;
	line-height: normal;
	text-align: left;
}

.introText {
	float: left;
	margin: 0 2.5% 0 auto;
	max-width: 35%;
}

.introImage {
	text-align: center;
	max-height: 427px;
	margin: 0 auto;
}

#intro .left-button {
	float: left;
	width: 50%;
}

#intro .right-button {
	float: right;
	width: 50%;
}

#what-we-do h2 {
	margin: 40px auto;
}

#contact h1, #press h1, #team h1, #customers h1, #what-we-do h1 {
	text-align: left;
	border-bottom: 2px solid rgba(117,79,197,1);
	float: left;
	margin: 0 auto 20px auto;
	width: 100%;
	font-size: 1.8em;
	line-height: 1.5em;
}

#what-we-do {
	padding-bottom: 20px;
	height: 100%;
	width: 100%;
}

#press ul, #customers ul {
	margin: 20px 20px;
}

#thumbnails {
	margin: 0 auto;
}

li.span2_1 {
  width: 20%;
  margin: 0;
}

li.span2_1 .thumbnail{
	padding: 0 0 20px 0;
}

li.span2_1.bottom {
	margin-left: 0;
	width: 40%;
}

li.span2_1.bottom .thumbnail{
	float: left;
	width: 50%;
}

.span3_1{
	float: left;
	width: 25%;
}

#customers, #press {
	background: #f3f3f3;
}

#press h2, #customers h2 {
	text-align: center;
	font-family: 'proxima_nova_rgbold', 'Open Sans', sans-serif;
}

#customers p, #press p {
	text-align: center;
	font-size: 1.2em;
}

#press ul, #customers ul {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}

#press li, #customers li {
	display: inline;
	padding: 0 10px;
}

#press li img, #customers li img {
	width: 150px;
	height: 112px;
}

#team, #contact {
	background: #fff;
}

.social{
	text-align:center;
}

#contact h2 {
	font-family: "proxima_nova_rgbold", 'Open Sans', sans-serif;
	text-align: left;
}

#contact iframe {
	border: solid 1px white;
	border-radius: 5px;
}

/* Navbar Styles  */

.navbar-fixed-top {
	position: fixed;
}

.navbar-fixed-top.scroll {
	opacity: .96;
}

.navbar-inner {
	border-bottom: 0 none;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	filter: none;
	padding: 0 !important;
	background: rgba(0,0,0,1);
}

.navbar .brand {
	font-size: 19px;
	font-weight: 300;
	text-shadow: none;
	padding: 12px 0 12px 0;
	font-family: raleway;
	color: #fff !important;
}

.navbar .nav.pull-right {
	top: 10px;
}

.navbar .nav > li > a {
	color: #F8F8F8;
	font-size: 15px;
	font-weight: 300;
	text-shadow: none;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

.navbar .nav li a:hover,.navbar .nav li a:focus{
	color: #FCFCFC;
}

.navbar .nav > li > a:hover {
	color: #fff;
}

.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
	padding-bottom: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
	color: #fff;
}

.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
	padding: 9px 40px;
}

.btn-dropnav {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	padding: 7px 10px;
	display: none;
}

.btn-dropnav .icon-bar {
	background-color: #F5F5F5;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	display: block;
	height: 2px;
	width: 18px;
}

.btn-dropnav .icon-bar + .icon-bar {
	margin-top: 3px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: none;
	color: #fff;
}

.dropdown-menu li > a:hover,.dropdown-menu li > a:focus,.dropdown-submenu:hover > a {
	background-color: #8d2040 !important;
	text-decoration: none;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a294bc",endColorstr="#8d2040");
	background-image: -khtml-gradient(linear,left top,left bottom,from(#a294bc),to(#8d2040));
	background-image: -moz-linear-gradient(top,#a294bc,#8d2040);
	background-image: -ms-linear-gradient(top,#a294bc,#8d2040);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#a294bc),color-stop(100%,#8d2040));
	background-image: -webkit-linear-gradient(top,#a294bc,#8d2040);
	background-image: -o-linear-gradient(top,#a294bc,#8d2040);
	background-image: linear-gradient(#a294bc,#8d2040);
	background-repeat: repeat-x;
}

.navbar .btn-navbar .icon-bar {
	display: block;
	width: 18px;
	height: 2px;
	background-color: #444;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .btn-navbar {
	margin: 8px 30px 0 0;
}

.thumbnail {
	text-align: left;
	border: 0;
	padding: 0;
	margin: 0 0 20px 0;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.thumbnails.thirds{
	margin-left: 10px;
}

.thumbnails.thirds li{
	width: 33%;
}

.thumbnails{
	width: 100%;
	margin: 40px auto 0 auto;
	padding: 0;
}

.thumbnail h3{
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
	margin: 0 0 10px 0;
	font-size: 1.5em;
	text-align: center;
}

li.span2_1 .thumbnail:hover {
	cursor: pointer;
	background-color: rgba(20, 20, 20, 1);
	color: rgba(240, 240, 240, 1);
}

li.span2_1 .thumbnail:hover h3{
	color: rgba(240, 240, 240, 1);
}

.thumbnail p {
	border-radius: 10px;
	background-color: rgba(0,0,0,0.05);
	width: 80%;
	padding: 5%;
	margin: 20px auto 20px auto;
}

.thumbnails>li{
	margin: 0 0 0 0;
	padding: 0;
}

.carousel-caption{
	font-family: 'proxima_nova_rgbold', 'Open Sans',sans-serif;
	font-size: 1.3em;
	color: #f0f0f0;
	text-shadow: 0px 1px rgba(0,0,0,0.4);
	text-align: center;
}

#what-we-do .thumbnail p, #contact .thumbnail p, #team .thumbnail p {
	background-color: rgba(200,200,200,0.2);
}

ul.logos li {
	float: left;
	list-style: none outside none;
}

ul.logos li {
	margin-left: 0;
}

@media (max-width: 1199px) {
	#intro h1 {
		font-size: 2.5em;
		line-height: 1.3em;
	}

	li.span2_1{
	  width: 33%;
	  margin: 0;
	}

	li.span2_1.bottom{
		margin-left: 16.5%;
		text-align: center;
		width: 66%;
	}

	li.span2_1.bottom .thumbnail{
		float: left;
		width: 50%;
	}

}

@media (max-width: 1170px) {
	.main-container .widget-container {
		padding: 0 2%;
		margin-top: 14%;
	}
}

@media (max-width: 979px) {

	.nav-collapse .nav > li > a:hover,.nav-collapse .dropdown-menu a:hover {
		background:none!important;
	}

	.nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
		color: #eee;
	}

	.navbar .brand {
		padding: 4px 0 4px 40px;
	}

	body {
		padding-right: 0;
		padding-left: 0;
	}

	#intro {
	margin-top: 50px;
	}

	#intro h1{
		font-size: 2.5em;
		line-height: 1.2em;
	}

	#intro p{
		margin: 20px 16%;
		width: 68%;

	}

	#what-we-do #youtube{
		width: 100%;
		height: 100%;
	}


	p{
		font-size: 1.1em;
		line-height: 1.5em;
	}

	.span3_1{
		width: 50%;
	}

	.introImage{
		max-width: 757px;
		float: none;
	}

	.introText{
		float: none;
		max-width: 90%;
		margin: 0px auto;
	}
}

@media (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}

	#intro h1{
		font-size: 2.5em;
		line-height: 1.2em;
	}

	#intro p{
		width: 100%;
		margin: 20px auto 0 auto;
	}

	h2{
		font-size: 1.3em;
		line-height: 1.0em;
	}

	.row.span8.center{
		width: 100%;
		margin: 0px;
	}

	li.span2_1{
		width: 100%;
	}

	li.span2_1 img{
		max-width: 260px;
	}

	li.span2_1 .thumbnail p{
		text-align: center;
	}

	li.span2_1.bottom{
		margin: 0;
		text-align: center;
		width: 100%;
	}

	li.span2_1.bottom .thumbnail{
		float: left;
		width: 100%;
	}

	.span3_1{
		width: 100%;
	}

	.span3_1 .thumbnail p{
		width: 90%;
		padding: 5%;
		margin: 20px 0 0 0;
	}

}

@media (max-width: 480px) {
	body {
	}

	#intro h1{
		font-size: 1.8em;
		line-height: 1.1em;
	}

	li.span2_1{
		width: 100%;
	}

	li.span2_1 img{
		max-width: 260px;
	}

	li.span2_1 .thumbnail p{
		text-align: left;
	}

	.carousel-caption{
		font-size: 1em;
		padding: 0.2em;
	}

	#intro p{
		/*font-size: 14px;*/
	}

}

.btn-plyfe-purple {
	text-shadow: none;
	color: #fff !important;
	background: #663baf;
}
.btn-plyfe-purple:hover {
	background: #39117d;
}
.btn-plyfe-purple:active {
position: relative;
top: 1px;
}

.btn-purple {
	background-color: hsl(342,63%,34%)!important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a294bc",endColorstr="#8d2040");
	background-image: -khtml-gradient(linear,left top,left bottom,from(#a294bc),to(#8d2040));
	background-image: -moz-linear-gradient(top,#a294bc,#8d2040);
	background-image: -ms-linear-gradient(top,#a294bc,#8d2040);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#a294bc),color-stop(100%,#8d2040));
	background-image: -webkit-linear-gradient(top,#a294bc,#8d2040);
	background-image: -o-linear-gradient(top,#a294bc,#8d2040);
	background-image: linear-gradient(#a294bc,#8d2040);
	border-color: #8d2040 #8d2040 hsl(342,63%,28.5%);
	color: #fff!important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.36);
	-webkit-font-smoothing: antialiased;
}

.btn-xlarge {
	padding: 20px 40px;
	font-size: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
