@font-face {
  font-family: 'Matterhorn';
  src: local('Matterhorn'),
       url('../fonts/matterhorn-regular.eot'),
       url('../fonts/matterhorn-regular.woff') format('woff'),
       url('../fonts/matterhorn-regular.ttf') format('truetype'),
       url('../fonts/matterhorn-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Matterhorn';
  src: local('Matterhorn Bold'),
       url('../fonts/matterhorn-semibold.eot'),
       url('../fonts/matterhorn-semibold.woff') format('woff'),
       url('../fonts/matterhorn-semibold.ttf') format('truetype'),
       url('../fonts/matterhorn-semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Matterhorn';
  src: local('Matterhorn Bold'),
       url('../fonts/matterhorn-bold.eot'),
       url('../fonts/matterhorn-bold.woff') format('woff'),
       url('../fonts/matterhorn-bold.ttf') format('truetype'),
       url('../fonts/matterhorn-bold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}


html,
body            { margin: 0; width: 100%; font-family: Matterhorn, Arial, sans-serif; background-color: #fff; text-decoration: none; position:relative; }
img             { border:0; border-width:0; }
strong          { font-weight:800; font-family:Matterhorn, Arial, sans-serif; }
a, 
a:hover,
a:visited       { text-decoration:none; }

iframe          { display:block; }

.clear            { clear:both; }

input[type=text]::-ms-clear { display: none; }

#blogs-container        { position: relative; width:100%; max-width:1248px; margin:0 auto; padding: 0 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-.h: 310px; overflow: hidden;}
#page-wrap          { width:100%; }

#blogs-header       { width:100%; background-color:#e5eaed; min-height:116px; margin: 0 auto; }
#header-image       { width:100%; min-height:116px; background-repeat:no-repeat; background-position:center top; }


/* google ads */
#leader-board {
  background: #ddd;
    width: 100%;
    overflow: hidden;
}
.leader-board-ad      { width:728px; max-width: 728px; height: 90px; margin:0 auto; padding: 12px 0; position: relative; }
#mobile-leader-board-ad,
.mobile-load-more-ad    { width:320px; height:64px; margin:0px auto 2px auto; position: relative; }
.c-ad-box         { width:300px; margin:0 auto 27px; height:264px; position: relative; }

.leader-board-slug:after,
.leader-board-slug-right:after  { content: "Advertisement"; font-family: Matterhorn, Arial, sans-serif; color:#999; font-size:0.6em; position: absolute; right: -50px; top: 51px; text-align: right; text-transform: uppercase; transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); }
.leader-board-slug-bottom:after { content: "Advertisement"; font-family: Matterhorn, Arial, sans-serif; color:#999; position: absolute; font-size:10px; right: 10px; bottom: 12px; transform: none; text-align: right; text-transform: uppercase; }

.mobile-load-more-ad:after,
.h-article-ad:after,
.c-ad-box:after       { content: "Advertisement"; font-family: Matterhorn, Arial, sans-serif; color:#999; font-size:10px; position: absolute; right: 10px; bottom: 0px; text-align: right; text-transform: uppercase; }

#blogs-home-filter      { width:1024px; height:50px; }
.blogs-homepage       { background-color:#e5eaed; }

#blogs-article-container  { width:100%; max-width:1200px; position:relative; text-align: center; }
.h-article-item       { text-align: left; display: inline-block; width:320px; background-color:#ffffff; margin:0 26px 30px 0; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1); vertical-align: top;}
.h-article-item:nth-child(3){ margin: 0 0 30px; }
.h-article-item:hover   { box-shadow: 0 0 12px 0 rgba(0,0,0,0.2); }
.loadmore-item {
   position: absolute; 
   left: -400px;
}
.h-cat-block        { width:320px; min-height:120px; display:block; }
.h-article-border-top   { width:100%; height:4px; }
.h-article-image      { padding: 0 14px; max-width:292px; margin:12px auto 18px; border:none; }
.h-article-image img    { width:100%; height:auto; display: block; }
.h-article-wrap       { width:auto; margin:0 auto; padding: 0 14px 5px; }
.h-article-sponsor      { width:100%; margin:0 auto; border:none; }
.h-article-sponsor img    { max-width: 100%; }
.h-article-title      { font-family: Matterhorn, Arial, sans-serif; font-size:22px; color:#020401; line-height:26px; }
.h-article-title h2     { font-family: Matterhorn, Arial, sans-serif; font-size:24px; color:#020401; line-height:26px; font-weight:400; margin: 0 auto 8px; }
.h-article-title a,
.h-article-title a:visited,
.h-article-title a:hover  { color:#020401; text-decoration:none; }
.h-article-text       { font-family: Matterhorn, Arial, sans-serif; font-size:16px; color:#999; line-height:22px; }
.h-article-text  a p  { margin: 0 auto 16px; }
.h-article-text  a,
.h-article-text  a:visited,
.h-article-text  a:hover  { color:#72726a; text-decoration:none; }
.h-article-divide     { width:100%; height:1px; background-color:#f7f2f8; }
.h-article-details      { margin: 8px 0 12px; padding: 0 14px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.h-article-cat        { min-width:50px; float:left; font-family: Matterhorn, Arial, sans-serif; font-size:14px; color:#c4c0bf; text-align:left; text-transform:capitalize; }
.h-article-date       { min-width:50px; float:right; font-family: Matterhorn, Arial, sans-serif; font-size:14px; color:#c4c0bf; text-align:right; }
.h-article-date a,
.h-article-date a:visited,
.h-article-date a:hover   { color:#c4c0bf; text-decoration:none; }
.h-article-ad       { width: auto; max-width:300px; margin:10px auto 6px; height:264px; position: relative; }

.h-catBlock-oh-my-disney  { background-color:#db0101; }
.h-catBlock-insider     { background-color:#0eb2ff; }
.h-catBlock-disney-style  { background-color:#74c9b5; }
.h-catBlock-disney-playlist { background-color:#6402ce; }

.h-catBlock-img {
    border:none;   
    padding-top:17px; 
    text-align:center;
    width:100%; height: 60px;   
}

.h-catBlock-oh-my-disney .h-catBlock-img {
    background: url("blog_logo_omd.png") center 19px no-repeat;   
    background-size: 137px 52px;
}

.h-catBlock-insider .h-catBlock-img {
    background: url("blog_logo_insider.png") center 19px no-repeat;   
    background-size: 177px 56px;
}

.h-catBlock-disney-playlist .h-catBlock-img {
    background: url("blog_logo_playlist.png") center 19px no-repeat;   
    background-size: 210px 52px;
}

.h-catBlock-disney-style .h-catBlock-img {
    background: url("blog_logo_style.png") center 19px no-repeat;   
    background-size: 108px 64px;
    height: 66px;
}

.h-catBlock-img img     { min-width:10px; margin:0 auto; }  
.h-catBlock-bar       { width:250px; height:1px; background-color:#ffffff; margin:12px auto; }
.h-catBlock-text      { width:100%; text-align:center; color:#ffffff; padding-bottom:17px; text-decoration:none; }

.h-oh-my-disney-bar            { background-color:#db0101; }
.h-oh-my-disney-text           { color:#d00101; }
.h-oh-my-disney-text a,
.h-oh-my-disney-text a:visited { color: #db0101; text-decoration: none; }
.h-oh-my-disney-text a:hover   { color:#ec0303; text-decoration:none; }
.h-oh-my-disney-article-title  { color: #d00101 ; }
.h-oh-my-disney-single-title   { color: #d00101;  }  /* Single article page title */

.h-insider-bar              { background-color:#0eb2ff; }
.h-insider-text             { color:#087ed9; }
.h-insider-text a,
.h-insider-text a:visited   { color: #045b9e; text-decoration: none; }
.h-insider-text a:hover     { color:#0a91f9; text-decoration:none; }
.h-insider-article-title    { color: #087ed9; }
.h-insider-single-title     { color: #087ed9; }
#story-text a, 
#story-text a:hover, 
#story-text a:visited   { color:#0eb2ff; text-decoration:none; }
 
.h-disney-playlist-bar      { background-color:#6402ce; }
.h-disney-playlist-text     { color:#6402ce; }
.h-disney-playlist-text a,
.h-disney-playlist-text a:hover,
.h-disney-playlist-text a:visited { color:#6402ce; text-decoration:none; }
.h-disney-style-bar       { background-color:#74c9b5; }
.h-disney-style-text        { color:#31A98D; }
.h-disney-style-text a,
.h-disney-style-text a:visited,
.h-disney-style-text a:hover    { color:#31A98D; text-decoration:none;}

#h-load-more        { width:300px; margin:50px auto; background-color:#329bf6; color:#ffffff; font-family: Matterhorn, Arial, sans-serif; font-size:24px; -moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px; text-align:center; cursor:pointer; padding:18px 0 14px; }
#h-load-more a        { color:#ffffff; text-decoration:none; display:block; height:63px; width:300px; }
#h-load-more a:hover    { color:#ffffff; text-decoration:none; background-color:#0880db; }
#h-load-more a:visited    { color:#ffffff; text-decoration:none; }

#article-left-side {
  background-position: 40px 0; 
  display: inline-block; 
  float: left; 
  margin-top: 32px; 
  padding: 0 403px 45px 107px; 
  width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  background-repeat: no-repeat; 
  background-size: 52px 52px; 
  -webkit-background-size: 52px 52px; 
  -moz-background-size: 52px 52px; 
  -o-background-size: 52px 52px; 
}

#article-right-side {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  background: linear-gradient(to right, #F5F6F6 0%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.2) inset;
  padding: 32px 0 26px 26px;
  position: absolute;
  right: 24px;
  top: 0;
  width: 326px;
}

#article-title         { width:100%; margin-bottom:15px; }
#article-title h1       { color:#000000; font-size:2.4em; padding:0; margin:0; font-weight:normal; font-family:Matterhorn, Arial, sans-serif; font-weight: 600; }
.article-feature      { margin-bottom: 20px; width: 100%; }
.article-feature img    { width: auto; max-width: 100%; }
#article-content        { width:100%; color:#000000; font-size:1em; line-height:1.5em; font-family:Matterhorn, Arial, sans-serif; margin:0; padding:0; }
#article-content img      { border:0; border-width:0; width: auto; height: auto; max-width: 100%; }

#article-meta-data {
    margin:0 0 16px 0; 
    width:100%; 
}

#article-date { width:100%; text-align:left; font-size:1em; color:#666666; font-family:Matterhorn, Arial, sans-serif; font-weight: 600; }
#article-share-bottom   { width:100%; margin-bottom:10px; }

#article-tags { 
    color: #666;
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 16px 0;
    text-transform: uppercase;
    width:100%; 
}

#article-comments     { width:100%; }
/*#article-comments span    { width:100% !important; }
#article-comments iframe  { width:100% !important; }*/

#article-controls {
    display: none;
    margin:28px 0 0 0; 
    width:100%; 
}

#article-newer        { width:128px; height:44px; float:left; }
#article-older        { width:128px; height:44px; float:right; }
#article-controls a, 
#article-controls a:hover, 
#article-controls a:visited { color:#ffffff; text-decoration:none; }
.article-divider        { width:100%; height:1px; background-color:#e5e5e5; margin:18px 0px 18px 0; clear: both; }
.divider-bottom       { margin-bottom:9px; }

.sharing-widget-half    { width: 50%; }
.sharing-widget-half #w-google { clear: left; }
.sharing-widget-half #w-google,
.sharing-widget-half #w-pinterest { margin-top: 6px; }

.d-share-full       { width:100%; }
.d-share-full .sharing-item { width:98px; float:left; }

.article-btn        { width:128px; height:44px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; border-radius:8px; background-color:#d00101;
                color:#ffffff; text-align:center; font-size:1.2em; line-height:44px; }
.article-btn img      { vertical-align:middle; }
#article-sponsor      { float: right;}
#article-sponsor img    {  }
#article-content p      { margin: .5em 0; }

.content-oh-my-disney a,
.content-oh-my-disney a:visited{ color:#d00101; text-decoration:none; }
.content-oh-my-disney a:hover { text-decoration:underline; }
.content-insider a,
.content-insider a:visited  { color:#0eb2ff; text-decoration:none; }
.content-insider a:hover  { text-decoration:underline; }
.content-disney-style a,
.content-disney-style a:visited { color:#31A98D; text-decoration:none; }
.content-disney-style a:hover     { text-decoration:underline; }
.content-disney-playlist a,
.content-disney-playlist a:visited  { color:#6402ce; text-decoration:none; }
.content-disney-playlist a:hover  { text-decoration:underline; }

.btn-oh-my-disney     { background-color:#d00101; }
.btn-oh-my-disney:hover   { background-color:#f31820;}
.btn-insider        { background-color:#0eb2ff; }
.btn-disney-style     { background-color:#74c9b5; }
.btn-disney-playlist    { background-color:#6402ce; }

#h-blogs-nav        { margin:20px auto 45px auto; width:100%; max-width:1024px; min-height:20px; }
#nav-inner          { width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.2); box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.2); }
#nav-inner ul       { padding:0; margin:0; list-style-type: none; }
#nav-inner ul li      { width:20%; height:50px; float:left; text-align:center; vertical-align:middle; line-height:50px; background-color: #fff;}
.h-omd-nav          { border-top: 2px solid #db0101; cursor:pointer; }
.h-insider-nav        { border-top: 2px solid #0eb2ff; cursor:pointer; }
.h-disney-style-nav     { border-top: 2px solid #74c9b5; cursor:pointer; }
.h-music-nav        { border-top: 2px solid #6402ce; cursor:pointer; }
.h-latest-nav       { font-family:Matterhorn, Arial, sans-serif; font-size:20px; color:#000000; border-top: 2px solid #454a4d; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; }

.h-omd-nav:hover,
.h-insider-nav:hover,
.h-disney-style-nav:hover, 
.h-music-nav:hover, 
.h-latest-nav:hover     { background-color: #eee !important; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee)); background: -webkit-linear-gradient(top, #fff, #eee); background: -moz-linear-gradient(top, #fff, #eee); background: -ms-linear-gradient(top, #fff, #eee); }

.h-latest-nav a,
.h-latest-nav a:visited,
.h-latest-nav a:hover   { padding-top: 2px; color:#000000; text-decoration:none; cursor: pointer; border-left: none !important;}
#nav-inner ul li a      { width:100%; height:50px; display:block; border-left:1px solid #cccccc; }
.h-active,
.h-active:hover       { -moz-box-shadow:inset 0 0 10px #454a4d; -webkit-box-shadow:inset 0 0 10px #454a4d; box-shadow:inset 0 0 10px #454a4d; background-color:#596164 !important; color:#ffffff; }
.h-active a,
.h-active a:visited,
.h-active a:hover     { color:#ffffff; text-decoration:none; background-color:#596164 !important;  }

#omd-nav { background-image:url(../images/blog_logo_home_omd.png); background-repeat:no-repeat; background-position:center 4px; }
#insider-nav        { background-image:url(../images/blog_logo_home_insider.png); background-repeat:no-repeat; background-position:center 4px; }
#disney-style-nav     { background-image:url(../images/blog_logo_home_style.png); background-repeat:no-repeat; background-position:center 4px; }
#music-nav          { background-image:url(../images/blog_logo_home_playlist.png); background-repeat:no-repeat; background-position:center 4px; }

.h-active #omd-nav { 
    background-image:url(../images/blog_logo_home_omd_white.png);
    background-position: center 4px !important; 
}

.h-active #insider-nav { 
    background-image:url(../images/blog_logo_home_insider_white.png);        
    background-position: center 4px !important; 
}

.h-active #disney-style-nav { 
    background-image:url(../images/blog_logo_home_style_white.png);      
    background-position: center 4px !important; 
}

.h-active #music-nav { 
    background-image:url(../images/blog_logo_home_playlist_white.png);   
    background-position: center 4px !important; 
}

#c-head-wrap {
  height: 88px; 
  width: 100%; 
}
#c-head-block { 
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    margin: 0 auto;
    max-width: 1248px;
    padding: 0 24px 0 132px; 
}
#c-head-logo { 
    padding-top: 16px; 
    position: absolute;
}

#c-head-logo a {
    background-size:100% 100%;
    display: block;
}

.c-oh-my-disney #c-head-logo a {
    background-image: url("blog_logo_omd.png");
    margin: 3px 0 0;
    width: 137px; height: 52px;
}

.c-insider #c-head-logo a {
    background-image: url("blog_logo_insider.png");
    width: 177px; height: 56px;    
}

.c-disney-playlist #c-head-logo a {
    background-image: url("blog_logo_playlist.png");
    width: 210px; height: 52px;    
}

.c-disney-style #c-head-logo a {
    background-image: url("blog_logo_style.png");
    margin: 2px 0 0;
    width: 108px; height: 64px;        
}

#c-head-image       { display: block; }
#c-head-nav { 
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    display: inline-block;
    float: left;
    margin-top: 17px;
    width: 100%;
}

.c-oh-my-disney #c-head-nav {
    padding: 0 0 0 184px;
}
.c-insider #c-head-nav {
    padding: 0 0 0 238px;
}
.c-disney-playlist #c-head-nav {
    padding: 0 0 0 263px;
}
.c-disney-style #c-head-nav {
    padding: 0 0 0 166px;
}
.c-disney-style #c-head-logo {
  padding-top: 11px;
}

#c-head-nav a,
#c-head-nav a:visited { 
  color:#ffffff; 
  text-decoration:none; 
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 37px 20px 0;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    white-space: nowrap;

  background-size: 32px 32px; -webkit-background-size: 32px 32px; -moz-background-size: 32px 32px; -o-background-size: 32px 32px;
  background-repeat: no-repeat; 
	background-position: center top;
}
#c-head-nav a:hover     { text-decoration:underline; }

.c-selected,
.c-selected:visited   { text-decoration:underline !important; }
.c-selected:hover     { text-decoration:underline; }
#c-story-as {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 32px;
    padding-bottom: 16px;
}
#c-story-as p {
  color: #B9B9B9;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin: 0 0 2px;
  text-transform: uppercase;
}
#c-story-as h1 {
  text-transform:capitalize; 
  display: inline-block;
  font-size: 2.6em;
  font-weight: 600;
  vertical-align: top;
  margin: 0;
}



.c-disney-style #c-head-image   { margin-bottom:-20px; }

.c-tag            { background-color:#0eb2ff; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#12bbf6), to(#10aade)); background: -webkit-linear-gradient(top, #12bbf6, #10aade); background: -moz-linear-gradient(top, #12bbf6, #10aade); background: -ms-linear-gradient(top, #12bbf6, #10aade); }
.c-insider          { background-color:#0eb2ff; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#12bbf6), to(#10aade)); background: -webkit-linear-gradient(top, #12bbf6, #10aade); background: -moz-linear-gradient(top, #12bbf6, #10aade); background: -ms-linear-gradient(top, #12bbf6, #10aade); }
.c-oh-my-disney {
  background-color: #be1e24;
}
.c-disney-playlist      { background-color:#6402ce; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6402ce), to(#5d03be)); background: -webkit-linear-gradient(top, #6402ce, #5d03be); background: -moz-linear-gradient(top, #6402ce, #5d03be); background: -ms-linear-gradient(top, #6402ce, #5d03be); }
.c-disney-style       { background-color:#73c8b5; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73c8b5), to(#6dbaa9)); background: -webkit-linear-gradient(top, #73c8b5, #6dbaa9); background: -moz-linear-gradient(top, #73c8b5, #6dbaa9); background: -ms-linear-gradient(top, #73c8b5, #6dbaa9); }


#c-left-side { 
    display: inline-block; 
    float: left; 
    padding: 32px 403px 45px 42px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    width: 100%;  
}

#c-right-side {
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    background: linear-gradient(to right, #F5F6F6 0%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.2) inset;
    padding: 32px 0 26px 26px;
    position: absolute;
    right: 24px;
    top: 0;
    width: 326px;
}

.c-article-item { 
    background-repeat: no-repeat; 
    background-size: 52px 52px; 
    -webkit-background-size: 52px 52px; 
    -moz-background-size: 52px 52px; 
    -o-background-size: 52px 52px;
    margin:0 0 20px; 
    padding: 0 0 0 68px; 
}

.c-separator {
   padding: 0 0 10px 0; border-bottom: 1px solid #EEEEEE; font-size: 0;
}

.c-image-wrap-regular   { width:28%; float:right; }
.c-image-wrap-regular a   { display: block; line-height: 0; }
.c-image-wrap-regular img   { width:auto; max-width: 100%; }
.c-sponsor-regular      { width:242px; }
.c-sponsor-regular img    { width:100%; }
.c-image-wrap-feature   { width:100%; height:auto; overflow:hidden; margin-bottom:13px; position: relative; line-height: 0;}
.c-image-wrap-feature img { width:100%; }
.c-data-wrap-regular    { display:block; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 24px; width: 72%; min-height:141px;}
.c-article-title      { width:100%; margin-bottom: 6px; }
.c-image-wrap-feature .c-article-title { 
  position: absolute; 
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  max-width: 80%;
  padding: 12px 12px 8px;
  left: 0;
  bottom: 0;
  margin: 0;
  width: auto;
}
.c-article-title h2     { padding:0; margin:0; font-family: Matterhorn, Arial, sans-serif;  color:#000000; 
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.1em;
    margin-bottom: 4px;
    text-transform: uppercase;
 }
.c-article-title a,
.c-article-title a:visited,
.c-article-title a:hover  { color:#000000; text-decoration:none; }
.c-article-text       { font-family: Matterhorn, Arial, sans-serif; color: #777; font-size: 1.1em; line-height: 1.3em; margin-bottom: 16px; }

.c-article-text a,
.c-article-text a:visited,
.c-article-text a:hover   { color:#777; text-decoration:none; }
.c-article-text p     { margin:0; padding:0; }

.c-article-date{
    font-family: Matterhorn, Arial, sans-serif; 
    font-size:0.7em; color:#ccc; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    width:100%;  
}

.single-post .c-article-date{
    margin:0 0 20px;
}

.c-feature-data       { width:100%; }
.c-feature-date       { width:200px;  font-family: Matterhorn, Arial, sans-serif; font-size:0.7em; color:#ccc; text-transform: uppercase; letter-spacing: 1px;}
.c-imagefeature-sponsor   { margin-top:5px; display: inline-block; }

.c-title-insider,
.c-title-insider a,
.c-title-insider a:visited,
.c-title-insider a:hover  { color:#0eb2ff; }
.c-title-oh-my-disney,
.c-title-oh-my-disney a,
.c-title-oh-my-disney a:visited,
.c-title-oh-my-disney a:hover{ color:#db0101; }
.c-title-disney-playlist,
.c-title-disney-playlist a,
.c-title-disney-playlist a:visited,
.c-title-disney-playlist a:hover    { color:#6402ce; }
.c-title-disney-style,
.c-title-disney-style a,
.c-title-disney-style a:visited,
.c-title-disney-style a:hover   { color:#31A98D; }

.tags-oh-my-disney a,
.tags-oh-my-disney a:visited,
.tags-oh-my-disney a:hover  { color:#d00101; text-decoration:none; }
.tags-insider a,
.tags-insider a:visited,
.tags-insider a:hover   { color:#0eb2ff; text-decoration:none; }
.tags-disney-style  a,
.tags-disney-style  a:visited,
.tags-disney-style  a:hover     { color:#31A98D; text-decoration:none; }
.tags-disney-playlist a,
.tags-disney-playlist a:visited,
.tags-disney-playlist a:hover{ color:#6402ce; text-decoration:none; }

.c-fColor-oh-my-disney,
.c-fColor-oh-my-disney a,
.c-fColor-oh-my-disney a:visited,
.c-fColor-oh-my-disney a:hover { color:#db0101 !important; }

.c-fColor-insider,
.c-fColor-insider a,
.c-fColor-insider a:visited,
.c-fColor-insider a:hover { color:#0eb2ff !important; }

.c-fColor-disney-style,
.c-fColor-disney-style a,
.c-fColor-disney-style a:visited,
.c-fColor-disney-style a:hover { color:#31A98D !important; }

.c-fColor-disney-playlist,
.c-fColor-disney-playlist a,
.c-fColor-disney-playlist a:visited,
.c-fColor-disney-playlist a:hover { color:#6402ce !important; }

.c-image-sponsor      { width: 100%; min-width:0px; margin:3px auto 0 auto; }
.c-image-sponsor img    { max-width: 100%; }


.c-popular-item       { width:300px; margin: 0 0 16px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.c-popular-image      { width: 40%; display: inline-block; overflow:hidden; vertical-align: top; }
.c-popular-image img    { width:auto; height:auto; max-width: 100%; }
.c-popular-text       { width:58%; vertical-align: top; padding: 4px 0 0 8px; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.c-popular-text h2      { padding:0; margin:0; font-family: Matterhorn, Arial, sans-serif; font-size:1em; line-height:1.125em; color:#000000; font-weight: 400; }
.c-popular-sponsor      { width: 100%; min-width:0px; margin:10px 0 0 10px; float: right; }
.c-popular-sponsor img    { max-width: 100%; }


.c-popular-text a,
.c-popular-text a:visited,
.c-popular-text a:hover { color:#666; text-decoration:none; }

#c-featured         { margin: 0 0 40px; }
#c-featured h2        { width:100%; border-bottom: 1px solid #ddd; text-transform: uppercase; font-weight: 600; color:#333; font-family: Matterhorn, Arial, sans-serif; font-size:1.5em; margin-bottom: 12px; padding-bottom: 2px; }
.c-featured-item      { width:50%; display: block; float: left; margin: 0 0 16px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.c-featured-item:nth-child(1) { width: 100%; }
.c-featured-item:nth-child(2) { padding-right: 8px; margin: 0; }
.c-featured-item:nth-child(3) { padding-left: 8px; margin: 0; }

.c-featured-item img    { width:auto; height:auto; max-width: 100%; }
#c-featured .c-featured-item h2   { padding:0; margin:0; font-family: Matterhorn, Arial, sans-serif; font-size:1em; line-height: 1.125em; color:#000000; font-weight: 400; border: none; text-transform: none; overflow: hidden;}
.c-featured-sponsor     { width: 100%; min-width:0px; margin:4px 0 0 0;  }
.c-featured-sponsor img   { max-width: 100%; }


.c-featured-item a,
.c-featured-item a:visited,
.c-featured-item a:hover { color:#666; text-decoration:none; }

.c-pop-tag a,
.c-pop-tag a:visited,
.c-pop-tag a:hover { color:#0eb2ff; text-decoration:none; }

.c-pop-oh-my-disney a,
.c-pop-oh-my-disney a:visited,
.c-pop-oh-my-disney a:hover { color:#db0101; text-decoration:none; }
.c-pop-insider a,
.c-pop-insider a:visited,
.c-pop-insider a:hover    { color:#0eb2ff; text-decoration:none; }
.c-pop-disney-style a,
.c-pop-disney-style a:visited,
.c-pop-disney-style a:hover     { color:#31A98D; text-decoration:none; }
.c-pop-disney-playlist a,
.c-pop-disney-playlist a:visited,
.c-pop-disney-playlist a:hover { color:#6402ce; text-decoration:none; }

.c-pagination {
  color: #1e80eb; 
  font-size: 20px; 
  margin: 32px auto 42px; 
  text-align: center; 
  width: 100%; 
}
.wp-paginate, .page-numbers {
  margin: 0;
  padding: 0;
}
.wp-paginate li:first-child { display: none }
.wp-paginate li, .page-numbers li {
  display: inline-block;
  vertical-align: top;
}

.wp-paginate .page,
.wp-paginate .prev,
.wp-paginate .next,
.page-numbers .page-numbers,
.page-numbers .prev,
.page-numbers .next {
  border: 1px solid #EEEEEE;
  color: #666666;
  font-size: 20px; 
  display: block;
  width: auto;
  height: auto;
  margin: 8px;
  padding: 8px 12px;
  text-transform: uppercase;
  position: relative;
}

.wp-paginate .page:hover,
.wp-paginate .prev:hover,
.wp-paginate .next:hover,
.wp-paginate .current,
.page-numbers .page-numbers:hover,
.page-numbers .prev:hover,
.page-numbers .next:hover,
.page-numbers .current {
  color: #fff;
}

.wp-paginate .prev, .page-numbers .prev {
  padding-left: 34px;
}

.wp-paginate .next, .page-numbers .next {
  padding-right: 34px;
}

.wp-paginate .prev:before, .page-numbers .prev:before {
  content: "";
  width: 11px;
  height: 13px;
  background: url('pagination-arrows.png') no-repeat;
  margin: 5px 10px 0 0;
  position: absolute;
  left: 12px;
}

.wp-paginate .next:after, .page-numbers .next:after {
  content: "";
  width: 11px;
  height: 13px;
  background: url('pagination-arrows.png') no-repeat -11px 0;
  margin: 5px 0 0 10px;
  position: absolute;
  right: 12px;
}

.wp-paginate .prev:hover:before, .page-numbers .prev:hover:before {
  background-position: 0 -13px;
}
.wp-paginate .next:hover:after, .page-numbers .next:hover:after {
  background-position: -11px -13px;
}


.wp-paginate .gap, .page-numbers .gap {
  margin: 8px; 
  padding: 8px 2px;
  color: #ccc;
  display: block;
  font-size: 20px;
}

.navigation {
  text-align: center;
}

.c-page-insider .wp-paginate .current,
.c-page-insider .wp-paginate .page:hover,
.c-page-insider .wp-paginate .prev:hover,
.c-page-insider .wp-paginate .next:hover,
.c-page-insider .page-numbers .current,
.c-page-insider .page-numbers .page-numbers:hover,
.c-page-insider .page-numbers .prev:hover,
.c-page-insider .page-numbers .next:hover    { background:none repeat scroll 0 0 #0eb2ff !important; }

.c-page-insider .wp-paginate a,
.c-page-insider .page-numbers a        { color:#0eb2ff }


.c-page-oh-my-disney .wp-paginate .current,
.c-page-oh-my-disney .wp-paginate .page:hover,
.c-page-oh-my-disney .wp-paginate .prev:hover,
.c-page-oh-my-disney .wp-paginate .next:hover, 
.c-page-oh-my-disney .page-numbers .current,
.c-page-oh-my-disney .page-numbers .page-numbers:hover,
.c-page-oh-my-disney .page-numbers .prev:hover,
.c-page-oh-my-disney .page-numbers .next:hover { background:none repeat scroll 0 0 #db0101 !important; }

.c-page-oh-my-disney .wp-paginate a,
.c-page-oh-my-disney .page-numbers a     { color:#db0101; }


.c-page-disney-playlist .wp-paginate .current,
.c-page-disney-playlist .wp-paginate .page:hover,
.c-page-disney-playlist .wp-paginate .prev:hover,
.c-page-disney-playlist .wp-paginate .next:hover, 
.c-page-disney-playlist .page-numbers .current,
.c-page-disney-playlist .page-numbers .page-numbers:hover,
.c-page-disney-playlist .page-numbers .prev:hover,
.c-page-disney-playlist .page-numbers .next:hover      { background:none repeat scroll 0 0 #6402ce !important; }

.c-page-disney-playlist .wp-paginate a,
.c-page-disney-playlist .page-numbers a        { color:#6402ce; }


.c-page-disney-style .wp-paginate .current,
.c-page-disney-style .wp-paginate .page:hover,
.c-page-disney-style .wp-paginate .prev:hover,
.c-page-disney-style .wp-paginate .next:hover, 
.c-page-disney-style .page-numbers .current,
.c-page-disney-style .page-numbers .page-numbers:hover,
.c-page-disney-style .page-numbers .prev:hover,
.c-page-disney-style .page-numbers .next:hover     { background:none repeat scroll 0 0 #73c8b5 !important; }

.c-page-disney-style .wp-paginate a,
.c-page-disney-style .page-numbers a         { color:#31A98D; }


.c-page-tag .wp-paginate .current,
.c-page-tag .wp-paginate .page:hover,
.c-page-tag .wp-paginate .prev:hover,
.c-page-tag .wp-paginate .next:hover,
.c-page-tag .page-numbers .current,
.c-page-tag .page-numbers .page-numbers:hover,
.c-page-tag .page-numbers .prev:hover,
.c-page-tag .page-numbers .next:hover      { background:none repeat scroll 0 0 #db0101 !important; }




#c-submit-story       { width: 80%; margin: 0 auto 40px; text-align: center; }
#c-submit-story h2 { 
  background: transparent url(../images/submit_story.png) left 8px no-repeat;
  font-size: 1.4em;
  padding-left: 60px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  padding-bottom: 8px;
  text-align: left;
  font-weight: 400;
}
#c-submit-story a,
#c-submit-story a:visited,
#c-submit-story a:hover   { color:#0eb2ff; text-decoration:none; font-size: 1.125em; text-transform: uppercase;}
#c-social         { width:100%; margin:0 0 40px; }
#c-social ul        { padding:0; margin:0; list-style-type: none; }
#c-social h2        { width:100%; border-bottom: 1px solid #ddd; text-transform: uppercase; font-weight: 600; color:#000000; font-family: Matterhorn, Arial, sans-serif; font-size:1.5em; margin-bottom: 12px; padding-bottom: 2px; }
#c-social ul li       { width:51px; height:51px; padding:0; margin:0; list-style-type: none; float:left; }
#c-social li+li       { margin-left:11px; }
#c-social ul li img     { width:100%; height:auto; }
#c-popular          { margin: 0 0 40px; }
#c-popular-head       { width:100%; border-bottom: 1px solid #ddd; text-transform: uppercase; font-weight: 600; color:#000000; font-family: Matterhorn, Arial, sans-serif; font-size:1.5em; margin-bottom: 12px; padding-bottom: 2px; }

#c-signup       { width:300px;  margin-bottom:40px; }
#c-su-text        { margin-bottom: 12px; color:#000000; font-family: Matterhorn, Arial, sans-serif; font-size:1.125em; text-align:center; line-height: 1.3em; }
#c-su-button      { width:80%; padding: 14px 0 12px; color:#FFFFFF; text-align:center; font-family: Matterhorn, Arial, sans-serif; font-size:1.125em; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; margin:0 auto; line-height:1.125em; cursor:pointer; }

.videoWrapper         { position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
.videoWrapper iframe    { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#story-container      { width: 90%; max-width: 474px; padding: 0 12px;}
#story-page-title     { font-family: Matterhorn, Arial, sans-serif; font-size:30px; color:#000000; margin-bottom:15px; }
#story-text         { font-family: Matterhorn, Arial, sans-serif; font-size:16px; color:#000000; line-height:24px; margin-bottom:40px; }
.story-label        { font-family: Matterhorn, Arial, sans-serif; font-size:20px; color:#000000; }
#input-Name         { width:100%; height:35px; font-family: Matterhorn, Arial, sans-serif; font-size:18px; }
#story-age-location     { margin-top:40px; }
#story-age-select     {  }
select            { font-family: Matterhorn, Arial, sans-serif; font-size:18px; }
.story-float-age      { float:left; width:57px; margin-right:20px; }
.story-float-city     { float:left; width:207px; margin-right:20px; }
.story-float-state      { float:left; width:162px; }
#input-city         { width:50%; min-width: 200px; height:35px; font-family: Matterhorn, Arial, sans-serif; font-size:18px; }
#story-title        { margin-top:40px; }
#story-topic        { height:35px; width:100%; font-family: Matterhorn, Arial, sans-serif; font-size:18px; }
#story-message        { width:100%; height:300px; }
#story-story        { margin-top:40px; }
#story-checkbox       { font-family: Matterhorn, Arial, sans-serif; font-size:13px; color:#000000; }
#story-checkbox a,
#story-checkbox a:visited,
#story-checkbox a:hover   { color:#000000; text-decoration:none; }
#story-submit       { width:194px; height:47px; background-color:#0eb0fb; color:#ffffff; font-family: Matterhorn, Arial, sans-serif; font-size:16px; -moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px; text-align:center; line-height:47px; cursor:pointer; margin:41px 0 65px 0; }
#story-notice       { ont-family: Matterhorn, Arial, sans-serif; font-size:12px; color:#c1c1c1; line-height:16px; margin-bottom:50px; }
#story-captcha-contain    { margin:18px 0 25px 0; }
#story-captcha        {}
#story-validation     { width:287px; font-family: Matterhorn, Arial, sans-serif; }

#w-facebook-share span          { overflow: hidden !important; min-width: 100px !important; height: 25px !important; }
#w-facebook-share span iframe     { width:auto !important; height: 25px !important; }

#sponsor-head       { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:100%; padding:10px 10px 10px 10px; position:relative; margin-bottom:30px; }
.sposnor-by         { color:#000000; font-size:24px; font-family: Matterhorn, Arial, sans-serif; float:left; line-height:35px; }
.sponsor-by-name      { font-size:34px; }
.sponsor-cat-logo     { float:right; }

#blogs-footer       { width:100%; background-color:#3F4040; padding: 0 24px 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#b-footer-inner       { width:100%; max-width:1200px; margin:0 auto 10px auto; padding:30px 0 27px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom:1px solid #494949; }
#b-footer-social      { width:258px; float:left; }
#b-footer-icons       { width:100%; }
#b-footer-sub       { width:100%; margin:25px 0 11px 0; font-family: Matterhorn, Arial, sans-serif; font-weight: 600; font-size:14px; text-transform:capitalize; color:#ffffff; }
#b-sub-list ul        { padding:0; margin:0; list-style-type: none; }
#b-sub-list li        { padding:0; margin:0 0 15px 0; list-style-type: none; }
#b-sub-list         { color:#bababa; font-family: Matterhorn, Arial, sans-serif; font-size:14px; letter-spacing:1px; }
#b-sub-list a,
#b-sub-list a:visited   { color:#bababa; text-decoration:none; }
#b-sub-list a:hover     { color:#bababa; text-decoration:underline; }
#blogs-legal        { width:100%; max-width:1200px; margin:13px auto 0 auto; }
#b-footer-logo        { float:left; margin:18px 24px 0 10px; }
#b-footer-legal       { float:left; color:#bababa; font-family: Matterhorn, Arial, sans-serif; font-size:12px; margin-top:10px; }
#b-footer-legal a, 
#b-footer-legal a:visited   { color:#bababa; font-family: Matterhorn, Arial, sans-serif;  text-decoration:none; }
#b-footer-legal a:hover   { text-decoration:none; color:#1786Eb; }
#b-footer-legal ul      { padding:0 0 4px; margin:0; list-style-type: none; }
#b-footer-legal li      { padding:4px 0; margin:0 15px 0 0; list-style-type: none; display: inline-block; }
#b-legal-copyright      { color:#6e6e6e; padding: 0 0 4px;  }
.b-icon-item        { width:44px; height:44px; float:left; margin-right:9px; }
.b-icon-item img      { width:100%; height:auto; }
.b-icon-last        { margin-right:0px; }
.b-footer-item        { float:left; padding:0 48px 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#b-footer-blogs       { width:26%; }
#b-footer-popular     { width:37%; padding: 0 24px 0 0; }
#b-footer-feature     { width:37%; padding: 0 0 0 24px; }
.b-footer-title       { width:100%; border-bottom: 1px solid #555555; color:#FFFFFF; font-family: Matterhorn, Arial, sans-serif; font-size:1.3em; text-transform:capitalize; margin: 0 0 16px 0; padding:0 0 8px 0; white-space: nowrap; }
.b-footer-title a,
.b-footer-title a:visited { color:#FFFFFF; text-decoration:none; text-transform:uppercase; }      
.b-footer-title a:hover   { color:#1786Eb; text-decoration:none; }
.b-footer-links       { width:100%; color:#bababa; font-family: Matterhorn, Arial, sans-serif; font-size:1.125em; margin-top:10px; line-height:1.2em;  }
.b-footer-links a,
.b-footer-links a:visited { color:#bababa; text-decoration:none; }
.b-footer-links a:hover   { color:#1786Eb; text-decoration:none; }
.b-footer-links ul      { padding:0; margin:0; list-style-type: none; }
.b-footer-links ul li   { padding:0; margin:0 0 18px 0; list-style-type: none; text-transform:capitalize; }

.killImage          { display:none !important; }
.killMargin         { margin-left:0px !important; }

#article-related {  
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    margin: 0 0 30px -86px;
    padding: 16px 4px 20px;
/*    width: 793px;
*/}

.yarpp-related h3{ 
    color: #333;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    margin:0; 
    padding: 10px 10px 4px;
    text-align: center;
}

.yarpp-thumbnail { 
    border:none !important; 
}

.yarpp-image { 
    max-width: 100%; 
    margin: 10px 10px -1px;
    overflow: hidden;
    width: auto;
}

.yarpp-thumbnail:nth-child(1) .yarpp-image, .yarpp-thumbnail:nth-child(5) .yarpp-image { 
    margin-left: 0; 
}

.yarpp-thumbnail:nth-child(1) .yarpp-thumbnail-title, .yarpp-thumbnail:nth-child(5) .yarpp-thumbnail-title { 
    margin-left: 2px; 
}

.yarpp-thumbnail:nth-child(4) .yarpp-image, .yarpp-thumbnail:nth-child(8) .yarpp-image { 
    margin-right: 0; 
}

.yarpp-thumbnail:nth-child(4) .yarpp-thumbnail-title, .yarpp-thumbnail:nth-child(8) .yarpp-thumbnail-title { 
    margin-right: 2px; 
}

.yarpp-image img { 
    max-width: 100%;
    width: auto; height: auto; 
}

.yarpp-thumbnails-horizontal .yarpp-thumbnail, .yarpp-thumbnail-default, .yarpp-thumbnail-title {
    display: inline-block;
}

.yarpp-thumbnails-horizontal .yarpp-thumbnail {
    border: 1px solid rgba(127, 127, 127, 0.1);
    display: block;
    float: left;
    height: 220px;
    vertical-align: top;
    width: 25%;
}

.yarpp-thumbnail > img, .yarpp-thumbnail-default {
    height: 83px;
    margin: 5px;
    width: 142px;
}
.yarpp-thumbnails-horizontal .yarpp-thumbnail > img, .yarpp-thumbnails-horizontal .yarpp-thumbnail-default {
    display: block;
}
.yarpp-thumbnails-horizontal .yarpp-thumbnail-title {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 7px 7px;
    text-decoration: inherit;
    width: auto;
}
.yarpp-thumbnail-default {
    overflow: hidden;
}
.yarpp-thumbnail-default > img {
    min-height: 83px;
    min-width: 142px;
}


.yarpp-thumbnail-title { 
    color:#000; 
}

.messagebox { position: fixed; z-index: 900; display: none; }
.messagebox .gray-out { min-height: 100%; width: 100%; background-color: #CCC; filter: alpha(opacity=75); opacity: 0.75; -moz-opacity: 0.75; position: fixed; top: 0px; left: 0px; }
.messagebox .container { padding-top: 40px; width: 500px; height: 240px; background-color: #FFF; border: 2px; border-style: solid; border-color: #b6b5bb; position: fixed; top: 50%; left: 50%; margin: -120px 0 0 -260px; }
.messagebox .message { font-size: 20px; color: #7b7575; font-family: Matterhorn, Arial, sans-serif; text-align: center; }
.messagebox .button { width: 121px; height: 39px; background: url("box-button.jpg"); background-repeat: no-repeat; color: #FFF; font-family: Matterhorn, Arial, sans-serif; font-size: 18px; text-align: center; padding-top: 10px; position: absolute; bottom: 25px; left: 190px; cursor: hand; cursor: pointer; }
#submit { width: 121px; height: 39px; font-size: 12px; color: #FFF; font-family: Matterhorn, Arial, sans-serif; background-image: url("images/box-button.jpg"); background-repeat: no-repeat; margin: 0; padding: 0; border: none; cursor: hand; cursor: pointer; }




/* =WordPress Core
-------------------------------------------------------------- */

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 5px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 5px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 5px 20px;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 5px 0;
}

a img.aligncenter {
    display: block;
    margin: 5px auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}



.wp-caption.alignleft {
    margin: 5px 20px 5px 0;
}

.wp-caption.alignright {
    margin: 5px 0 5px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Quizes */

#vqzb_wrapper {
  margin-bottom: 40px
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
table#vqzb_table {
    width: 100%;
    float: left;
}
table#vqzb_table tr {
  display: none;
}

table#vqzb_table tr td {
    border-top: none;
    padding: 0;
}
.question-header {
    border: 12px solid #f2f2f2;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;        
    box-sizing: border-boz;
}

.question-header .table {
	position: relative;
	vertical-align: top;
  padding: 16px 0;
}
.question-header p, .question-header iframe {
    margin: 0 !important;
    padding: 0;
    line-height: 0;
}
.question-header img, .question-header iframe {
    margin: 0;
    width: 100% !important;
}
.question-header h3 {
    display: inline-block;
    padding: 4px 10px 4px 76px;
    color: #2b3745;
    margin: 0 !important;
    vertical-align: text-top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;        
    box-sizing: border-boz;
    color: #333333;
    display: inline-block;
    font-family: Matterhorn;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.3em;
    vertical-align: top;
}
.content-oh-my-disney .question-number {
   background: #d41f26;
}
.content-insider .question-number {
   background: #0eb2ff;
}
.content-disney-playlist .question-number {
   background: #6402ce;
}
.content-disney-style .question-number {
   background: #74c9b5;
}
.question-number {
  background:#000;
    color: #fffbff;
    display: inline-block;
    width: 66px;
    font-size: 2.6em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;        
    box-sizing: border-boz;
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    left: 0;
    line-height: 36px;
}

.question-number.scaler {
  display: block;
  padding-top: 100%;
}

.question-number-text {
  display: block;
  line-height: 1em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  padding: 12px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.answer_list {
    border: 12px solid #f2f2f2;
    border-top: none;
    border-bottom: none;
    float: left;
    background: #f2f2f2;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;        
    box-sizing: border-boz;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
}
.answer_list li {
    display: inline-block;
    margin: 0 0 12px 0;
    width: 25%;
    vertical-align: top;
    font-size: 16px;
}

/* 2 Items */
.answer_list li:first-child:nth-last-child(2),
.answer_list li:first-child:nth-last-child(2) ~ li {
  width: 50%;
}
.answer_list li:first-child:nth-last-child(2) label .scaler,
.answer_list li:first-child:nth-last-child(2) ~ li label .scaler {
  padding-top: 50%;
}

/* 3 Items */
.answer_list li:first-child:nth-last-child(3),
.answer_list li:first-child:nth-last-child(3) ~ li {
  width: 33.333%;
}

.answer_list li:first-child:nth-last-child(3) label .scaler,
.answer_list li:first-child:nth-last-child(3) ~ li label .scaler {
  padding-top: 72%;
}

/* 4 Items */
.answer_list li:first-child:nth-last-child(4),
.answer_list li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}

.answer_list li:first-child:nth-last-child(4) label .scaler,
.answer_list li:first-child:nth-last-child(4) ~ li label .scaler {
  padding-top: 100%;
}
.answer_list li:first-child:nth-last-child(4) label .answer-text,
.answer_list li:first-child:nth-last-child(4) ~ li label .answer-text {
  font-size: 1em;
}

.answer_list li input {
    display: none;
}
.answer_list li label {
    display: block;
    padding: 12px;
    text-align: center;
    background: #fff;
    margin: 0 6px 0 ;
    cursor: pointer;
    color: #0a0211;
  font-family: Matterhorn, Arial, sans-serif;
  font-size:1.1em;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.answer_list li label .scaler {
  display: block;
  padding-top: 100%;
  position: relative;
  z-index: 100;
}

.img-answer .scaler {
  display: none !important;
}

.answer_list li label .answer-text {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.125em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  padding: 12px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  z-index: 1;
}

.img-answer .answer-text {
  position: relative !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  font-size: 16px !important;
  padding: 0 !important;
  text-transform: capitalize !important;
}

.answer_list li label img {
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto 12px;
    width: 100% !important;
}
.answer_list li label:hover {
  background: #c6e9f7;
}

.answer_list li.selected label {
    background: #c6e9f7 !important;
}
.answer_list li.correct label {
    background-color: #55C768 !important;
    color: #fff;
}

.answer_list li.incorrect label {
    background-color: #EA3737 !important;
    color: #fff;
}

.answer_feedback {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%; -webkit-background-size: 90%; -moz-background-size: 90%; -o-background-size: 90%;
}

.correct .answer_feedback {
    display: block;
    background-image: url(../images/quiz_check@2x.png);
}


.incorrect .answer_feedback {
    display: block;
    background-image: url(../images/quiz_x@2x.png);
}



.no-hover .answer_list li label:hover {
  background: #fff;
}
.answer_list li:nth-child(4n+1) label {
    margin-left: 0;
    margin-right: 9px;
}
.answer_list li:nth-child(4n+4) label {
    margin-left: 9px;
    margin-right: 0;
}
.answer_list li:nth-child(4n+2) label {
    margin-left: 3px;
}
.answer_list li:nth-child(4n+3) label {
    margin-right: 3px;
}
#vqzb_table label img {
  margin: 0 auto 12px;
  display:block;
}
#vqzb_question_remain {
  display: none;
  width:100%;
  height:41px;
  padding:12px;
  clear:both;
  border:2px solid #FFF;
  border-top:none;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  background-color:#f2f2f2;
  margin-top:-2px;
}
#quiz-progress-bar-wrap {
  width:90%;
  height:15px;
  float:left;
  background-color:#FFF;
}
#quiz-progress-count {
  float:right;
  width:10%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  font-family: Matterhorn, Arial, sans-serif;
  font-size:1.1em;
  color:#6a676e;
  margin-top:-2px;
  text-align:center;
  white-space: nowrap;

  font-size: 1em;
  font-weight: 600;
  margin-top: -4px;
  text-align: right;
}
.quiz-progress-bar-fill {
  height:15px;
  width:100%;
  background-color:#2195d0;
}

.quiz-selected {
    background: #c6e9f7;
    color: #fff;
}

#vqzb_result_page {
  background-color:#F2F2F2;
  padding:12px;
}

#quiz-results-wrap {
  background-color:#ffffff;
  padding:12px;
}

#quiz-result-image {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-color:#ffffff;
  display:block;
  margin: 0 0 20px;
  vertical-align:top;
  width:100%;
}

  #quiz-result-image img{
    display:block;
    margin: 0 auto;
    max-width: 100%;
  }

#quiz-result-text {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:block;
  padding:0 0 0 16px;
  vertical-align:top;
  width:100%;
}

  #quiz-result-caption{
    float: left;
    margin: 0 2% 0 0;
    width: 58%;
  }

    #quiz-result-caption h1{
      font-size: 1.8em;
      font-weight: 600;
      line-height: 1.8em;
      margin: 3px 0 0 0;
    }

    #quiz-result-caption h2{
      font-size: 1.8em;
      font-weight: 600;
      line-height: 1.4em;
      margin: 3px 0 0 0;
    }

  #quiz-share-contain{
    float: left;
    margin: 18px 0 0;
    width: 40%;
  }

    #quiz-share-facebook {
      max-width:260px;
      width:100%;
      height:42px;
      line-height:42px;
      margin-bottom:12px;
      background:#4C66A4 url('quiz-facebook.png') no-repeat 8px center;
    }

    #quiz-share-pinterest {
      max-width:260px;
      width:100%;
      height:42px;
      line-height:42px;
      margin-bottom:12px;
      background:#CB2027 url('quiz-pinterest.png') no-repeat 8px center;
    }

    #quiz-share-twitter {
      max-width:260px;
      width:100%;
      height:42px;
      line-height:42px;
      background:#55ACEE url('quiz-twitter.png') no-repeat 8px center;
    }

#quiz-retry {
  text-align: center;
  clear: both;
  border-top: 1px solid #F2F2F2;
  margin: 20px 0 0;
  padding: 20px 0 0;
}

#quiz-retry a {
  display: inline-block;
  padding: 0 0 0 30px;
  clear: both;
  font-size: 1.2em;
  margin: 0 auto;
  width: auto;
  background:  url('quiz_retry.jpg') center left no-repeat;
  white-space: nowrap;
  color: #666;
}

#quiz-retry a:hover {
  color: #333;
  text-decoration: none;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  #quiz-retry a {
    background: url('quiz_retry@2x.jpg') left no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
  }  
}

#quiz-share-facebook a, 
#quiz-share-facebook a:hover, 
#quiz-share-facebook a:visited,
#quiz-share-pinterest a,
#quiz-share-pinterest a:hover,
#quiz-share-pinterest a:visited,
#quiz-share-twitter a, 
#quiz-share-twitter a:hover, 
#quiz-share-twitter a:visited {
  font-family: Matterhorn, Arial, sans-serif;
  color:#ffffff;
  text-decoration:none;
  display:block;
  padding:2px 0 0 45px;
}
#vqzb_content {
  min-height: 200px;
}
#vqzb_wrapper .loading {
  position: absolute;
  top: 30%;
  width: 200px;
  z-index:1002;
  overflow: auto;
    background-image: url(../images/loading-oh-my-disney.gif);
    background-repeat: no-repeat;
    background-position: center 12px;
    background-color: #fff;
    font-size: 1.3em;
    height: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 88px 12px 12px;
    text-align: center;
}

.content-oh-my-disney #vqzb_wrapper .loading {
  background-image: url(../images/loading-oh-my-disney.gif);
}

.content-insider #vqzb_wrapper .loading {
  background-image: url(../images/loading-insider.gif);
}

.content-disney-playlist #vqzb_wrapper .loading {
  background-image: url(../images/loading-disney-playlist.gif);
}

.content-disney-style #vqzb_wrapper .loading {
  background-image: url(../images/loading-disney-style.gif);
}


/* pin-it for category */
.h-article-image .pin {
   z-index: 1000000;
   position: absolute;
   top: 25px;
   left: 25px;
   opacity: 0;
   -webkit-transition: opacity 200ms ease-in-out;
   -moz-transition: opacity 200ms ease-in-out;
   transition: opacity 200ms ease-in-out;
}
.h-article-image:hover .pin {
    z-index: 1000000;
    opacity: 1;
}
.c-image-wrap-feature .pin {
    z-index: 1000000;
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.c-image-wrap-feature:hover .pin {
    z-index: 1000000;
    opacity: 1;
}
/* playlist no need for social sharing */
.c-icon-disney-playlist .slide-photo .slide-photo-inner .slide-photo-share {
    display: none!important;
}