/* Oh My Disney Icons */
#c-icon-nav-awww {
	background-image: url('icon-top-oh-my-disney-awww.png');
}

#c-icon-nav-oh-snap {
	background-image: url('icon-top-oh-my-disney-ohsnap.png');
}

#c-icon-nav-retro {
	background-image: url('icon-top-oh-my-disney-retro.png');
}

#c-icon-nav-silly {
	background-image: url('icon-top-oh-my-disney-silly.png');
}

#c-icon-nav-whoa {
	background-image: url('icon-top-oh-my-disney-whoa.png');
}

#c-icon-nav-yum {
	background-image: url('icon-top-oh-my-disney-yum.png');
}

#c-icon-nav-quiz-oh-my-disney {
    background-image: url('icon-top-oh-my-disney-quiz.png');
}

.c-icon-awww {
  background-image: url('icon-article-oh-my-disney-awww.png');
}

.c-icon-oh-snap {
  background-image: url('icon-article-oh-my-disney-ohsnap.png');
}

.c-icon-retro {
  background-image: url('icon-article-oh-my-disney-retro.png');
}

.c-icon-silly {
  background-image: url('icon-article-oh-my-disney-silly.png');
}

.c-icon-whoa {
  background-image: url('icon-article-oh-my-disney-whoa.png');
}

.c-icon-yum {
  background-image: url('icon-article-oh-my-disney-yum.png');
}

.c-icon-quiz-oh-my-disney {
    background-image: url('icon-article-oh-my-disney-quiz.png');
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

	#c-icon-nav-awww {
		background-image: url('icon-top-oh-my-disney-awww@2x.png');
	}

	#c-icon-nav-oh-snap {
		background-image: url('icon-top-oh-my-disney-ohsnap@2x.png');
	}

	#c-icon-nav-retro {
		background-image: url('icon-top-oh-my-disney-retro@2x.png');
	}

	#c-icon-nav-silly {
		background-image: url('icon-top-oh-my-disney-silly@2x.png');
	}

	#c-icon-nav-whoa {
		background-image: url('icon-top-oh-my-disney-whoa@2x.png');
	}

	#c-icon-nav-yum {
		background-image: url('icon-top-oh-my-disney-yum@2x.png');
	}

    #c-icon-nav-quiz-oh-my-disney {
        background-image: url('icon-top-oh-my-disney-quiz@2x.png');
    }

  .c-icon-awww {
    background-image: url('icon-article-oh-my-disney-awww@2x.png');
  }

  .c-icon-oh-snap {
    background-image: url('icon-article-oh-my-disney-ohsnap@2x.png');
  }

  .c-icon-retro {
    background-image: url('icon-article-oh-my-disney-retro@2x.png');
  }

  .c-icon-silly {
    background-image: url('icon-article-oh-my-disney-silly@2x.png');
  }

  .c-icon-whoa {
    background-image: url('icon-article-oh-my-disney-whoa@2x.png');
  }

  .c-icon-yum {
    background-image: url('icon-article-oh-my-disney-yum@2x.png');
  }

  .c-icon-quiz-oh-my-disney{
        background-image: url('icon-article-oh-my-disney-quiz@2x.png');
  }

}

/* Insider Icons */
#c-icon-nav-articles {
	background-image: url('icon-top-insider-articles.png');
}

#c-icon-nav-deals {
	background-image: url('icon-top-insider-deals.png');
}

#c-icon-nav-fan-stories {
	background-image: url('icon-top-insider-fanstories.png');
}

#c-icon-nav-photos {
	background-image: url('icon-top-insider-photos.png');
}

#c-icon-nav-recipes {
	background-image: url('icon-top-insider-recipes.png');
}

#c-icon-nav-trivia {
	background-image: url('icon-top-insider-trivia.png');
}

.c-icon-articles {
  background-image: url('icon-article-insider-articles.png');
}

.c-icon-deals {
  background-image: url('icon-article-insider-deals.png');
}

.c-icon-fan-stories {
  background-image: url('icon-article-insider-fanstories.png');
}

.c-icon-photos {
  background-image: url('icon-article-insider-photos.png');
}

.c-icon-recipes {
  background-image: url('icon-article-insider-recipes.png');
}

.c-icon-trivia {
  background-image: url('icon-article-insider-trivia.png');
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

  #c-icon-nav-articles {
    background-image: url('icon-top-insider-articles@2x.png');
  }

  #c-icon-nav-deals {
    background-image: url('icon-top-insider-deals@2x.png');
  }

  #c-icon-nav-fan-stories {
    background-image: url('icon-top-insider-fanstories@2x.png');
  }

  #c-icon-nav-photos {
    background-image: url('icon-top-insider-photos@2x.png');
  }

  #c-icon-nav-recipes {
    background-image: url('icon-top-insider-recipes@2x.png');
  }

  #c-icon-nav-trivia {
    background-image: url('icon-top-insider-trivia@2x.png');
  }

  .c-icon-articles {
    background-image: url('icon-article-insider-articles@2x.png');
  }

  .c-icon-deals {
    background-image: url('icon-article-insider-deals@2x.png');
  }

  .c-icon-fan-stories {
    background-image: url('icon-article-insider-fanstories@2x.png');
  }

  .c-icon-photos {
    background-image: url('icon-article-insider-photos@2x.png');
  }

  .c-icon-recipes {
    background-image: url('icon-article-insider-recipes@2x.png');
  }

  .c-icon-trivia {
    background-image: url('icon-article-insider-trivia@2x.png');
  }
}

/* Disney Style Icons */
#c-icon-nav-beauty {
  background-image: url('icon-top-disney-style-beauty.png');
}

#c-icon-nav-celebrity {
  background-image: url('icon-top-disney-style-celebrity.png');
}

#c-icon-nav-fashion {
  background-image: url('icon-top-disney-style-fashion.png');
}

#c-icon-nav-lifestyle {
  background-image: url('icon-top-disney-style-lifestyle.png');
}

#c-icon-nav-news {
  background-image: url('icon-top-disney-style-news.png');
}

.c-icon-beauty {
  background-image: url('icon-article-disney-style-beauty.png');
}

.c-icon-celebrity {
  background-image: url('icon-article-disney-style-celebrity.png');
}

.c-icon-fashion {
  background-image: url('icon-article-disney-style-fashion.png');
}

.c-icon-lifestyle {
  background-image: url('icon-article-disney-style-lifestyle.png');
}

.c-icon-news {
  background-image: url('icon-article-disney-style-news.png');
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

  #c-icon-nav-beauty {
    background-image: url('icon-top-disney-style-beauty@2x.png');
  }

  #c-icon-nav-celebrity {
    background-image: url('icon-top-disney-style-celebrity@2x.png');
  }

  #c-icon-nav-fashion {
    background-image: url('icon-top-disney-style-fashion@2x.png');
  }

  #c-icon-nav-lifestyle {
    background-image: url('icon-top-disney-style-lifestyle@2x.png');
  }

  #c-icon-nav-news {
    background-image: url('icon-top-disney-style-news@2x.png');
  }

  .c-icon-beauty {
    background-image: url('icon-article-disney-style-beauty@2x.png');
  }

  .c-icon-celebrity {
    background-image: url('icon-article-disney-style-celebrity@2x.png');
  }

  .c-icon-fashion {
    background-image: url('icon-article-disney-style-fashion@2x.png');
  }

  .c-icon-lifestyle {
    background-image: url('icon-article-disney-style-lifestyle@2x.png');
  }

  .c-icon-news {
    background-image: url('icon-article-disney-style-news@2x.png');
  }

}

/* Disney Playlist Icons */
#c-icon-nav-interviews {
  background-image: url('icon-top-disney-playlist-interviews.png');
}

#c-icon-nav-music-news {
  background-image: url('icon-top-disney-playlist-news.png');
}

#c-icon-nav-tracks {
  background-image: url('icon-top-disney-playlist-tracks.png');
}

#c-icon-nav-videos {
  background-image: url('icon-top-disney-playlist-videos.png');
}

#c-icon-nav-lyrics {
    background-image: url('icon-top-disney-playlist-lyrics.png');
}

#c-icon-nav-quiz-disney-playlist {
    background-image: url('icon-top-disney-playlist-quiz.png');
}

.c-icon-interviews {
  background-image: url('icon-article-disney-playlist-interviews.png');
}

.c-icon-music-news {
  background-image: url('icon-article-disney-playlist-news.png');
}

.c-icon-tracks {
  background-image: url('icon-article-disney-playlist-tracks.png');
}

.c-icon-videos {
  background-image: url('icon-article-disney-playlist-videos.png');
}

.c-icon-lyrics {
    background-image: url('icon-article-disney-playlist-lyrics.png');
}

.c-icon-quiz-disney-playlist{
    background-image: url('icon-article-disney-playlist-quiz.png');
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

  #c-icon-nav-interviews {
    background-image: url('icon-top-disney-playlist-interviews@2x.png');
  }

  #c-icon-nav-music-news {
    background-image: url('icon-top-disney-playlist-news@2x.png');
  }

  #c-icon-nav-tracks {
    background-image: url('icon-top-disney-playlist-tracks@2x.png');
  }

  #c-icon-nav-videos {
    background-image: url('icon-top-disney-playlist-videos@2x.png');
  }

  #c-icon-nav-lyrics {
    background-image: url('icon-top-disney-playlist-lyrics@2x.png');
  }

  #c-icon-nav-quiz-disney-playlist {
    background-image: url('icon-top-disney-playlist-quiz@2x.png');
  }

  .c-icon-interviews {
    background-image: url('icon-article-disney-playlist-interviews@2x.png');
  }

  .c-icon-music-news {
    background-image: url('icon-article-disney-playlist-news@2x.png');
  }

  .c-icon-tracks {
    background-image: url('icon-article-disney-playlist-tracks@2x.png');
  }

  .c-icon-videos {
    background-image: url('icon-article-disney-playlist-videos@2x.png');
  }

  .c-icon-lyrics {
    background-image: url('icon-article-disney-playlist-lyrics@2x.png');
  }

  .c-icon-quiz-disney-playlist {
    background-image: url('icon-article-disney-playlist-quiz@2x.png');
  }

}