
.showpoints {
      background-color: #6d6de9;
  color: white;
  padding: 5px;
  width: 60%;
  font-size: 1.5em;

}
.filterschoice h3 {
    margin-bottom: 0;
  width: 245px;
  color: white;
  font-weight: 100;
  font-style: italic;
  padding: 6px;
  background: #f4b6b6;
  margin-top: 6px;
}
.case-study {
    text-align: left;

}
h2.case-study {
    text-align: left;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 20px;
      letter-spacing: 6px;
}
h4.case-study {
    font-size: 2em;
    text-transform:none;

}
.case-metrics {
    float: left;
    width: 33%;
    text-align: left;
    overflow: hidden;

}
.case-metrics span {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;

}

.case-metrics h3 {
    font-size: 3.2em;
    text-align: center;
    line-height: 1em;
    text-transform: lowercase;
    margin-top: 30px;

}

.case-metrics p {
   padding: 10px;

}

.case-metrics h5 {
  font-size: 2.6em;
  text-align: center;
  line-height: 0em;
  text-transform: lowercase;
  margin-top: 0px;

}
.case-metrics img {
    width: 100%;
}
.case-example img {
    width: 90%;
    margin-top: 50px;
}
.case-arrow {
    margin:auto; 
    display:block; 
    width:35px; 
    margin-top: 50px;
    margin-bottom: -30px;
    color: #333;
    font-size: 3em;
}
.case-arrow img{
   width: 35px;
}



@media(max-width: 992px) {
    footer ul.madeinny img {
    margin-top: 10px;
}
}


footer {
    padding: 25px 0;
    text-align: center;
    background-color: #eeeeee;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #e96d6d;
}
