#ntv-vest a img { 
	width: 100%;
	border: none 
}
#ntv-vest .box.article {
	width:100%;
}
#ntv-vest .box.article a {
	text-decoration:none;
	display:block;
}
#ntv-vest .box.article a:hover {
	text-decoration:underline;
}
#ntv-vest .box.article a.thumb {
	display:block;
	position:relative;
	margin:0 0 5px;
	max-height:170px;
	overflow:hidden;
}
#ntv-vest .box.article a.thumb img {
	max-width:100%;
	display:block;
}
#ntv-vest .box.article h4 {
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:10px 0 0;
	color: #000;
}
#ntv-vest .box.article cite.box_byline {
	font-size:10px;
	margin:10px 0 0;
	display:block;
}
#ntv-vest .box.article cite.box_byline a {
	color:#000;
	font:bold 10px Verdana;
	position:relative;
	padding:0 0 0 25px;
	text-decoration:none;
}
#ntv-vest .box.article cite.box_byline a:hover {
	text-decoration:underline;
}
#ntv-vest .box.article cite.box_byline a img.avatar {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	top:2px;
	left:0;
	margin:0 5px 0 0;
}
#ntv-vest .box.article cite.box_byline a strong {
	font-weight:bold;
}
#ntv-vest .box.article cite.box_byline a span.desc {
	font-weight:normal;
	color:#666;
	display:block;
}
.advoice {
	color:#920A12;
	font-style:italic;
}
.advoice .brandvoice {
	color:#000;
	font-style:normal;
}
