<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" lang="en">
<meta content="width=device-width" name="viewport">
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <title>IBM Personality Quiz</title>

<link rel="shortcut icon" crossorigin="" href="./quiz_files/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="./quiz_files/permalink.css" type="text/css">

<script src="./quiz_files/one.js" type="text/javascript"></script>

</head>


<body background="./quiz_files/bg-image.jpg">

<div id="plyfe_sub_plyfe" class="quiz">
		<div><img src="./quiz_files/cover.png" alt="cover" class="quiz_cover"></div>
	
	<div id="superlist_3421352_3618830" rel:plyfe_num="2">
		<div class="quiz not_numbered personality_quiz" rel:quiz_type="personality" rel:swap="0" rel:question_count="5" rel:pixel="" rel:result_verb=" checked off" rel:result_subject=" on this list!">
			
			<ol><!-- Question 1 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q1.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>For work purposes mostly</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>All the time—I put everything on the cloud</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>Is Facebook considered the cloud?</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 2 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q2.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s the platform to be on</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s the future</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>It’s another tech fad</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 3 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q3.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s a testing ground</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s an experimental tech tool</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>It’s an efficiency engine</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 4 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q4.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<p>IT</p>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<p>Business</p>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<p>Both</p>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 5 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q5.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>All of the above, thanks</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>SaaS and IaaS are my staples</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<p>Huh?</p>
								<br clear="all">
							</li>
						</ol>
				</li>	

				<!-- Question 6 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q6.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<p>Private</p>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<p>Hybrid</p>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<p>Public</p>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 7 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q7.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>Email a colleague</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>Reach out to all global offices</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>I ask the Internet</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 8 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q8.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>We only touch base when we need to</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>We get on weekly status calls</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>We tap into our global databases</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 9 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q9.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>To create new means for one-on-one engagement</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>To discover new markets</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>To gather insights and analysis</span>
								<br clear="all">
							</li>
						</ol>
				</li>	

				<!-- Question 10 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q10.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>For promoting new products on social and mobile</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>To help us brainstorm, collaborate and perform the operations to design and launch</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>To expedite the operational processes</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 11 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q11.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>Gather as much market research as possible</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>Tap into our insights databases and launch a new strategy</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>Send out an office-wide, all-hands-on-deck email</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 12 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q12.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s a strategic device that helps us develop new business models</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s a data-driven tool that helps us make better market decisions</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>It’s a key platform for faster communication</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 13 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q13.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s helping us think for the future and execute today</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>It’s changing processes</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>It’s helping industries keep up with the customer</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 14 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q14.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>No concerns at all</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>The technology is too new</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>Can technology keep up with my goals?</span>
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 15 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q15.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>Slow and steady wins the race</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<span>Keep the tempo</span>
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<span>To infinity and beyond!</span>
								<br clear="all">
							</li>
						</ol>
				</li>			


		</ol>
	
	
		<div class="quiz_result_area" style="display: none;">
			<div class="quiz_tally_results" style="display: none;">
				<h1 style="display:none">HOW MUCH OF A TECH LOVER ARE YOU?</h1>
          <div class="headline-1 quiz_tally"></div>
						<ol>
									<!-- index 0 -->
									<li class="quiz_result has_result_image" style="display:none" rel:range_start="0" rel:range_end="0" rel:name="Fargo" rel:description="You are a critical thinker and love a good puzzle. You rarely say no to a challenge and you were born to lead. Nothing can stop you from seeking justice, not even a giant-ass Paul Bunyan statue. You can withstand any type of obstacle, including freezing cold temperatures.">
		              	<div class="headline-1" style="display:none">You got: <b>Challenger</b></div><img class="results" src="./quiz_files/r1.png" width="300px"/>
											<h2>Up-to-date with market trends, you’re comfortable with using cloud as an efficiency engine. You’re leading some rivals, but more cloud experimentation can help your organization perform extraordinarily. Data delivered by cloud can help you evolve your organization with new business strategies</h2>
											<div class="answer_shares">
											<h1 class="bold">SHARE YOUR RESULTS</h1></br>
											<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 35px;">
												<div class="fb_share">
													<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
													</a>
												</div>
												<div class="tw_share">
													<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:73px; display:inline; margin:0">
													</a>
												</div>
												<div class="email_share">
													<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
													</a>
												</div>
											</div>
										</div>
										<a href="http://slidesha.re/1uoGzj0"><img class="adlink" src="./quiz_files/adlink-2.png" alt="Ad Link"></a>
									</li>
									
									<!-- index 1 -->
									<li class="quiz_result has_result_image" style="display:none" rel:range_start="0" rel:range_end="0" rel:name="No Country For Old Men" rel:description="You are a strong and serious individual. You work hard for the things you have in life, but you can sometimes your ambition gets the better of you. However, after a tough work week, there&amp;#39;s nothing better than relaxing outdoors and unplugging for a while. Whenever conflict arises, you&amp;#39;re the first to confront it and talk it out.">
			              <div class="headline-1" style="display:none">You got: <b>Pacesseter</b></div><img class="results" src="./quiz_files/r2.png"/>
											<h2>Reinvention is your game. While others let cloud do all the work, you’re using cloud for data digging and sharing, open-integration collaboration, and strategic reinvention. That experimentation helps you innovate, collaborate, execute and react to market changes faster than ever—and that makes it hard for your peers to keep up with you.</h2>
											<div class="answer_shares">
											<h1 class="bold">SHARE YOUR RESULTS</h1></br>
											<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 35px;">
												<div class="fb_share">
													<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
													</a>
												</div>
												<div class="tw_share">
													<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:73px; display:inline; margin:0">
													</a>
												</div>
												<div class="email_share">
													<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
													</a>
												</div>
											</div>
										</div>
										<a href="http://slidesha.re/1uoGzj0"><img class="adlink" src="./quiz_files/adlink-3.png" alt="Ad Link"></a>
									</li>
									
									<!-- index 2 Beats RED-->
									<li class="quiz_result has_result_image" style="display:none" rel:range_start="0" rel:range_end="0" rel:name="A Serious Man" rel:description="Family is one of the most important things in your life. You couldnt get through anything without them. You are a loving and compassionate individual who seeks advice from the wise people around you. Sometimes things might not go your way, but you know there&amp;#39;s always something better waiting in the future.">
			              <div class="headline-1" style="display:none">You got: <b>Chaser</b></div><img class="results" src="./quiz_files/r3.png"/>
										<h2>You’re cautious when it comes to new tech. But have no fear: Businesses actively adopting cloud’s open-integration, data-delivery and sharing capabilities are growing revenue and gross profit faster than ever. And you can too. Prioritizing open-source cloud platforms can help you extend your organization more easily, moving you into new realms of success.</h2>
										<div class="answer_shares">
											<h1 class="bold">SHARE YOUR RESULTS</h1></br>
											<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 35px;">
												<div class="fb_share">
													<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
													</a>
												</div>
												<div class="tw_share">
													<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:73px; display:inline; margin:0">
													</a>
												</div>
												<div class="email_share">
													<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
													</a>
												</div>
											</div>
										</div>
										<a href="http://slidesha.re/1uoGzj0"><img class="adlink" src="./quiz_files/adlink-1.png" alt="Ad Link"></a>
									</li>
					</ol>
				</div>			
	</div>
</div>



</body></html>