<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" lang="en">
<meta content="width=device-width" name="viewport">
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <title>IBM Personality Quiz</title>

<link rel="shortcut icon" crossorigin="" href="./quiz_files/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="./quiz_files/permalink.css" type="text/css">

<script src="./quiz_files/one.js" type="text/javascript"></script>

</head>


<body background="./quiz_files/bg-image.jpg">

<div id="plyfe_sub_plyfe" class="quiz">
		<div><img src="./quiz_files/cover.png" alt="cover" class="quiz_cover"></div>
	
	<div id="superlist_3421352_3618830" rel:plyfe_num="2">
		<div class="quiz not_numbered personality_quiz" rel:quiz_type="personality" rel:swap="0" rel:question_count="5" rel:pixel="" rel:result_verb=" checked off" rel:result_subject=" on this list!">
			
			<ol><!-- Question 1 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q1.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c1a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c1b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c1c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 2 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q2.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c2a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c2b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c2c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 3 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q3.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c3a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c3b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c3c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 4 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q4.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c4a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c4b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c4c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 5 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q5.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c5a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c5b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c5c.png">
								<br clear="all">
							</li>
						</ol>
				</li>	

				<!-- Question 6 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q6.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c6a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c6b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c6c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 7 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q7.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c7a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c7b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c7c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 8 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q8.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c8a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c8b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c8c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 9 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q9.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c9a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c9b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c9c.png">
								<br clear="all">
							</li>
						</ol>
				</li>	

				<!-- Question 10 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q10.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c10a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c10b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c10c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 11 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q11.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c11a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c11b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c11c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 12 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q12.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c12a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c12b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c12c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 13 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q13.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c13a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c13b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c13c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 14 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q14.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c14a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c14b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c14c.png">
								<br clear="all">
							</li>
						</ol>
				</li>

				<!-- Question 15 -->
				<li class="quiz_question image quiz_v2" rel:question_type="image">
					<div class="quiz_question_header">
           	<img class="quiz_img" src="./quiz_files/q15.png" width="625" height="298">
          </div>
						<ol class="smallImgAnswers">
							<li class="quiz_answer"  rel:personality_index="2" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c15a.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="0" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
								<img src="./quiz_files/c15b.png">
								<br clear="all">
							</li>
							<li class="quiz_answer"  rel:personality_index="1" rel:gtrack_id="quiz-answer" rel:gt_act="quiz-answer">
									<img src="./quiz_files/c15c.png">
								<br clear="all">
							</li>
						</ol>
				</li>			


		</ol>
	
	
		<div class="quiz_result_area" style="display: none;">
			<div class="quiz_tally_results" style="display: none;">
				<h1 style="display:none">HOW MUCH OF A TECH LOVER ARE YOU?</h1>
          <div class="headline-1 quiz_tally"></div>
						<ol>
									<!-- index 0 -->
									<li class="quiz_result" style="display:none" rel:range_start="0" rel:range_end="0">
										<div class="quiz_end has_result_image">
			              	<div class="headline-1" style="display:none">You got: <b>Challenger</b></div><img class="results" src="./quiz_files/r1.png" style="width:50%"/>
												<h2>Up-to-date with market trends, you’re comfortable with using cloud as an efficiency engine. You’re leading some rivals, but more cloud experimentation can help your organization perform extraordinarily. Data delivered by cloud can help you evolve your organization with new business&nbsp;strategies</h2>
												<div class="answer_shares">
												<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 63px;">
													<div class="fb_share">
														<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="tw_share">
														<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="email_share">
														<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
												</div>
											</div>
										</div>
										<a href="http://slidesha.re/1uoGzj0" target="_blank"><img class="adlink" src="./quiz_files/adlink-2.png" alt="Ad Link"></a>
									</li>
									
									<!-- index 1 -->
									<li class="quiz_result" style="display:none" rel:range_start="0" rel:range_end="0">
										<div class="quiz_end has_result_image">
				              <div class="headline-1" style="display:none">You got: <b>Pacesseter</b></div><img class="results" src="./quiz_files/r2.png" style="width:50%"/>
												<h2>Reinvention is your game. While others let cloud do all the work, you’re using cloud for data digging and sharing, open-integration collaboration, and strategic reinvention. That experimentation helps you innovate, collaborate, execute and react to market changes faster than ever—and that makes it hard for your peers to keep up with&nbsp;you.</h2>
												<div class="answer_shares">
												<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 63px;">
													<div class="fb_share">
														<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="tw_share">
														<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="email_share">
														<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
												</div>
											</div>
										</div>
										<a href="http://slidesha.re/1uoGzj0" target="_blank"><img class="adlink" src="./quiz_files/adlink-3.png" alt="Ad Link"></a>
									</li>
									
									<!-- index 2 Beats RED-->
									<li class="quiz_result" style="display:none" rel:range_start="0" rel:range_end="0">
										<div class="quiz_end has_result_image">
				              <div class="headline-1" style="display:none">You got: <b>Chaser</b></div><img class="results" src="./quiz_files/r3.png" style="width:50%"/>
											<h2>You’re cautious when it comes to new tech. But have no fear: Businesses actively adopting cloud’s open-integration, data-delivery and sharing capabilities are growing revenue and gross profit faster than ever. And you can too. Prioritizing open-source cloud platforms can help you extend your organization more easily, moving you into new realms of&nbsp;success.</h2>
											<div class="answer_shares">
												<div class="answer_shares_buttons" style="background-image: url('./quiz_files/share.png'); padding:8px; width:220px; height: 63px;">
													<div class="fb_share">
														<a class="fb_share share_btn" href="javascript:fbShare('<%= @referral_url %>', 550, 300, '<%= Facebook.config[:app_id] %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
													<div class="tw_share">
														<a class="tw_share share_btn" href="javascript:twShare('<%= @referral_url %>', 'ibm', 550, 300);" style="width:78px; display:inline; margin:0">
														</a>
													</div>
													<div class="email_share">
														<a class="email_share share_btn" href="javascript:emailShare('<%= @referral_url %>');" style="width:73px; display:inline; margin:0">
														</a>
													</div>
												</div>
											</div>
										</div>
										<a href="http://slidesha.re/1uoGzj0" target="_blank"><img class="adlink" src="./quiz_files/adlink-1.png" alt="Ad Link"></a>
									</li>
					</ol>
				</div>			
	</div>
</div>



</body></html>